:root {}

// шрифты
$ff-open: 'Open Sans', sans-serif;
$ff-tiktok: 'TikTok Sans', sans-serif;
$ff-code: 'Source Code Pro', monospace;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'laptop': 1340,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-accent: #000;
$c-accent-hover: rgba(0, 0, 0, 0.7);
$c-bg-main: #F3F3F3;
$c-bg-grey: #d5d5d5;
$c-bg-dark: #1C1C1C;
$c-text: #111;
$c-text-grey: #969696;
$c-text-btn: #1c1c1c;
$c-text-light: #7B7B7B;
$c-error: #EA4C3A;
$c-link: #2A66B0;


$c-accent-middle: #D5F0D3;
$c-accent-light: #D5F0D3;
$c-accent-dark: #073423;
$c-accent-title: #6CC765;
$c-accent-text: #4C9E50;
$c-accent-btn: #C5F0C2;
$c-accent-big-btn: #D5F0D3;
$c-accent-2: #FBF9F0;
$c-accent-3: #E2ECF9;
$c-border: #EAEDEC;
$c-border-2: #CAD3D0;
$c-table-header: #D5F0D3;
$c-border-op: rgba(0, 0, 0, 0.2);

// скругления

$br-20: 20px;
$br-10: 10px;

// переходы
$tr: .3s linear;
$tr-long: .5s linear;