-
    const defaultCategoryCardProps = {
        classes: '',
        img: 'img/categories/category_1.webp',
        title: 'Нетели',
        count: '84 животных'
    }

mixin category-card(props= defaultCategoryCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultCategoryCardProps.classes,
            img: props.img ? props.img : defaultCategoryCardProps.img,
            title: props.title ? props.title : defaultCategoryCardProps.title,
            count: props.count ? props.count : defaultCategoryCardProps.count,
        }

    .category-card(class= checkProps.classes)&attributes(attributes)
        a.category-card__link(href="javascript:void(0);")
        .category-card__img
            img(src=checkProps.img alt=checkProps.title)
        .category-card__content
            .category-card__left
                +title({
                    size: '20',
                    text: checkProps.title
                })
                .category-card__count!= checkProps.count
            .category-card__icon
                svg 
                    use(xlink:href=`img/sprites/sprite.svg#arrow_link_down`)