.contacts-details {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 32px;

    }

    &__header {
        padding-right: 230px;

        @include max(xs) {
            padding-right: 0;
            padding-bottom: 56px;
        }
    }

    &__content {
        display: flex;
        gap: 24px;

        @include max(laptop) {
            flex-direction: column;
            gap: 32px;
        }

        @include max(tablet) {
            gap: 24px;
        }
    }

    &__side {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 0 0 calc((100% - 24px) / 2);

        @include max(laptop) {
            gap: 24px;
            flex: 0 0 auto;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        break-inside: avoid;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text-light;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__text {
        font-family: $ff-tiktok;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: $c-text;

        @include max(mobile) {
            font-size: 16px;
        }
    }

    &__link {
        transition: all $tr;
        opacity: 1;

        &:hover {
            opacity: 0.7;
        }
    }

    &__columns {
        columns: 3;
        column-gap: 30px;
        border-bottom: 1px solid $c-border;


        .contacts-details__item {
            margin-bottom: 30px;

            @include max(laptop) {
                margin-bottom: 24px;
            }
        }

        @include max(laptop) {
            column-gap: 24px;
        }

        @include max(mobile) {
            columns: 2;
        }

        @include max(xs) {
            columns: 1;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}