-
    const defaultContactsDetailsProps = {
        classes: ''
    }

mixin contacts-details(props= defaultContactsDetailsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultContactsDetailsProps.classes
        }

    section.contacts-details(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .contacts-details__container
                    .tabs-block(data-js="tabsBlock")
                        .tabs-block__tabs.custom-scrollbar(data-js="customScrollbar")
                            .tabs-block__list(data-js="tabsBlockList")
                                .tabs-block__tab.active(data-index="0" data-js="tabsBlockTab")
                                    span ООО «АГРОФИРМА ТРИО»
                                .tabs-block__tab(data-index="1" data-js="tabsBlockTab")
                                    span ООО «ХОЛДИНГ ТРИО»

                        .tabs-block__slides
                            .tabs-block__slide.active(data-js="tabsBlockSlide")
                                .contacts-details__content
                                    .contacts-details__side
                                        .contacts-details__item
                                            .contacts__title.title--26 Полное наименование:
                                            .contacts__text Общество с ограниченной ответственностью «АГРОФИРМА ТРИО»
                                        .contacts-details__item
                                            .contacts__title.title--26 Юридический адрес:
                                            .contacts__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                        .contacts-details__item
                                            .contacts__title.title--26 Почтовый адрес:
                                            .contacts__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                    .contacts-details__side
                                        .contacts-details__columns
                                            .contacts__subtitle ИНН <span class="contacts__text">4807014182</span>
                                            .contacts__subtitle КПП <span class="contacts__text">480601001</span>
                                            .contacts__subtitle ОГРН <span class="contacts__text">1104807000430</span>
                                            .contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
                                            .contacts__subtitle ОКОГУ  <span class="contacts__text">4210014</span>
                                            .contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
                                        .contacts-details__item
                                            .contacts__subtitle Р/С <span class="contacts__text">40702810555130003482 в северо-западный банк ПАО СБЕРБАНК</span>
                                            .contacts__subtitle К/С <span class="contacts__text">30101810500000000653</span>
                                            .contacts__subtitle БИК <span class="contacts__text">044030653</span>

                            .tabs-block__slide(data-js="tabsBlockSlide")
                                .contacts-details__content
                                    .contacts-details__side
                                        .contacts-details__item
                                            .contacts__title.title--26 Полное наименование:
                                            .contacts__text Общество с ограниченной ответственностью «АГРОФИРМА ТРИО»
                                        .contacts-details__item
                                            .contacts__title.title--26 Юридический адрес:
                                            .contacts__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                        .contacts-details__item
                                            .contacts__title.title--26 Почтовый адрес:
                                            .contacts__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                    .contacts-details__side
                                        .contacts-details__columns
                                            .contacts__subtitle ИНН <span class="contacts__text">4807014182</span>
                                            .contacts__subtitle КПП <span class="contacts__text">480601001</span>
                                            .contacts__subtitle ОГРН <span class="contacts__text">1104807000430</span>
                                            .contacts__subtitle ОКПО <span class="contacts__text">69363963</span>
                                            .contacts__subtitle ОКОГУ  <span class="contacts__text">4210014</span>
                                            .contacts__subtitle ОКАТО <span class="contacts__text">24401370000</span>
                                        .contacts-details__item
                                            .contacts__subtitle Р/С <span class="contacts__text">40702810555130003482 в северо-западный банк ПАО СБЕРБАНК</span>
                                            .contacts__subtitle К/С <span class="contacts__text">30101810500000000653</span>
                                            .contacts__subtitle БИК <span class="contacts__text">044030653</span>