-
    const defaultContactsDetailsProps = {
        classes: ''
    }

mixin contacts-details(props= defaultContactsDetailsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultContactsDetailsProps.classes
        }

    section.contacts-details(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .contacts-details__container
                    .tabs-block(data-js="tabsBlock")
                        .tabs-block__tabs.custom-scrollbar(data-js="customScrollbar")
                            .tabs-block__list(data-js="tabsBlockList")
                                .tabs-block__tab.active(data-index="0" data-js="tabsBlockTab")
                                    span ООО «АГРОФИРМА ТРИО»
                                .tabs-block__tab(data-index="1" data-js="tabsBlockTab")
                                    span ООО «ХОЛДИНГ ТРИО»

                        .tabs-block__slides
                            .tabs-block__slide.active(data-js="tabsBlockSlide")
                                .contacts-details__content
                                    .contacts-details__side
                                        .contacts-details__item
                                            .contacts-details__title Полное наименование:
                                            .contacts-details__text Общество с ограниченной ответственностью «АГРОФИРМА&nbsp;ТРИО»
                                        .contacts-details__item
                                            .contacts-details__title Юридический адрес:
                                            .contacts-details__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                        .contacts-details__item
                                            .contacts-details__title Почтовый адрес:
                                            .contacts-details__text 399559, обл. Липецкая, р-н Долгоруковский, с. Дубовец
                                    .contacts-details__side
                                        .contacts-details__columns
                                            .contacts-details__item
                                                .contacts-details__title ИНН
                                                .contacts-details__text 4807014182</span>
                                            .contacts-details__item
                                                .contacts-details__title КПП
                                                .contacts-details__text 480601001
                                            .contacts-details__item
                                                .contacts-details__title ОГРН
                                                .contacts-details__text 1104807000430
                                            .contacts-details__item
                                                .contacts-details__title ОКПО
                                                .contacts-details__text 69363963
                                            .contacts-details__item
                                                .contacts-details__title ОКОГУ 
                                                .contacts-details__text 4210014
                                            .contacts-details__item
                                                .contacts-details__title ОКАТО
                                                .contacts-details__text 24401370000
                                        .contacts-details__block
                                            .contacts-details__item
                                                .contacts-details__title Р/С
                                                .contacts-details__text 40702810555130003482 в северо-западный банк ПАО&nbsp;СБЕРБАНК
                                            .contacts-details__item
                                                .contacts-details__title К/С
                                                .contacts-details__text 30101810500000000653
                                            .contacts-details__item
                                                .contacts-details__title БИК
                                                .contacts-details__text 044030653

                            .tabs-block__slide(data-js="tabsBlockSlide")
                                .contacts-details__content
                                    .contacts-details__side
                                        .contacts-details__item
                                            .contacts-details__title Полное наименование:
                                            .contacts-details__text Общество с ограниченной ответственностью «ХОЛДИНГ&nbsp;ТРИО»
                                        .contacts-details__item
                                            .contacts-details__title Юридический адрес:
                                            .contacts-details__text 398017, г. Липецк, ул. Металлургов, 1
                                        .contacts-details__item
                                            .contacts-details__title Почтовый адрес:
                                            .contacts-details__text 398017, г. Липецк, ул. Металлургов, 1
                                    .contacts-details__side
                                        .contacts-details__columns
                                            .contacts-details__item
                                                .contacts-details__title ИНН
                                                .contacts-details__text 4807014182
                                            .contacts-details__item
                                                .contacts-details__title КПП
                                                .contacts-details__text 480601001
                                            .contacts-details__item
                                                .contacts-details__title ОГРН
                                                .contacts-details__text 1104807000430
                                            .contacts-details__item
                                                .contacts-details__title ОКПО
                                                .contacts-details__text 69363963
                                            .contacts-details__item
                                                .contacts-details__title ОКОГУ 
                                                .contacts-details__text 4210014
                                            .contacts-details__item
                                                .contacts-details__title ОКАТО
                                                .contacts-details__text 24401370000
                                        .contacts-details__block
                                            .contacts-details__item
                                                .contacts-details__title Р/С
                                                .contacts-details__text 40702810555130003482 в&nbsp;северо-западный банк ПАО&nbsp;СБЕРБАНК
                                            .contacts-details__item
                                                .contacts-details__title К/С
                                                .contacts-details__text 30101810500000000653
                                            .contacts-details__item
                                                .contacts-details__title БИК
                                                .contacts-details__text 044030653