.socials {
    display: flex;
    align-items: center;
    gap: 7px;

    &__item {
        width: 32px;
        height: 32px;
        border-radius: 10px;
        color: $c-white;
        background-color: $c-accent;
        display: flex !important;
        align-items: center;
        justify-content: center;
        transition: all $tr linear;

        &:hover {
            background-color: $c-accent-hover;
        }

        svg {
            width: 20px;
            height: 20px;
        }

    }
}