-
    const defaultSocialsProps = {
        classes: '',
        mode: '',
        icons: [
            'telegram',
        ]
    }

mixin socials(props= defaultSocialsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSocialsProps.classes,
            mode: props.mode ? props.mode : defaultSocialsProps.mode,
            icons: props.icons ? props.icons : defaultSocialsProps.icons,
        }

    - let modeClass = checkProps.mode.length > 0 ? `socials--${checkProps.mode}` : ''

    .socials(class= checkProps.classes + ' ' + modeClass)&attributes(attributes)
        - let counter = 0
        - let icons = checkProps.icons
        - let maxValue = icons.length
        - while(counter < maxValue)
            a.socials__item(href="javascript:void(0);")
                svg 
                    use(xlink:href=`img/sprites/sprite.svg#${icons[counter]}`)

            - counter++