.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    transition: top $tr;

    .gkt-container__inner {
        transition: all $tr;
        border-radius: $br-20;

        @include max(mobile) {
            border-radius: $br-10;
        }
    }

    &--fixed {
        top: 20px;

        @include max(mobile) {
            top: 10px;
        }
    }

    &--fixed .gkt-container__inner {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    }

    &__container {
        padding-bottom: 0;

        @include max(large) {
            padding-bottom: 0;
        }

        @include max(laptop) {
            padding-bottom: 0;
        }

        @include max(tablet) {
            padding-bottom: 0;
        }

        @include max(mobile) {
            padding-bottom: 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 20px 0;

        @include max(large) {
            gap: 20px;
        }

        @include max(laptop) {
            padding: 10px 0;
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__logo {
        flex: 0 0 143px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(large) {
            flex-basis: 120px;
        }

        @include max(laptop) {
            margin-right: auto;
        }

        @include max(mobile) {
            flex-basis: 100px;
        }
    }

    &__nav {
        flex: 1 1 100%;

        @include max(laptop) {
            display: none;
        }
    }

    &__sub {
        position: absolute;
        left: 0;
        top: 80%;
        visibility: hidden;
        opacity: 0;
        transition: all $tr;
        z-index: 10;
    }

    &__contacts {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 30px;

        @include max(large) {
            gap: 12px;
        }

        @include max(xs) {
            gap: 10px;
        }
    }

    &__contact {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(large) {
            font-size: 16px;
        }

        @include max(laptop) {
            display: none;
        }
    }

    &__contact {
        a {
            color: $c-text;
            opacity: 1;
            transition: all $tr;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__contact .site-header__sub {
        left: auto;
        right: -9px;
        min-width: 206px;
        padding-bottom: 3px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -10px;
            width: 100%;
            height: 11px;
        }
    }

    &__contact:hover {
        .site-header__sub {
            visibility: visible;
            opacity: 1;
            top: calc(100% + 7px);
        }

        .main-menu__chevron {
            transform: rotate(180deg);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
    }

    &__cart,
    &__lk {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-accent;
        transition: all $tr;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 24px;
            height: 24px;
        }

    }

    &__cart {
        padding-right: 20px;

        span {
            position: absolute;
            left: 12px;
            top: -8.5px;
            padding: 6.5px 7px;
            border-radius: 50px;
            background-color: $c-bg-grey;
            font-weight: 600;
            font-size: 11px;
            line-height: 100%;
            letter-spacing: 0;
            color: $c-text;

            @include max(xs) {
                padding: 4.5px 5px;
                font-size: 10px;
            }
        }
    }

    &__callback {
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-grey;
        transition: all $tr;
        cursor: pointer;

        &:hover {
            color: $c-text;
        }

        @include max(laptop) {
            display: none;
        }
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 32px;
            height: 32px;

            @include max(xs) {
                width: 26px;
                height: 26px;
            }
        }

        @include max(laptop) {
            display: flex;
        }
    }
}