.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    padding: 20px 0;
    background-color: $c-bg-main;

    @include max(laptop) {
        padding: 10px 0;
    }

    &--fixed {
        background-color: $c-white;
    }

    &__container {
        padding-bottom: 0;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 60px;

        @include max(large) {
            gap: 30px;
        }
    }

    &__logo {
        flex-shrink: 0;

        @include max(laptop) {
            margin-right: auto;
        }
    }

    &__nav {
        flex: 1 1 100%;

        @include max(laptop) {
            display: none;
        }
    }

    &__sub {
        position: absolute;
        left: 0;
        top: 80%;
        visibility: hidden;
        opacity: 0;
        transition: all $tr;
        z-index: 10;
    }

    &__contacts {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 30px;

        @include max(large) {
            gap: 20px;
        }
    }

    &__contact {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;

        @include max(laptop) {
            display: none;
        }
    }

    &__contact {
        a {
            color: $c-text;
            opacity: 1;
            transition: all $tr;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__contact .site-header__sub {
        left: auto;
        right: -9px;
        min-width: 206px;
        padding-bottom: 3px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -10px;
            width: 100%;
            height: 11px;
        }
    }

    &__contact:hover {
        .site-header__sub {
            visibility: visible;
            opacity: 1;
            top: calc(100% + 7px);
        }

        .main-menu__chevron {
            transform: rotate(180deg);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
    }

    &__cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        color: $c-accent;
        transition: all $tr;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        span {
            position: absolute;
            left: 12px;
            top: -8.5px;
            padding: 6.5px 7px;
            border-radius: 50px;
            background-color: $c-bg-grey;
            font-weight: 600;
            font-size: 11px;
            line-height: 100%;
            letter-spacing: 0;
            color: $c-text;
        }
    }

    &__callback {
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text-grey;
        transition: all $tr;
        cursor: pointer;

        &:hover {
            color: $c-text;
        }

        @include max(laptop) {
            display: none;
        }
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: $c-accent-dark;
        }

        svg {
            width: 40px;
            height: 40px;
        }

        @include max(laptop) {
            display: flex;
        }
    }
}