header.site-header
    .gkt-container
        .site-header__content
            .site-header__logo
                img(src="img/logo.svg" alt="ТРИО группа компаний")

            nav.site-header__nav
                .main-menu
                    .main-menu__item
                        a.main-menu__link(href="javascript:void(0);") О компании
                    .main-menu__item
                        a.main-menu__link(href="javascript:void(0);") Каталог продукции
                        .main-menu__chevron
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)
                        .site-header__sub.submenu
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Нетели
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Быки
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Племенные бычки
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Эмбрионы
                                span.submenu__sticker Скоро
                    .main-menu__item
                        a.main-menu__link(href="javascript:void(0);") Направления деятельности
                        .main-menu__chevron
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)
                        .site-header__sub.submenu
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Животноводство
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Растениеводство
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Трейдинг зерна
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Семенной завод
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Школа действий
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Агротуризм
                            .submenu__item
                                a.main-menu__link(href="javascript:void(0);") Благотворительность

            .site-header__contacts
                .site-header__contact
                    a(href="mailto:info@triogk.ru") info@triogk.ru
                +socials({
                    classes: 'site-header__socials'
                })
                .site-header__block
                    .site-header__contact
                        a(href="tel:+74742371361") +7 (474) 237–13–61
                        .main-menu__chevron
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)
                        .site-header__sub.submenu
                            .submenu__item.submenu__item
                                .submenu__subtitle Офис продаж
                                a.main-menu__link.main-menu__link--contact(href="tel:+74742371361") +7 (474) 237–13–61
                            .submenu__item.submenu__item
                                .submenu__subtitle Школа Действия
                                a.main-menu__link.main-menu__link--contact(href="tel:+74742371361") +7 (474) 237–13–61
                    button(data-modal="#callbackModal").site-header__callback Заказать звонок
                a(href="javascript:void(0);").site-header__cart
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#basket`)
                    span 98

