.side-video {
    &__layout {
        display: flex;
        align-items: stretch;
        min-height: 730px;
        gap: 24px;

        @include max(laptop) {
            min-height: 550px;
        }

        @include max(tablet) {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
    }

    &__video {
        position: relative;
        flex: 0 0 40.76%;
        max-width: 626px;
        border-radius: $br-10 70px $br-10 $br-10;
        overflow: hidden;

        @include max(laptop) {
            flex: 0 0 36%;
            border-radius: $br-10 50px $br-10 $br-10;
        }

        @include max(tablet) {
            max-width: 100%;
            flex: 0 0 auto;
            border-radius: 10px;
            height: 53.3vw;
        }
    }

    &__preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: $c-white;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }

        svg {
            width: 120px;
            height: 120px;

            @include max(laptop) {
                width: 80px;
                height: 80px;
            }

            @include max(xs) {
                width: 48px;
                height: 48px;
            }
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;

        @include max(tablet) {
            gap: 24px;
            flex: 0 0 auto;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__subtitle {
        margin-top: 10px;
        max-width: 790px;
        font-family: $ff-tiktok;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        text-align: center;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(mobile) {
            font-size: 16px;
            margin-top: 0;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include max(mobile) {
            gap: 10px;
        }
    }

    &__topics {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 10px;

        @include max(xs) {
            flex-direction: column;
        }
    }

    &__topic {
        flex: 0 1 33%;
        max-width: calc((100% - 20px) / 3);

        @include max(xs) {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}

.video-topic {
    padding: 20px;
    background-color: $c-white;
    color: $c-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: $br-10;

    @include max(laptop) {
        padding: 12px;
    }

    @include max(xs) {
        gap: 12px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;
    }

    &__icon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 100%;

        @include max(mobile) {
            width: 50px;
            height: 50px;
        }

        @include max(xs) {
            width: 36px;
            height: 36px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;

            @include max(mobile) {
                width: 32px;
                height: 32px;
            }

            @include max(xs) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__count {
        font-family: $ff-code;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-border;

        @include max(xs) {
            font-size: 18px;
        }
    }

    &__desc {
        max-width: 250px;
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;

        @include max(laptop) {
            font-size: 16px;
        }

        @include max(xs) {
            font-size: 14px;
        }
    }

    &--first {
        background-color: $c-bg-grey;
    }

    &--first &__count {
        color: $c-text;
    }
}