.side-video {
    &__layout {
        display: flex;
        align-items: stretch;
        min-height: 730px;
        gap: 24px;
    }

    &__video {
        position: relative;
        flex: 0 0 40.76%;
        max-width: 626px;
        border-radius: $br-10 70px $br-10 $br-10;
        overflow: hidden;
    }

    &__preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: $c-white;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }

        svg {
            width: 120px;
            height: 120px;
        }
    }

    &__main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__subtitle {
        margin-top: 10px;
        max-width: 790px;
        font-family: $ff-tiktok;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__topics {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 10px;
    }

    &__topic {
        flex: 0 1 33%;
    }
}

.video-topic {
    padding: 20px;
    background-color: $c-white;
    color: $c-text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: $br-10;

    &__header {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;
    }

    &__icon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 100%;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    &__count {
        font-family: $ff-code;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-border;
    }

    &__desc {
        max-width: 250px;
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;
    }

    &--first {
        background-color: $c-bg-grey;
    }

    &--first &__count {
        color: $c-text;
    }
}