mixin mixins()
    //- Компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/btn/btn
    include ../../blocks/components/socials/socials
    include ../../blocks/components/field/field
    include ../../blocks/components/form/form
    include ../../blocks/components/modal/modal
    include ../../blocks/components/main-menu/main-menu

    //- Модули
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/home-intro/home-intro