mixin mixins()
  //- Компоненты
  include ../../blocks/components/title/title
  include ../../blocks/components/btn/btn
  include ../../blocks/components/breadcrumbs/breadcrumbs
  include ../../blocks/components/socials/socials
  include ../../blocks/components/field/field
  include ../../blocks/components/form/form
  include ../../blocks/components/modal/modal
  include ../../blocks/components/main-menu/main-menu
  include ../../blocks/components/title-tag/title-tag
  include ../../blocks/components/category-card/category-card
  include ../../blocks/components/slider-controls/slider-controls
  include ../../blocks/components/product-card/product-card
  include ../../blocks/components/rating-card/rating-card
  include ../../blocks/components/news-link/news-link
  include ../../blocks/components/news-card/news-card
  include ../../blocks/components/pagination/pagination
  include ../../blocks/components/s-filter/s-filter

  //- Модули
  include ../../blocks/modules/footer/footer
  include ../../blocks/modules/home-intro/home-intro
  include ../../blocks/modules/category-slider/category-slider
  include ../../blocks/modules/volume-slider/volume-slider
  include ../../blocks/modules/animal-slider/animal-slider
  include ../../blocks/modules/side-video/side-video
  include ../../blocks/modules/ratings-slider/ratings-slider
  include ../../blocks/modules/accreditation/accreditation
  include ../../blocks/modules/finance/finance
  include ../../blocks/modules/news/news
  include ../../blocks/modules/i-intro/i-intro
  include ../../blocks/modules/about-info/about-info
  include ../../blocks/modules/quote-section/quote-section
  include ../../blocks/modules/numbers/numbers
  include ../../blocks/modules/structure/structure
  include ../../blocks/modules/t-scale/t-scale
  include ../../blocks/modules/news-list/news-list
  include ../../blocks/modules/bc-section/bc-section