noindex
    div
        //- код модалок сюда

        //- обратный звонок
        +modal({modalId:"callbackModal"})(data-js="callbackModal")
            +form({
                classes: 'form--modal',
                title: 'Оставить заявку',
                text: 'Мы ищем надёжных партнёров для долгосрочного и взаимовыгодного сотрудничества. Оставьте заявку — и в ближайшее время мы обсудим детали возможного партнёрства.',
                btnText: 'Отправить заявку',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        tag: 'textarea',
                        type: '',
                        title: '',
                        placeholder: 'Комментарий',
                    })

        //- заявка в интро
        +modal({modalId:"orderModal"})(data-js="orderModal")
            +form({
                classes: 'form--modal',
                title: 'Оставить заявку',
                text: 'Мы ищем надёжных партнёров для долгосрочного и взаимовыгодного сотрудничества. Оставьте заявку — и в ближайшее время мы обсудим детали возможного партнёрства.',
                btnText: 'Отправить заявку',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Ваше имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Компания',
                        inputAttr: {
                            'required': '',
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Ваш телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Ваша почта',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                    })
                    +field({
                        classes: '',
                        tag: 'textarea',
                        type: '',
                        title: '',
                        placeholder: 'Комментарий',
                    })

        //- подписка
        +modal({modalId:"subscribeModal"})(data-js="subscribeModal")
            +form({
                classes: 'form--modal',
                title: 'Подписка на рассылку',
                text: '',
                btnText: 'Подписаться',
                privacyText: 'Нажимая кнопку, вы соглашаетесь с <a href="javascript:void(0);" target="_blank">Политикой конфиденциальности</a> и даёте согласие на обработку персональных данных и согласие на получение рассылки рекламных материалов.',
                successTitle: 'Подписка оформлена!',
                successText: ''
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Ваше имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: '',
                        placeholder: 'Ваша почта',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                    })