noindex
    div
        //- код модалок сюда
        +modal({modalId:"callbackModal"})(data-js="callbackModal")
            +form({
                classes: 'form--modal',
                title: 'Оставить заявку',
                text: 'Мы ищем надёжных партнёров для долгосрочного и взаимовыгодного сотрудничества. Оставьте заявку — и в ближайшее время мы обсудим детали возможного партнёрства.',
                btnText: 'Отправить заявку',
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: '',
                        placeholder: 'Имя',
                        inputAttr: {
                            'required': '',
                            'data-type': 'letters'
                        },
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: '',
                        placeholder: 'Телефон',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                    })
                    +field({
                        classes: '',
                        tag: 'textarea',
                        type: '',
                        title: '',
                        placeholder: 'Комментарий',
                    })