.field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border: none;

    &--invalid {
        .field__error {
            opacity: 1;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        padding: 16.5px 20px;
        font-family: $ff-open;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        background-color: $c-bg-main;
        outline: none;
        color: $c-accent;
        border: 1px solid transparent;
        transition: all $tr;
        min-height: 56px;
        border-radius: $br-10;

        &::placeholder {
            color: $c-text-light;
        }
    }

    &--invalid &__input,
    &--invalid &__textarea,
    &--invalid .select2 {
        border-color: $c-error !important;
    }

    &__textarea {
        resize: none;
    }

    &__error {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.64em;
        color: $c-error;
        height: 1.64em;
        opacity: 0;
        overflow: hidden;
        transition: all $tr;

        @include max(mobile) {
            font-size: 12px;
            line-height: 1.5em;
            height: 1.5em;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 15px;
        line-height: 133.33%;
        color: $c-text-light;
    }

}

.field {
    &--checkbox {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    &--checkbox input {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        border: none;
        width: 0;
        height: 0;
        opacity: 0;
    }

    &--checkbox &__fake {
        width: 20px;
        height: 20px;
        border: 2px solid $c-text-grey;
        border-radius: 3px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L5.5 8L12 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: 13px 9px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &--checkbox input:checked~&__fake {
        background-color: $c-text-grey;
    }
}

.search-field {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;

    .field {
        width: 100%;
    }

    .field__input {
        border-radius: 50px;
        padding-left: 64px;

        @include max(tablet) {
            padding-left: 50px;
        }
    }

    &__submit {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-light;
        transition: all $tr;
        cursor: pointer;

        @include max(tablet) {
            left: 20px;
        }

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(tablet) {
                width: 20px;
                height: 20px;
            }
        }
    }
}