.slider-controls {
    display: none;
    align-items: center;
    gap: 10px;

    &__separator {
        width: 50px;
        height: 1px;
        background-color: #B2B2B2;
        flex: 0 0 auto;

        @include max(laptop) {
            width: 40px;
        }
    }

    &.active {
        display: flex;
    }
}

.slider-control {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-accent;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &.swiper-button-disabled {
        opacity: 0.2;
        pointer-events: none;
    }

    svg {
        width: 48px;
        height: 48px;

        @include max(laptop) {
            width: 32px;
            height: 32px;
        }
    }
}