.slider-controls {
    display: none;
    align-items: center;
    gap: 10px;

    &__separator {
        width: 50px;
        height: 1px;
        background-color: #B2B2B2;
        flex: 0 0 auto;
    }

    &.active {
        display: flex;
    }
}

.slider-control {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-accent;

    svg {
        width: 48px;
        height: 48px;
    }
}