.numbers {

    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 10px;

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &--4 &__grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));

        @include max(laptop) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__title {
        margin-bottom: 20px;
    }
}

.n-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 35px;
    padding: 30px;
    border-radius: $br-10;
    background-color: $c-white;

    @include max(large) {
        padding: 15px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &__icon {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 100%;

        @include max(large) {
            width: 60px;
            height: 60px;
        }

        @include max(tablet) {
            width: 40px;
            height: 40px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;

            @include max(large) {
                width: 38px;
                height: 38px;
            }

            @include max(tablet) {
                width: 25px;
                height: 25px;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        font-family: $ff-tiktok;
        font-weight: 500;
        font-style: Medium;
        font-size: 50px;
        line-height: 100%;
        text-transform: uppercase;

        @include max(large) {
            font-size: 42px;
        }

        @include max(laptop) {
            font-size: 28px;
        }

        span {
            font-size: 42%;
        }

        &--small {
            font-size: 26px;

            @include max(large) {
                font-size: 22px;
            }

            @include max(laptop) {
                font-size: 18px;
            }
        }

    }

    &__text.text-editor {
        ul li+li {
            margin-top: 0;
        }
    }
}