.numbers {
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 10px;

    }
}

.n-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 35px;
    padding: 30px;
    border-radius: $br-10;
    background-color: $c-white;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &__icon {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 100%;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        font-family: $ff-tiktok;
        font-weight: 500;
        font-style: Medium;
        font-size: 50px;
        line-height: 100%;
        text-transform: uppercase;

        span {
            font-size: 42%;
        }

        &--small {
            font-size: 26px;
        }

    }
}