.form {
    width: 100%;
    background-color: transparent;

    &__content,
    &__thanks {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: opacity 0.3s linear;
        overflow: hidden;
    }

    &__content {
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    &__thanks {
        gap: 30px;
        align-items: center;
        text-align: center;
        opacity: 0;
        height: 0;
        visibility: hidden;
        background-color: $c-accent;
        border-radius: 18px;
        padding: 0px;
    }

    &__title {
        font-family: $ff-tiktok;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        max-width: 550px;
        color: $c-bg-dark;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 153.3%;
        color: $c-text-light;
        margin-top: 10px;

        @include max(mobile) {
            font-size: 12px;
        }

    }

    &__image-success {
        height: 191px;
        max-width: 100%;

        img {
            height: 100%;
        }
    }

    &__title+&__fields,
    &__text+&__fields,
    &__fields+&__fields {
        margin-top: 30px;

        @include max(mobile) {
            margin-top: 20px;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 20px;
        width: 100%;

        @include max(mobile) {
            gap: 4px;
        }
    }

    &__privacy {
        margin-bottom: 7px;
    }

    .form-privacy {
        position: relative;
        display: flex;
        flex-direction: column;

        input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        &__flex {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }

        &__fake {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            background-color: transparent;
            flex-shrink: 0;
            flex-grow: 0;
            cursor: pointer;
            margin-top: 2px;
            border: 2px solid $c-text-grey;
            border-radius: 3px;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L5.5 8L12 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                position: absolute;
                width: 13px;
                height: 13px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                opacity: 0;
            }
        }

        input:checked+.form-privacy__fake {
            background-color: $c-text-grey;
        }

        input:checked+.form-privacy__fake::after {
            opacity: 1;
        }

        &__text {
            font-weight: 400;
            font-size: 15px;
            line-height: 153.3%;
            color: $c-text-grey;

            @include max(mobile) {
                font-size: 12px;
            }

            a {
                color: $c-link;
                text-decoration: underline;
                opacity: 1;
                transition: all $tr;
            }

            a:hover {
                opacity: 0.7;
            }
        }
    }

    &__submit {
        position: relative;
        overflow: hidden;
        margin-top: auto;
        align-self: flex-start;

        span.load-icon {
            display: none;
        }
    }

    &__submit.loading {

        span,
        svg {
            opacity: 0;
        }

        span.load-icon {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.7);
            width: 100%;
            height: 100%;
        }

        span.load-icon svg {
            opacity: 0.6;
            animation: loading 1s infinite 0s linear;
            width: 24px;
            height: 24px;
            color: $c-accent;
        }
    }

}

.form {

    &--modal .form__content {
        max-height: calc(95vh - 70px);

        @include max(mobile) {
            max-height: calc(100vh - 40px);
            max-height: calc(100dvh - 40px);
        }
    }

    &--modal .form__fields {
        max-width: calc(100% + 8px);
        overflow: auto;
        margin-right: -8px;
        padding-right: 5px;
        flex: 1 1 auto;

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $c-bg-grey;
            border-radius: 2px;
        }
    }

}

.form {

    &--sent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    &--sent &__content {
        opacity: 0;
        height: 0;
        visibility: visible;
    }

    &--sent &__thanks {
        padding: 20px;
        opacity: 1;
        height: auto;
        min-height: 100%;
        visibility: visible;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}