.product-intro {
    &__container {
        position: relative;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        margin-top: 20px;

        @include max(tablet) {
            gap: 24px;
            flex-direction: column;
        }
    }

    &__title br {
        @include max(tablet) {
            display: none;
        }
    }

    &__media {
        position: relative;
        flex: 0 0 47.4%;
        max-width: 47.4%;

        @include max(laptop) {
            flex-basis: 45%;
            max-width: 45%;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;
        }
    }

    &__info {
        flex: 1 1 auto;

        @include max(tablet) {
            width: 100%;
        }
    }

    &__chars {
        margin-top: 20px;

        @include max(mobile) {
            margin-top: 12px;
        }
    }

    &__files {
        margin-top: 30px;
        border-top: 1px solid $c-border;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 30px;

        @include max(mobile) {
            gap: 20px;
        }

        @include max(xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: auto;

        @include max(xs) {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__price {
        font-family: $ff-tiktok;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-text;

        @include max(laptop) {
            font-size: 28px;
        }

        @include max(mobile) {
            font-size: 24px;
        }
    }

}

.product-chars {
    columns: 2;
    column-gap: 30px;
    column-width: 50%;

    @include max(laptop) {
        column-gap: 12px;
    }

    @include max(xs) {
        columns: auto;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        break-inside: avoid;

        @include max(laptop) {
            font-size: 14px;
        }

        @include max(xs) {
            margin-bottom: 5px;
        }
    }

    &__param {
        color: $c-text-light;
    }

    &__value {
        color: $c-text;
    }
}