.product-intro {
    &__container {
        position: relative;
    }

    &__flex {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        margin-top: 20px;
    }

    &__media {
        position: relative;
        flex: 0 0 47.4%;
        max-width: 47.4%;

        @include max(laptop) {
            flex-basis: 37%;
            max-width: 37%;
        }

        @include max(tablet) {
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    &__info {
        flex: 1 1 auto;

        @include max(tablet) {
            width: 100%;
        }
    }

    &__chars {
        margin-top: 20px;
    }

    &__files {
        margin-top: 30px;
        border-top: 1px solid $c-border;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: auto;
    }

    &__price {
        font-family: $ff-tiktok;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-text;
    }

}

.product-chars {
    columns: 2;
    column-gap: 30px;
    column-width: 50%;

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        break-inside: avoid;
    }

    &__param {
        color: $c-text-light;
    }

    &__value {
        color: $c-text;
    }
}