.pdf-section {

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 62%;
        margin: 0 auto;

        @include max(large) {
            max-width: 900px;
        }

        @include max(laptop) {
            max-width: 1000px;
        }
    }

    &__left {
        max-width: 560px;
        flex: 0 0 auto;

        @include max(laptop) {
            max-width: 480px;
        }

        @include max(tablet) {
            max-width: 380px;
        }

        @include max(mobile) {
            z-index: 3;
        }

        @include max(xs) {
            max-width: 100%;
        }

    }

    &__title span {
        color: $c-white;
    }

    &__text {
        margin: 10px 0 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text;

        @include max(tablet) {
            margin: 10px 0 24px;
        }
    }

    &__img {
        margin: -4.2vw -11.5vw -4.2vw 0;
        flex: 1 1 auto;
        max-width: 58.5%;

        @include max(laptop) {
            margin: -4.2vw -1.5vw -4.2vw 0;
        }

        @include max(tablet) {
            margin: -4.2vw -10vw -4.2vw 0;
        }

        @include max(mobile) {
            margin: 0 -10vw 0 -60vw;
            z-index: 1;
            opacity: 0.4;
            max-width: 70%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}