.pdf-section {

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 62%;
        margin: 0 auto;
    }

    &__left {
        max-width: 500px;
        flex: 0 0 auto;
    }

    &__title span {
        color: $c-white;
    }

    &__text {
        margin: 10px 0 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text;
    }

    &__img {
        margin-top: -80px;
        margin-bottom: -80px;
        margin-right: -220px;
        margin: -4.2vw -11.5vw -4.2vw 0;
        flex: 1 1 auto;
        max-width: 58.5%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}