.s-filter {
    width: 100%;
    display: flex;
    overflow: hidden;

    &__list {
        max-width: 100%;
        overflow: hidden;
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        flex-shrink: 0;
        min-width: auto;
        max-width: 270px;
        height: auto;
        background-color: transparent;
        padding: 12px 15px;
        cursor: pointer;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: $c-text-light;
        border: 1px solid $c-text-light;
        border-radius: 50px;
        transition: all $tr;

        * {
            cursor: pointer;
        }

        @include max(laptop) {
            font-size: 14px;
        }

        @include max(mobile) {
            max-width: 230px;
            padding: 8px 12px;
            font-size: 12px;
        }

        &:hover,
        &.active {
            color: $c-white;
            background-color: $c-accent;
        }

        a {}

        &:last-child {
            margin-right: 0 !important;
        }
    }
}