extends ../layouts/default

block variables
    - const title = "О компании"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Холдинг <br>с&nbsp;многолетней <br>историей',
                subtitle: '[Производим с 1997 года]',
                img: 'img/intro/about_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'О компании',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: 'Группа компаний «ТРИО» – современное, динамично развивающееся агропромышленное предприятие, хорошо известное в Липецкой области'
            })
                .i-intro__content
                    .i-intro__btns
                        +btn({
                            name: 'Фильм о компании',
                            link: 'public/video/about.mp4',
                            sMode: 'big',
                            cMode: 'blur',
                            icon: 'video'
                        })(data-fancybox)
                        +btn({
                            name: 'История компании',
                            sMode: 'big',
                            cMode: 'blur',
                            icon: 'flag'
                        })(data-js="historyModalOpen")

            +about-info({
                top: [
                    {
                        tag: 'Дата основания',
                        text: 'Компания была основана в 1997 году. <br>С тех пор Группа компаний «ТРИО» стремительно наращивает производственные и финансовые показатели, увеличивая своё присутствие в таких секторах, как растениеводство, животноводство, трейдинг зёрна, сахара и другие.'
                    },
                    {
                        tag: 'Миссия',
                        text: 'Выстраивая успешный и эффективный бизнес в сельскохозяйственной отрасли, заботиться о людях, о благополучии родного края и процветании агропромышленного комплекса России, претворяя в жизнь социальные и благотворительные программы.'
                    }
                ],
                cards: [
                    {
                        title: 'Принципы',
                        icon: 'img/about/about_icon_1.svg',
                        text: `<ul>
                            <li>Выполнение взятых на себя обязательств;</li>
                            <li>Социальная бизнес-ориентированность;</li>
                            <li>Эффективное управление путем совершенствования системы рабочих процессов;</li>
                            <li>Люди и система управления – основное конкурентное преимущество компании.</li>
                            </ul>`
                    },
                    {
                        title: 'Стратегическая цель',
                        icon: 'img/about/about_icon_2.svg',
                        text: `Предприятие, которое постоянно думает о внедрении современных технологий, имеет будущее — это и есть стратегическая конкурентоспособность.`
                    }
                ]
            })

            +quote-section({
                photo: 'img/about/about_person.webp',
                text: `<p>Наша компания с самого основания делает ставку на качество, инновации и устойчивое развитие сельского хозяйства.</p>
                    <p>Земля не терпит пренебрежения, она отвечает щедростью только на труд и знания.</p>
                    <p>Мы гордимся тем, что вносим вклад в обеспечение продовольственной безопасности нашей страны.</p>`,
                name: 'Геннадий Уваркин',
                position: 'Совладелец ГК “ТРИО”'
            })

            +numbers({
                columns: '4'
            })
            +structure
            +volume-slider
            +t-scale
            +accreditation
            +finance


