extends ../layouts/default

block variables
    - const title = "Животноводство"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Животноводство',
                subtitle: '[С 2005 года активно работаем <br>над&nbsp;развитием животноводческого направления]',
                img: 'img/intro/animals_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Животноводство',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: `<ul>
                    <li>С 2016 года  надой в сутки на дойную корову составляет 32-35 кг</li>
                    <li>Годовой надой на 1 дойную корову - более 12 000 кг</li>
                    <li>Среднесуточная отгрузка молока – 85 тонн</li>
                    </ul>`
            })
                .i-intro__corner
                    ul.i-intro__list
                        li Голштинская порода
                        li Только самовывоз
                        li Минимальный заказ -  30 штук
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +category-slider

            +numbers({
                title: '<span>О нас</span> в цифрах и фактах',
                cards: [
                    {
                        title: '4 <span>комплекса</span>',
                        icon: 'img/about/about_icon_1.svg',
                        text: `<ul>
                            <li>Комплекс «Лиза» на 2000 голов дойного стада</li>
                            <li>Комплекс «Аня» на 1000 голов дойного стада</li>
                            <li>Комплекс “Название” на 4000 голов дойного стада</li>
                            <li>Молодняковая ферма</li>
                            </ul>`,
                        smallTitle: false
                    },
                    {
                        title: '3600 <span>л</span>',
                        icon: 'img/about/about_icon_12.svg',
                        text: 'Доение молока в час',
                        smallTitle: false
                    },
                    {
                        title: '2 <span>млрд</span>',
                        icon: 'img/about/about_icon_5.svg',
                        text: 'Инвестиций в технику',
                        smallTitle: false
                    },
                    {
                        title: 'PoCket <br>Cow Card',
                        icon: 'img/about/about_icon_19.svg',
                        text: 'Контроль коров',
                        smallTitle: true
                    },
                    {
                        title: '6 <span>обрт./час</span>',
                        icon: 'img/about/about_icon_9.svg',
                        text: 'Показатели карусели',
                        smallTitle: false
                    },
                    {
                        title: 'Профессиональная <br>обработка копыт',
                        icon: 'img/about/about_icon_20.svg',
                        text: '',
                        smallTitle: true
                    }
                ]
            })

            +animal-slider

            +about-info({
                topCenter: true,
                top: [
                    {
                        tag: 'Эффективное ведение бизнеса',
                        text: `<ul>
                            <li>Кормораздатчик набирает рацион</li>
                            <li>Раздача сбалансированного корма</li>
                            <li>Кормовой стол</li>
                            <li>Регулируемый траффик коров</li>
                            <li>Переработка навоза в подстилку для коров и на удобрение</li>
                            <li>Содержание бычков</li>
                            <li>Голштинская порода — самая молочная</li>
                            </ul>
                            `
                    }
                ],
                cards: [
                    {
                        title: 'В направление животноводства <br>входят 2 молочных комплекса',
                        icon: 'img/about/about_icon_7.svg',
                        text: `<ul>
                            <li>Молочный комплекс «Аня», рассчитанный на 1000 голов дойного стада.Введен в эксплуатацию в 2007 году</li>
                            <li>Молочный комплекс «Лиза», рассчитанный на 2000 голов дойного стада.Введен в эксплуатацию в 2009 году</li>
                            </ul>`
                    },
                    {
                        title: 'Современные молочные <br>комплексы оснащены',
                        icon: 'img/about/about_icon_21.svg',
                        text: `<ul>
                            <li>Доильным оборудованием BouMatic;</li>
                            <li>Самозагрузочными кормораздатчиками Mayer SILOKING 16м3;</li>
                            <li>Системой компьютерного управления стадом DairyComp305 + PocketCowCard;</li>
                            <li>Автоматизированной системой кормления FeedWatch;</li>
                            <li>Системой отслеживания половой охоты SEMEX24.</li>
                            </ul>`
                    }
                ]
            })

            +section-info({
                top: [
                    {
                        title: 'Наши <span>переработчики</span>',
                        text: `<p>Весь объём производимого молока поставляется ведущим транснациональным и региональным переработчикам, через Вимм-Билль-Данн, Лебедянь Молоко, Ефремовский маслосыродельный комбинат, Health&Nutrition и других.</p>`
                    }
                ]
            })

            +ratings-slider

            +img-text({
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_3.webp">
                            <a class="btn btn--accent btn--content" href="public/video/home_intro_bg_2.mp4" data-fancybox><span>О бизнес-процессах</span></a>`,
                        title: 'Управлять можно только тем, <br>что можно посчитать и&nbsp;измерить',
                        text: `
                        <p>В Группе компаний «ТРИО» уделяется особое внимание высокой культуре производства и чётко выстроенной системе организации труда.</p>
                        <p>В основе организации труда — составленные бизнес-процессы управления производством, в которых описаны:</p>
                        <ul>
                            <li>Технологии производства;</li>
                            <li>Количественные и качественные показатели эффективности (KPI), привязанные к автоматизированной системе;</li>
                            <li>Критерии и формулы оценки по KPI;</li>
                            <li>Инструкции для каждого сотрудника и специалиста в недельном ритме.</li>
                        </ul>`,
                        imgRight: false,
                        btn: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_4.webp">`,
                        title: 'Эффективное ведение бизнеса',
                        text: `
                        <p>На животноводческих комплексах Группы компаний «ТРИО» постоянно внедряются новые технологии, совершенствуется процесс производства и ведётся контроль над производительностью.</p>
                        <p>На собственном примере компания демонстрирует, что прибыльное животноводство в России возможно, а залог успеха состоит в грамотном использовании ресурсов и чётком соблюдении технологий.</p>
                        `,
                        imgRight: true,
                        btn: {
                            name: 'О Poket Cow Card',
                            cMode: 'accent',
                            sMode: 'content'
                        }
                    },
                ],
            })

            +news
