extends ../layouts/default

block variables
    - const title = "Экскурсия на молочную ферму"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Экскурсия <br>на молочную ферму',
                subtitle: '[На территории усадьбы находится <br>известная многим ферма и сыроварня]',
                img: 'img/intro/school_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Школа действия',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: 'Путешествие по современной молочной ферме, где гости могут познакомиться с коровами и телятами, узнать о том, как устроено производство и какие условия созданы для комфортного содержания животных'
            })

                .i-intro__contact.intro-contact(data-aos="fade-up" data-aos-delay="600")
                    .intro-contact__header
                        +title({
                            text: 'Запись на экскурсию',
                            size: '20'
                        })
                        .intro-contact__icon
                            img(src="img/about/about_icon_15.svg" alt="")
                    .intro-contact__list 
                        .intro-contact__row
                            .intro-contact__subtitle По телефону:
                            +title({
                                classes: 'intro-contact__link',
                                text: '<a href="tel:+79616009994">+7 (961) 600-99-94</a>',
                                size: '20'
                            })

                .i-intro__corner(data-aos="fade-left" data-aos-delay="700")
                    ul.i-intro__list
                        li Тур состоится при минимальном составе группы 15&nbsp;человек
                        li Стоимость 1500р с&nbsp;человека
                        li Ежедневно в&nbsp;10:00 и&nbsp;14:00
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")


            +about-info({
                top: [
                    {
                        tag: 'Дорожная карта',
                        title: '',
                        text: `<ul>
                            <li>Прогулка начнётся с домиков, где живут новорождённые и трёхмесячные телята. Посетители могут покормить телят из бутылочки, узнать о «серёжках», которые носят малыши, и о том, почему они живут отдельно. Затем гостей проводят во дворы со взрослыми коровами, которые живут в условиях беспривязного содержания.Через специальное окно можно будет понаблюдать за процессом дойки на установке «Карусель».</li>
                            <li>Завершится экскурсия дегустацией и необычными активностями.</li>
                            <li>Вы сможете приготовить молочный коктейль на велоблендере, пройти соломенный лабиринт и раскрасить деревянную игрушку-корову.</li>
                            </ul>
                            `
                    }
                ],
                cards: [
                    {
                        title: 'Рейтинг',
                        icon: 'img/about/about_icon_27.svg',
                        text: `<p>«ГК ТРИО» занимает 1 место в рейтинге Национального союза производителей молока за 2024 год</p>`
                    },
                    {
                        title: 'Принимаем гостей с 2013 года',
                        icon: 'img/about/about_icon_9.svg',
                        text: `
                            <p>Экскурсии на фермы компания проводит с 2013 года, за это время на её предприятиях побывали более 200 000 гостей</p>
                            `
                    }
                ]
            })

            +section-info({
                topRight: true,
                top: [
                    {
                        title: '«ГК ТРИО» является одним <br>из основоположников промышленного <br>туризма в России',
                        text: `<p>Помимо важного значения для развития внутреннего туризма, <br>проект носит еще и образовательную ценность.</p>`
                    }
                ],
            })

            +quote-section({
                photo: 'img/school/school_person.webp',
                text: `<p>Приезжая на наши фермы, гости совмещают приятное с полезным: это и загородная поездка, и в то же время увлекательное исследование современного молочного производства.</p> 
                    <p>Здесь живут наши коровы и телята, общение с ними — настоящая зоотерапия и мощный заряд положительными эмоциями.</p>`,
                name: 'Лидия Королева',
                position: 'Директор по животноводству ГК “ТРИО”'
            })

            +about-info({
                cards: [
                    {
                        title: 'Кто сопровождает?',
                        icon: 'img/about/about_icon_25.svg',
                        text: `<p>На туристических маршрутах вас обязательно сопровождает опытный гид, который даст вам информацию в пути следования.</p>
                            <p>Он проведёт вас по экскурсионному маршруту, а также поможет решить все организационные моменты, во время путешествия, а именно:</p>
                            <ul>
                                <li>Сбор туристической группы</li>
                                <li>Сопровождение к ферме, точкам питания и т.д.</li>
                                </ul>`
                    },
                    {
                        title: 'Что взять с собой',
                        icon: 'img/about/about_icon_3.svg',
                        text: `
                            <p>Обязательно соберите, кроме основной сумки, лёгкий рюкзачок, в который надо положить все то, что вам понадобится в автобусе:</p>
                            <ul>
                            <li>Оригиналы документов, удостоверяющих личность</li>
                            <li>Телефон, наушники (чтобы не отвлекать других пассажиров)</li>
                            <li>Денежные средства на личные расходы</li>
                            <li>Индивидуальные лекарственные средства</li>
                            <li>Удобную одежду и обувь.</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Какие документы <br>необходимо взять?',
                        icon: 'img/about/about_icon_28.svg',
                        text: `<ul>
                            <li>Паспорт (Свидетельство о рождении для детей до 14 лет)</li>
                            <li>Медицинский полис</li>
                            <li>Туристический ваучер</li>
                            <li>Страховой полис (по желанию)</li>
                            <li>Билеты на автобус, самолёт, поезд в том случае, если вы путешествуете самостоятельно</li>
                            <li>Документы, подтверждающие право на льготы (пенсионное удостоверение, студенческий билет и т.д.)</li>
                            </ul>`
                    }
                ],
            })

            +pdf-section({
                title: 'Бесплатно <br><span>скачайте программу</span> <br>«Агро-туризм. Экскурсия на&nbsp;молочную ферму»',
                text: 'В документе более подробно представлена дорожная карта мероприятия и маршрут до фермы'
            })

            +about-info({
                verticalReverse: true,
                top50: true,
                top: [
                    {
                        tag: 'Продолжительность тура: 1 день',
                        title: '',
                        text: `<p>10:45 - Сбор группы</p>
                            <p>11:00 -  Отправление</p>
                            <p>13:00 – Прибытие на ферму</p>
                            <p>15:00 – Отправление в город</p>
                            <p>17:00 – Ориентировочное время возвращения</p>`
                    }
                ],
                cards: [
                    {
                        title: 'В стоимость тура входит',
                        icon: 'img/about/about_icon_25.svg',
                        text: `<ul>
                            <li>транспортное обслуживание (автобусы туристического класса каждое место застраховано)</li>
                            <li>услуги гида-сопровождающего</li>
                            <li>экскурсионное обслуживание по программе</li>
                            </ul>`
                    },
                    {
                        title: 'Возможные доплаты',
                        icon: 'img/about/about_icon_3.svg',
                        text: `личные расходы на питание и на сувениры`
                    }
                ]
            })

            +img-text({
                rows: [
                    {
                        img: `<img src="img/school/school_method.webp">
                            <a class="btn btn--accent btn--content" href="public/video/home_intro_bg_2.mp4" data-fancybox><span>Промо-видео экскурсии</span></a>`,
                        title: 'Масштабы экскурсии',
                        text: `
                        <p>За полтора-два часа все желающие могут увидеть, как в реальности устроено производство, в каких условиях живут коровы и телята и как о них заботятся.</p>
                        <p>Экскурсия начинается с домиков, где живут новорождённые телята. Их можно покормить из бутылочки и сделать фото. Гости узнают, что написано на «серёжках» малышей и почему они живут отдельно друг от друга.</p>
                        <p>Следующий этап — пространство, где живут телята старше трёх месяцев, для них важно социализироваться и заводить друзей. Затем гости побывают во дворах со взрослыми коровами. Они живут в условиях беспривязного содержания, для животных установлены автоматические поилки и вентиляторы, есть большое пространство для отдыха.</p>
                        <p>А через специальное смотровое окно можно будет понаблюдать за процессом дойки на установке «Карусель» — это платформа с секторами, в которые коровы заходят самостоятельно.</p>
                        <p>Экскурсию завершают дегустация и мастер-классы, на которых можно раскрасить деревянную игрушку, взбить молочный коктейль на велоблендере (гибриде блендера и велосипеда) и пройти соломенный лабиринт.</p>
                        `,
                        imgRight: false,
                        btn: false,
                        isLink: false
                    }
                ],
            })