extends ../layouts/default

block variables
    - const title = "Трейдинг зерна"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Трейдинг зерна',
                subtitle: '[Занимаемся трейдингом зерна с 2003 года]',
                img: 'img/intro/grain_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Трейдинг зерна',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: `Объем реализации зерна ГК «Трио» достигает 400 тыс. тонн в год, из которых около 30% — зерно, выращиваемое растениеводческими подразделениями компании.`
            })
                .i-intro__corner(data-aos="fade-left" data-aos-delay="700")
                    ul.i-intro__list
                        li Доставка средствами автомобильного и ж/д транспорта в 24/7 режиме;
                        li Доставка экспедированием зёрна до склада клиента (либо до загрузки в вагон ж/д или судно) на собственном автотранспорте.
                        li Минимальный заказ — 300 кг
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +section-info({
                topCenter: true,
                top: [
                    {
                        title: '<span>Зерновой департамент</span> <br>Группы компаний <br>«ТРИО» реализует',
                        text: `
                            <ul>
                                <li>Зерновые культуры: пшеница, ячмень, рожь;</li>
                                <li>Масличные культуры: подсолнечник, соя;</li>
                                <li>Фуражная продукция: кукуруза, фуражная пшеница, фуражный ячмень.</li>
                            </ul>`
                    }
                ]

            })

            +about-info({
                cards: [
                    {
                        title: 'Наши поставщики',
                        icon: 'img/about/about_icon_23.svg',
                        text: `
                            <ul>
                                <li>Крупные сельхозпредприятия;</li>
                                <li>Малые хозяйства;</li>
                                <li>Фермерские хозяйства.</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Налаженная работа <br>с поставщиками',
                        icon: 'img/about/about_icon_24.svg',
                        text: `
                            <p>Закупка зерна производится в радиусе расположения собственных хлебоприемных предприятий по областям (Липецкая, Воронежская, Орловская, Тамбовская, Курская, Белгородская).</p> 
                            <p>Со многими поставщиками налажено постоянное взаимовыгодное партнерство.</p>
                            `
                    }
                ]
            })

            +accreditation({
                title: 'Наши <span>клиенты и&nbsp;партнеры</span>'
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_5.webp">`,
                        title: 'Базисы поставки зерна в&nbsp;процессе реализации',
                        text: `
                        <ul>
                            <li>на элеваторах по переписи в соответствии с отраслевой формой ЗПП-13;</li>
                            <li>средствами автомобильного и ж/д транспорта в круглосуточном режиме;</li>
                            <li>экспедированием зёрна до склада клиента (либо до загрузки в вагон ж/д или судно) на собственном автотранспорте.</li>
                        </ul>`,
                        imgRight: false,
                        btn: 'О транспортном парке',
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_6.webp">`,
                        title: 'Наши хлебоприемные <br>предприятия',
                        text: `
                            <p>НВ Группу компаний «ТРИО» входят 2 элеватора.</p>
                            <p>Зерновой департамент осуществляет полное управление и контроль над элеваторами в процессе отгрузки зёрна.</p>
                            <p>Мощность хранения элеваторов и ХПП составляет более 76 000 тонн зерновых.</p>`,
                        imgRight: true,
                        btn: 'Обзор элеваторов',
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_7.webp">`,
                        title: 'Отдел контроля качества зерновых и&nbsp;масличных культур',
                        text: `
                        <p>Создание отдела качества продукции явилось важным шагом в развитии зернового направления. Отдел качества продукции осуществляет:</p>
                        <ul>
                            <li>Контроль качества зерновой продукции с момента первичной подработки, в процессе закладки, хранения и отгрузки продукции с элеваторов;</li>
                            <li>Контроль за состоянием складов и ёмкостей элеваторов;</li>
                            <li>Дезинфекцию и дезинсекцию зон хранения;</li>
                            <li>Контроль за процессом аттестации и аккредитации лабораторий хлебоприемных предприятий ГК «ТРИО»;</li>
                            <li>Обучение специалистов и повышение квалификации сотрудников лабораторий.</li>
                        </ul>`,
                        imgRight: false,
                        btn: 'Интервью со специалистом по надзору качества',
                        isLink: false
                    },
                ],
            })
