extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="page")
        .page-layout
            +home-intro
            +category-slider
            +volume-slider
            +animal-slider
            +side-video
            +ratings-slider
            +accreditation
            +news
