extends ../layouts/default

block variables
    - const title = "Информация о заказе"
    - const isLK = true

block content
    .page(data-js="page")
        .page-layout
            +bc-section({
                bc: {
                items: [
                    {
                    name: 'ГК ТРИО',
                    link: 'javascript:void(0);'
                    },
                    {
                    name: 'Мои заказы',
                    link: 'javascript:void(0);'
                    }
                ],
                },
            })

            +pa-order
