extends ../layouts/default

block variables
    - const title = "Новость детальная"

block content
    .page(data-js="page")
        .page-layout
            +bc-section({
                bc: {
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Новости',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Команда ГК Трио приняла участие в IV Липецком полумарафоне',
                            link: 'javascript:void(0);'
                        }
                    ],
                },
            })

            +news-article
            +news-slider
