extends ../layouts/default

block variables
    - const title = "Растениеводство"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Растениеводство',
                subtitle: '[Сахарная свекла, ячмень, картофель, заготовка кормов]',
                img: 'img/home/home_intro_bg_2.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Растениеводство',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: 'На&nbsp;сегодняшний день ГК&nbsp;«ТРИО» выращивает картофель для&nbsp;компаний ООО «ФРИТО ЛЕЙ МАНУФАКТУРИНГ» (ПепсиКо) и&nbsp;ООО «ЛЭМ УЭСТОН БЕЛАЯ ДАЧА».'
            })
                .i-intro__corner
                    ul.i-intro__list
                        li Картофель на заказ
                        li Только самовывоз
                        li Минимальный заказ - 100 кг
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +numbers({
                title: '<span>О нас</span> в цифрах и фактах',
                cards: [
                    {
                        title: '25 000 <span>ГА</span>',
                        icon: 'img/about/about_icon_1.svg',
                        text: 'Общая площадь земли',
                        smallTitle: false
                    },
                    {
                        title: '2',
                        icon: 'img/about/about_icon_6.svg',
                        text: 'Растениеводческих подразделения <br>в 5 районах Липецкой области',
                        smallTitle: false
                    },
                    {
                        title: '2 <span>млрд</span>',
                        icon: 'img/about/about_icon_5.svg',
                        text: 'Инвестиций в технику',
                        smallTitle: false
                    },
                    {
                        title: '5900 <span>ГА</span>',
                        icon: 'img/about/about_icon_19.svg',
                        text: 'Площадь орошения',
                        smallTitle: false
                    },
                    {
                        title: '2 <span>элеватора</span>',
                        icon: 'img/about/about_icon_9.svg',
                        text: 'Мощностью хранения <br>более 76 000 тонн',
                        smallTitle: false
                    },
                    {
                        title: '2010 <span>год</span>',
                        icon: 'img/about/about_icon_20.svg',
                        text: 'Дата начала реализации <br>картофельного проекта ',
                        smallTitle: false
                    }
                ]
            })

            +about-info({
                topCenter: true,
                top: [
                    {
                        tag: 'Эффективное ведение бизнеса',
                        text: `<ul>
                            <li>Система точного земледелия (GPS)</li>
                            <li>Минимальное количество техники на гектар</li>
                            <li>Использование перегрузов упрощает работу комбайнов</li>
                            <li>Круглосуточная работа и двухсменный график</li>
                            <li>Одновременно проводится до 6 технологических операций</li>
                            <li>Высокопроизводительная техника</li>
                            </ul>
                            `
                    }
                ],
                cards: [
                    {
                        title: 'Формула успеха <br>растениеводческого комплекса',
                        icon: 'img/about/about_icon_6.svg',
                        text: `
                            <ul>
                                <li>Почвообработка без оборота пласта;</li>
                                <li>Сбалансированный севооборот;</li>
                                <li>Надежный парк техники;</li>
                                <li>Эффективная организация труда.</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Принципы которые помогают <br>нам добиваться успехов',
                        icon: 'img/about/about_icon_4.svg',
                        text: `
                            <ul>
                                <li>Нацеленность на командный результат;</li>
                                <li>Ответственность за личный вклад в достижение общей цели;</li>
                                <li>Соблюдение точных правил;</li>
                                <li>Круглосуточная работа и двухсменный график;</li>
                                <li>Пересменок прямо в поле;</li>
                                <li>Минимальное количество техники на гектар;</li>
                                <li>Система учета топлива и контроля работ;</li>
                                <li>Система точного земледелия (GPS).</li>
                            </ul>
                            `
                    }
                ]
            })

            +school-method({
                classes: 'school-method--center',
                title: '<span>Обработка</span> почвы без оборота <br>пласта',
                btnText: 'Видео по обработке почвы',
                text: `
                    <p>В результате анализа собственного опыта работы, а также обучения и обмена знаниями в разных странах, ГК «ТРИО» совершила осознанный переход на технологию обработки почвы без оборота пласта.</p>
                    <p>Проводится минимальная обработка почвы на глубину до 14 см.</p>
                    <p>Преимуществами данной технологии являются:</p>
                    <ul>
                        <li>Накопительное улучшение качества и структуры чернозёма год от года;</li>
                        <li>Противоэррозионное воздействие;</li>
                        <li>Применение меньшего количества удобрений;</li>
                        <li>Лёгкая уборка в дождливый период.</li>
                    </ul>
                    `,
                img: 'img/plant/plant_method.webp',
                isVideo: true
            })

            +img-text({
                rows: [
                    {
                        img: '<img src="img/img-text/img_text_3.webp">',
                        title: 'Сбалансированный севооборот',
                        text: `
                        <p>Все культуры подобраны для выращивания с использованием технологии обработки почвыбез оборота пласта.</p>
                        <p>Основу выращиваемых культур составляют:</p>
                        <ul>
                            <li>Сахарная свекла, выращиваемая в рамках сотрудничества с Группой компаний Sucden;</li>
                            <li>Зерновые, реализуемые через трейдинговое подразделение (в т.ч. ячмень выращивается в рамках многолетнего сотрудничества с компанией «Хоппи Юнион» и «Суфле Агро Рус» на основе требуемых стандартов качества);</li>
                            <li>Картофель, выращиваемый для поставок по контрактам с компаниями ООО «ФРИТО ЛЕЙ МАНУФАКТУРИНГ» (ПепсиКо) и ООО «ЛЭМ УЭСТОН БЕЛАЯ ДАЧА» ;</li>
                            <li>Заготовка кормов: кукуруза и многолетние травы на корма выращиваются для собственных животноводческих комплексов.</li>
                        </ul>`,
                        imgRight: false,
                        btn: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_4.webp">
                            <a class="btn btn--accent btn--content" href="public/video/home_intro_bg_2.mp4" data-fancybox><span>Инновации в картофелеводстве от&nbsp;ГК&nbsp;«Трио»</span></a>`,
                        title: 'Картофельный проект',
                        text: `
                        <p>Картофельный проект Группы компаний «ТРИО» реализуется с 2010 года. Объём инвестиций около 2,5 млрд ₽.</p>
                        <ul>
                            <li>Радиальная система орошения общей площадью 5 884 га. из них 1 400 га. под картофелем. Для максимально эффективного использования подсаживаются дополнительные культуры: свёкла, пшеница, рожь, соя;</li>
                            <li>Современные картофелехранилища общей вместимостью 64 000 т картофеля с автоматизированной системой вентиляции, увлажнения и охлаждения;</li>
                            <li>Технология интенсивного выращивания: междурядье — 90 см;</li>
                            <li>Урожайность 35 тонн с гектара в зачётном весе на заводе;</li>
                            <li>Собственное производство семян;</li>
                            <li>Высокопроизводительная техника;</li>
                            <li>4-х польный севооборот.</li>
                        </ul>`,
                        imgRight: true,
                        btn: false
                    },
                ],
            })

            +title-text
            +gallery