extends ../layouts/default

block variables
    - const title = "Карточка товара"

block content
    .page(data-js="page")
        .page-layout
            +bc-section({
                bc: {
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Каталог',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Бычки',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Бык Цыган 508, порода ч/п Голштинская,дата рождения 31.07.2024',
                            link: 'javascript:void(0);'
                        }
                    ],
                },
            })

            +product-intro
            +tabs-block

            +about-info({
                cards: [
                    {
                        title: 'Бык Цыган',
                        icon: 'img/about/about_icon_7.svg',
                        text: `<p>Бык Цыган наследует удой +103, жир +46, белок +34 улучшает показатели оплодотворяемости коров.</p>`
                    },
                    {
                        title: 'Мать',
                        icon: 'img/about/about_icon_29.svg',
                        text: `<p>Мать 3871 по первой лактации за 305 дней надоила 11451 л., со средними показателями: жира 4,18; белка 3,57.</p>`
                    },
                    {
                        title: 'Отец',
                        icon: 'img/about/about_icon_30.svg',
                        text: `<p>Отец быка Альта Моновар, инвентарный номер 3235933059, имеет следующие племенные индексы: TPI 3026, NM$ 649.</p>
                            <p>Выдающиеся качества отца: наследует удой +773, высокий индекс вымени, фертильность</p>`
                    }
                ],
            })

            +about-info({
                transparent: true,
                topCenter: true,
                top: [
                    {
                        tag: 'Особенности генетики',
                        title: '',
                        text: `<ul>
                        <li>Бык Цыган наследует удой +103, жир +46, белок +34 улучшает показатели оплодотворяемости коров.</li>
                        <li>Мать 3871 по первой лактации за 305 дней надоила 11451 л., со средними показателями: жира 4,18; белка 3,57.</li>
                        <li>Отец быка Альта Моновар, инвентарный номер 3235933059, имеет следующие племенные индексы: TPI 3026, NM$ 649. Выдающиеся качества отца: наследует удой +773, высокий индекс вымени, фертильность</li>
                        </ul>`
                    }
                ],
            })
