extends ../layouts/default

block variables
    - const title = "Школа действия"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Центр практического <br>животноводства <br>«Школа Действия»',
                subtitle: '[Онована на базе действующего животноводческого комплекса «АГРОФИРМА&nbТРИО»]',
                img: 'img/intro/school_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Школа действия',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: 'Главной особенностью центра является техника передачи знаний, подкреплённая практикой'
            })

                .i-intro__contact.intro-contact
                    .intro-contact__header
                        +title({
                            text: 'Запись в школу <br>животноводства',
                            size: '20'
                        })
                        .intro-contact__icon
                            img(src="img/about/about_icon_15.svg" alt="")
                    .intro-contact__list 
                        .intro-contact__row
                            .intro-contact__subtitle По телефону:
                            +title({
                                classes: 'intro-contact__link',
                                text: '<a href="tel:+79616009994">+7 (961) 600-99-94</a>',
                                size: '20'
                            })

                .i-intro__corner
                    ul.i-intro__list
                        li Продолжительность курса: 5 дней (рабочая неделя)
                        li Общее количество участников курса: 5 – 10 человек
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")


            +about-info({
                top: [
                    {
                        tag: 'Основные цели центра',
                        title: '',
                        text: `<ul>
                            <li>Повышение квалификации специалистов-животноводов;</li>
                            <li>Обмен опытом между животноводческими хозяйствами различного уровня;</li>
                            <li>Повышение квалификации собственных сотрудников через образовательные процессы;</li>
                            <li>Воспитание молодых кадров для работы на современных животноводческих комплексах</li>
                            </ul>
                            `
                    }
                ],
                cards: [
                    {
                        title: 'Разбираем реальные кейсы',
                        icon: 'img/about/about_icon_16.svg',
                        text: `
                            <p>В процессе обучения вы узнаете обо всех ошибках и проблемах, в прошлом допущенных на молочном комплексе ООО „Агрофирмы «ТРИО».</p>
                            <p>То есть у вас будет уникальная возможность научиться на наших ошибках, узнать, что и как мы изменили, чтобы их преодолеть.</p>
                            `
                    },
                    {
                        title: 'Мы развиваемся вместе с Вами',
                        icon: 'img/about/about_icon_4.svg',
                        text: `
                            <p>Сейчас животноводческий комплекс „Агрофирмы «ТРИО» является одним из лучших в России и Европе.</p>
                            <p>Молочное стадо 1700 коров, среднесуточный удой 31–32 л, удой за 2010 год составил 9 071 кг.</p>
                            <p>Но цель ещё не достигнута. В планах комплекса — ежегодный удой 12 000 кг с каждой коровы.</p>
                            `
                    }
                ]
            })

            +section-info({
                top: [
                    {
                        title: '<span>Действие</span> – вот что дает желаемый результат',
                        text: `<p>Пройдя курс обучения, вы научитесь принципам выстраивания системы организации производства с применением компьютеризированной системы учёта на собственной ферме.</p>`
                    },
                    {
                        title: 'Программа <br>«<span>Школа-Вуз-Бизнес</span>»',
                        text: `<p>В учебном центре ведётся большая работа по программе «Школа-Вуз-Бизнес» по основным направлениям.</p>
                            <p>Все преподаватели «Школы действия» являются опытными практикующими специалистами молочного животноводства.</p>
                            <p>Среди выпускников «Школы действия» – специалисты из России, Казахстана и Белоруссии.</p>`
                    }
                ],
                cards: [
                    {
                        title: 'Направление <br><span>«Школа»</span>',
                        icon: 'img/about/about_icon_18.svg',
                        num: '01',
                        text: `
                            <p>Проводится работа с молодым поколением в сфере духовно-нравственного и профильного развития:</p>
                            <ul>
                                <li>Экскурсии для школьников;</li
                                <li>Прохождение практики учениками 10–11 классов в АФ «ТРИО».</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Направление <br><span>«Вуз»</span>',
                        icon: 'img/about/about_icon_11.svg',
                        num: '02',
                        text: `
                            <p>Проводится работа по внедрению в программы обучения современной теории и практики животноводства:</p>
                            <ul>
                                <li>Прохождение практики студентами и последующее трудоустройство;</li>
                                <li>Бесплатное обучение преподавателей;</li>
                                <li>Совместная разработка методических материалов.</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Направление <br><span>«Бизнес»</span>',
                        icon: 'img/about/about_icon_16.svg',
                        num: '03',
                        text: `
                            <p>Повышение конкурентной способности молочной отрасли России за счёт обучения других хозяйств.</p>
                            <ul>
                                <li>Обучение специалистов‑животноводов;</li>
                                <li>Обучение менеджеров‑управленцев;</li>
                                <li>Обмен опытом между животноводческими хозяйствами различного уровня.</li>
                            </ul>
                            `
                    }
                ]
            })

            +quote-section({
                photo: 'img/school/school_person.webp',
                text: `<p>Действие – вот, что дает желаемый  результат.</p>
                    <p>Действие – это единственный способ превратить мечты, планы и цели в реальность.</p>`,
                name: 'Лидия Королева',
                position: 'Директор по животноводству ГК “ТРИО”'
            })

            +school-method({
                hasBg: true
            })
            +pdf-section
            +img-text
            +school-teatcher