extends ../layouts/default

block variables
    - const title = "Семенной завод"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Семенной завод',
                subtitle: '[Крупнейший семенной завод в России] <br><br>Крупнейший семенной завод в России',
                img: 'img/intro/seed_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Семенной завод',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: ''
            })
                .i-intro__corner(data-aos="fade-left" data-aos-delay="700")
                    ul.i-intro__list
                        li Доставка средствами автомобильного и ж/д транспорта в 24/7 режиме;
                        li Доставка экспедированием зёрна до склада клиента (либо до загрузки в вагон ж/д или судно) на собственном автотранспорте.
                        li Минимальный заказ — 300 кг
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +section-info({
                topRight: true,
                top: [
                    {
                        title: '<span>Производительность</span> уникального <br>семенного завода достигает <br>30&nbsp;тонн семян в&nbsp;час при&nbsp;калибровке',
                        text: `<p>В сутки завод способен перерабатывать более 600 тонн семян. На пашнях площадью 27 тыс. га Семенной завод выращивает технические, бобовые и зерновые культуры. Зерновые составляют 60% от общего объема выращиваемых культур – это ячмень, яровая и озимая пшеница.</p>`
                    }
                ]

            })

            +about-info({
                cards: [
                    {
                        title: 'Более 100 видов <br>испытательных сортов',
                        icon: 'img/about/about_icon_31.svg',
                        text: `
                            <p>Семенной завод производит оригинальные и элитные семена разных сортов сельскохозяйственных культур: пшеницы, ячменя, гороха, люпина, рапса, горчицы, люцерны, рыжика и других.</p>
                            <p>Предприятие имеет собственные сортоиспытательные поля, на которых тестируются более 100 видов перспективных сортов.</p>
                            `
                    },
                    {
                        title: 'Каждая партия <br>семян сертифицируется',
                        icon: 'img/about/about_icon_3.svg',
                        text: `
                            <p>Семенной завод применяет передовые технологии выращивания семян сельскохозяйственных культур.</p> 
                            <p>За счет применения современных прогрессивных технологий улучшается и качество производимых семян. Каждая партия семян сертифицируется Россельхозцентром.</p>
                            `
                    }
                ]
            })

            +accreditation({
                title: 'Наши <br><span>ключевые партнеры</span>'
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_5.webp">`,
                        title: 'Федеральный лидер',
                        text: `
                        <p>Предприятие имеет 3 линии приемки зерна по 80 тонн в час каждая. Одновременно завод может принимать 3 разных вида культур. Мощности по приемке – 2 600 тонн в сутки.</p>
                        <p>Линии сортировки, калибровки и протравки. Предприятие имеет 4 погрузчика, мощность по отгрузке составляет 550 – 1000 тонн в сутки. Мощность хранения семенного материала зерновых культур составляет 40 тысяч тонн в год.</p>
                        <p>Упаковка готовых семян происходит в воздухопроницаемые полипропиленовые мешки - Биг-Бэги с возможностью фасовки 700-850 кг. Бик-Бэги хранятся на складах готовой продукции, рассчитанных на 16 000 тонн семян.</p>
                        <p>Элитные семена хранятся на 3 складах по 2 000 тонн каждая. Производительный процесс от приемки до хранения доведенного до кондиции семенного материала полностью компьютеризирован и оснащен самым современным европейским технологическим оборудованием компаний «Cimbria» и «Symaga».</p>`,
                        imgRight: false,
                        btn: 'Фильм',
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_6.webp">`,
                        title: 'Семенной завод работает по&nbsp;уникальному принципу «завод&nbsp;— поле»',
                        text: `
                            <p>Завод напрямую поставляет собственные, готовые к посеву семена на поля агрофирм ГК «ТРИО».</p>
                            <p>Таким образом, устраняется цепочка посредников, что позволяет значительно снизить затраты на логистику. При этом, работая по принципу «завод – поле», производитель гарантирует качество семян.</p>`,
                        imgRight: true,
                        btn: 'Обзор элеваторов',
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_7.webp">`,
                        title: 'Мощность производства семян высокой репродукции и мелкосемянных культур — 10 тонн в час',
                        text: `
                        <p>После модернизации линии по производству семян высокой репродукции и мелкосемянных культур в октябре 2021 года его мощность составит 10 тонн в час.</p>
                        <p>Каждая партия семян будет сертифицироваться Россельхозцентром, а затем поступать в качестве готовой к посеву напрямую на поля.</p>
                        <p>Таким образом предприятие закрывает формат «завод – поле», избегая посредников, снижая затраты на логистику и сохраняя высокое качество.</p>`,
                        imgRight: false,
                        btn: 'Интервью со специалистом по надзору качества',
                        isLink: false
                    },
                ],
            })