extends ../layouts/default

block variables
    - const title = "Социально-благотворительная деятельность"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Социально-благотворительная <br>деятельность',
                subtitle: '[Занимаемся трейдингом зерна с 2003 года]',
                img: 'img/intro/social_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Социально-благотворительная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: `Группа компаний «ТРИО» c 2011 года реализует <br>собственную стратегию социальных <br>и&nbsp;благотворительных программ. `
            })
                .i-intro__corner(data-aos="fade-left" data-aos-delay="700")
                    ul.i-intro__list
                        li Подходите под социальную программу
                        li Хотите оказать поддержку
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +about-info({
                cards: [
                    {
                        title: 'Миссия',
                        icon: 'img/about/about_icon_1.svg',
                        text: `
                            <p>С 1997 года Группа компаний «ТРИО» выстраивает сознательный бизнес, реализующий не только финансовые, но и гуманистические цели, формируя здоровое общество вокруг себя, заботясь о людях, о благополучии родного края и процветании России в целом.</p>
                            `
                    },
                    {
                        title: 'Финансирование',
                        icon: 'img/about/about_icon_3.svg',
                        text: `
                            <p>С 2011 года на социальные программы выделено более 306 млн рублей</p>
                            <ul>
                                <li>На сотрудников — 102,65 млн рублей;</li>
                                <li>На развитие территорий — 187 млн рублей;</li>
                                <li>На программу «Вместе делаем добро» - 16,8 млн ₽.</li>
                            </ul>`
                    }
                ]
            })

            +sp-slider

            +section-info({
                topCenter: true,
                top: [
                    {
                        tag: '',
                        title: 'С 2011 года на <span>социальные <br>программы</span> выделено <br>более 306 млн. рублей',
                        text: `
                            <ul>
                                <li>На сотрудников- 102,65млн. рублей;</li>
                                <li>На развитие территорий- 187млн. рублей;</li>
                                <li>На программу «Вместе делаем добро» - 16,8 млн. руб.</li>
                            </ul>`
                        }
                ],
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_8.webp">`,
                        title: 'Первый круг <br>взаимодействия: «Сотрудники»',
                        text: `
                        <p>Заботясь о людях, работающих в Компании, ГК «ТРИО» проводит социальные программы по поддержке и помощи собственных сотрудников</p>
                        <p>Поддержка сотрудников — путь к эффективному бизнесу!</p>`,
                        imgRight: false,
                        btn: 'Фильм про благотворительность',
                        isLink: false
                    },
                ],
            })

            +about-info({
                cards: [
                    {
                        title: 'Коллективный договор — это социальная <br>ответственность компании',
                        icon: 'img/about/about_icon_25.svg',
                        text: `
                            <p>С 2011 года на эту социальную программу <br>выделено более 63 млн. руб.</p>
                            `
                    },
                    {
                        title: '25 статей материальной помощи',
                        icon: 'img/about/about_icon_3.svg',
                        text: `
                            <ul>
                                <li>По радостным поводам — бракосочетание, рождении детей;</li>
                                <li>В трудных жизненных ситуациях — похороны родственников, покупка лекарств, медицинские операции, санаторное лечение;</li>
                                <li>Поддержка работников — юбилеи, праздники, призывники, при выходе на пенсию, займы, премирование;</li>
                                <li>Поддержка детей — ежемесячная выплата матерям по уходу за детьми до 1,5 лет, одиноким матерям до исполнения ребёнку 16 лет, праздники.</li>
                            </ul>`
                    }
                ]
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_9.webp">`,
                        title: 'Задачи коллективного договора',
                        text: `
                            <ul>
                                <li>Эффективное взаимодействие руководства и коллектива;</li>
                                <li>Социальное партнерство;</li>
                                <li>Мотивация работников;</li>
                                <li>Привлечение и удержание квалифицированного персонала;</li>
                                <li>Повышение производительности труда;</li>
                                <li>Повышение эффективности компании</li>
                            </ul>
                        `,
                        imgRight: false,
                        btn: 'Открыть коллективный договор',
                        isLink: true
                    },
                    {
                        img: `<img src="img/img-text/img_text_10.webp"><div class="img-text__note">По каждому из вышеперечисленных событий была выплачена премия, согластно коллективному договору</div>`,
                        title: 'С 2017 года произошло много событий <br>в&nbsp;жизни коллектива',
                        text: `
                            <ul>
                                <li>более 50 работников сыграли свадьбы впервые;</li>
                                <li>более 140 детей родилось в семьях сотрудников;</li>
                                <li>более 130 детей пошли в первый класс;</li>
                                <li>более 70 детей-выпускников у сотрудников;</li>
                                <li>более 150 многодетных родителей были отмечены;</li>
                                <li>более 60 работников получили премию по уходу за ребёнком до 1,5 лет;</li>
                                <li>более 190 юбилеев отметили наши работники;</li>
                                <li>более 290 специалистов были удостоены профессиональных наград;</li>
                                <li>более 110 сотрудников отмечены за стаж от 5 лет в компании или вышли на пенсию;</li>
                                <li>более 440 работников воспользовались беспроцентным займом от компании;</li>
                                <li>более 160 работников получили помощь на лечение и по семейным обстоятельствам.</li>
                            </ul>
                        `,
                        imgRight: true,
                        btn: 'Обзор элеваторов',
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_11.webp">`,
                        title: 'Жилье для специалистов',
                        text: `
                            <p>Программа направлена на улучшение жилищных условий сотрудников Группы компаний «ТРИО».</p>
                            <p>С 2011 года более 155 сотрудников стали участниками данной программы, <br>на которую выделено более 38 млн ₽.</p>
                            <p>Цель программы:</p>
                            <ul>
                                <li>улучшение жилищных условий работников;</li>
                                <li>привлечение новых квалифицированных кадров.</li>
                            </ul>
                            <p>Выделяется 250 000 рублей займа с ежегодным списанием 50 000 рублей.</p>
                            <p>Т.е через 5 лет работы в компании займ полностью закрывается. <br>С сотрудника удерживается только НДФЛ 13%.</p>
                        `,
                        imgRight: false,
                        btn: false,
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_5.webp">`,
                        title: 'Второй круг взаимодействия: <br>«Развитие территорий»',
                        text: `
                            <p>Социальные программы ГК «ТРИО», направленные на поддержку районов Липецкой области, на территории которых находятся предприятия компании.</p>
                            <p>С 2011 года на эти программы компанией выделено более 187 млн ₽.</p>
                        `,
                        imgRight: true,
                        btn: 'Фильм про благотворительность',
                        isLink: false
                    },
                ],
            })

            +about-info({
                cards: [
                    {
                        title: '«3 % от ФОТ» Содействие устойчивому <br>развитию территорий',
                        icon: 'img/about/about_icon_26.svg',
                        text: `
                            <p>Единственная в Липецкой области программа поддержки поселений — выделяется 3% от ФОТ на нужды муниципалитетов.</p>
                            <p>У них появляется возможность привлечь дополнительные средства за счёт региональных и федеральных программ на условиях софинансирования.</p>
                            `
                    },
                    {
                        title: '«Помним о прошлом» Программа помощи <br>ветеранам ВОВ',
                        icon: 'img/about/about_icon_25.svg',
                        text: `
                            <p>Программа включает в себя:</p>
                            <ul>
                                <li>Праздничные подарки ветеранам и вдовам к 9 мая;</li>
                                <li>Ремонт обелисков и памятных мест боевой и воинской славы;</li>
                                <li>Помощь в организации и проведении Дня Победы.</li>
                                <li>С 2011 года на программу выделено более 4 млн ₽. Дополнительно с ФБ и РБ привлечено более 11 млн 1  ₽рубль ГК «ТРИО» - 3 рубля ФБ и РБ.</li>
                            </ul>`
                    }
                ]
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_12.webp">`,
                        title: '«Живем настоящим» <br>Поддержка спорта и культуры',
                        text: `
                            <p>Ежегодно осуществляется помощь:</p>
                            <ul>
                                <li>Дома культуры - 16 000 рублей;</li>
                                <li>На спортивную команду 90 000 рублей + возможность оплаты тренера;</li>
                            </ul>
                        `,
                        imgRight: false,
                        btn: 'Открыть коллективный договор',
                        isLink: true
                    },
                ],
            })

            +section-info({
                topRight: true,
                top: [
                    {
                        tag: '',
                        title: 'Группа компаний «ТРИО» является инициатором <br>создания спортивно-патриотического клуба <br>«<span>КРИСТАЛЛ-ЕЛЕЦ</span>»',
                        text: `
                            <ul>
                                <li>115 детей от 7 до 18 лет;</li>
                                <li>5 кандидатов в мастера спорта;</li>
                                <li>14 перворазрядников;</li>
                                <li>5 членов сборной команды России по боксу;</li>
                            </ul>
                            <p>Ежегодно финансируется:</p>
                            <ul>
                                <li>содержание тренировочной базы;</li>
                                <li>работа тренерского состава;</li>
                                <li>проведение Всероссийских турниров.</li>
                            </ul>`
                        }
                ],
            })

            +about-info({
                cards: [
                    {
                        title: '«Думаем о будущем» <br>Поддержка школ и детских садов',
                        icon: 'img/about/about_icon_26.svg',
                        text: `
                            <p>Ежегодно выделяется:</p>
                            <ul>
                                <li>на школу — 30 000 рублей;</li>
                                <li>на детский сад — 15 000 рублей;</li>
                                <li>дарим новогодние подарки всем детям до 14 лет;</li>
                            </ul>
                            `
                    },
                    {
                        title: 'Готовим резервы» Школьные экскурсии <br>на&nbsp;производство',
                        icon: 'img/about/about_icon_9.svg',
                        text: `
                            <p>Группа компаний «ТРИО» регулярно организует для школьников экскурсии на свои молочные комплексы и в растениеводческие хозяйства.</p>
                            <p>Программа направлена на решение нескольких задач:</p>
                            <ul><li>Духовно-нравственное развитие учащихся;</li>
                            <li>Профильное развитие личности наших детей;</li>
                            <li>Приобщение детей к полезным привычкам.</li></ul>`
                    }
                ]
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_13.webp">`,
                        title: '«Верим в добро» Благотворительная поддержка по&nbsp;районам',
                        text: `
                            <p>ЕС 2011 года выделено более 70 млн ₽ на восстановление православных храмов в районах присутствия ГК «ТРИО».</p>
                            <p>Ежегодная помощь в размере 30 000 ₽ на проведение престольных праздников и приобретение церковной утвари.</p>
                            <p>Укрепляя духовные ценности, ГК «ТРИО» оказывает всестороннюю поддержку:</p>
                            <ul>
                                <li>монастыри и храмы;</li>
                                <li>детские дома и интернаты;</li>
                                <li>другие социальные учреждения.</li>
                            </ul>
                        `,
                        imgRight: false,
                        btn: false,
                        isLink: false
                    },
                    {
                        img: `<img src="img/img-text/img_text_14.webp">`,
                        title: 'Третий круг взаимодействия: <br>«Благотворительность»',
                        text: `
                            <p>Расширяя границы своей социальной ответственности, ГК «ТРИО» осуществляет социальную и благотворительную деятельность на территории Липецкой области и других регионов России.</p>
                            <p>Помогать детям бороться за полноценную жизнь в обществе — это особая миссия.</p>
                            <p>Миссия, из которой в 2014 году родилась идея — подключить к благотворительной работе другие организации, чтобы общими усилиями помогать ещё большему количеству детей и создать городскую новогоднюю традицию — вместе делать добро.</p>
                        `,
                        imgRight: true,
                        btn: false,
                        isLink: false
                    },
                ],
            })

            +about-info({
                cards: [
                    {
                        title: 'Как зарождалась традиция?',
                        icon: 'img/about/about_icon_25.svg',
                        text: `
                            <p>Перед наступлением 2013 года, когда сотрудники ГК «ТРИО» готовились к корпоративному Новому году, мероприятие отменилось, в силу независящих причин. Сотрудники могли забрать, собранные для празднования Нового года средства, но приняли решение направить их на благотворительные цели.</p>
                            <p>В результате были приобретены подарки для коррекционного интерната в селе Вторые Тербуны — оборудование для сенсорной комнаты, инструменты для мастерских и спортивный инвентарь.</p>
                            `
                    },
                    {
                        title: 'Благотворительная акция стала <br>ежегодной новогодней традицией, <br>объединяющей сотрудников и компанию',
                        icon: 'img/about/about_icon_26.svg',
                        text: `
                            <p>Воодушевлённые опытом предыдущего года, в канун 2014 года сотрудники собрали уже гораздо большую сумму, а руководство холдинга приняло решение об удвоении этой суммы за счёт средств компании.</p>
                            <p>Эти деньги были потрачены на приобретение дорогостоящего оборудования для детского онкологического центра, лекарственные препараты и подарки больным онкологией детям, а также на помощь Елецкому интернату.</p>`
                    }
                ]
            })

            +img-text({
                transparent: true,
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_15.webp">`,
                        title: 'Четвертый круг взаимодействия: <br>«Вместе делаем добро»',
                        text: `
                            <p>Своим примером ГК «ТРИО» привлекает к участию в благотворительной деятельности другие компании, жителей города и Липецкой области.</p>
                            <p>В ноябре 2014 года в Липецке стартовал первый новогодний благотворительный марафон «Вместе делаем добро».</p>
                            <p>Тогда же к ГК «ТРИО» присоединились компании ГК «Эксперт» и «Липецкая радиогруппа» - их работники организовали сбор средств среди коллег.</p>
                            <p>На собранную сумму в 1 900 000 рублей закупили аппарат УЗИ для 1-й городской детской больницы, приобрели инвалидные коляски, оплатили курсы реабилитации, закупили медпрепараты для больных детей, оплатили срочную операцию новорождённой девочке и оказали помощь интегрированному ансамблю «Параллели».</p>`,
                        imgRight: false,
                        btn: false,
                        isLink: false
                    }
                ],
            })

            +section-info({
                topRight: true,
                top: [
                    {
                        tag: '',
                        title: 'Липецкая благотворительная общественная <br>организация «<span>Вместе делаем добро</span>»',
                        text: `
                            <p>Для объединения всех организаций, желающих присоединиться к благотворительному марафону - создана Липецкая благотворительная общественная организация «Вместе делаем добро».</p>
                            <p>В 2016 году идея проведения благотворительного новогоднего марафона переросла в ежегодную городскую традицию - больше компаний, больше собранных средств, больше помощи детям.</p>
                            <p>С тех пор ежегодная новогодняя благотворительная традиция объединяет людей в желании помогать нуждающимся детям и воплощать их мечты.</p> 
                            <p>Каждый год перед новогодними праздниками стартует благотворительный марафон и помогаем тяжелобольным детям - лекарствами, оборудованием, лечением, реабилитацией.</p>`
                        }
                ],
            })

            +accreditation({
                title: 'Поддержка компаний, частных лиц и СМИ региона',
                subtitle: 'Ежегодный новогодний благотворительный <br>марафон «Вместе делаем добро»'
            })

            +section-info({
                topRight: true,
                top: [
                    {
                        tag: '',
                        title: '<span>Трилогия успеха</span>: <br>создавать, помогать, объединять!',
                        text: `
                            <p>В 2018 году, только в рамках благотворительного фонда «Вместе делаем добро», на лечение детей было собрано более 6 000 000 рублей. Оказана помощь более 60 детям в виде денежных сертификатов на необходимую реабилитацию. Также помощь получили две организации, работающие по реабилитационным программам с детьми — инвалидами: ансамбль инклюзивного танца «Параллели» и реабилитационная группа команды «Метелица» - «Первый шаг». Каждый год в наших силах оказать поддержку ещё большему количеству нуждающихся детей — присоединяйтесь к нашей команде!</p>
                            <p>Группа компаний «ТРИО» всегда уделяет огромное значение благотворительной и социальной работе. Такова неизменная позиция и железное убеждение руководства компании и всего коллектива.</p>`
                        }
                ],
            })

