extends ../layouts/default

block variables
    - const title = "Социально-благотворительная деятельность"

block content
    .page(data-js="page")
        .page-layout
            +i-intro({
                title: 'Социально-благотворительная <br>деятельность',
                subtitle: '[Занимаемся трейдингом зерна с 2003 года]',
                img: 'img/intro/social_intro.webp',
                breadcrumbs: {
                    cMode: 'light',
                    items: [
                        {
                            name: 'ГК ТРИО',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Социально-благотворительная деятельность',
                            link: 'javascript:void(0);'
                        }
                    ]
                },
                desc: `Группа компаний «ТРИО» c 2011 года реализует <br>собственную стратегию социальных <br>и&nbsp;благотворительных программ. `
            })
                .i-intro__corner
                    ul.i-intro__list
                        li Подходите под социальную программу
                        li Хотите оказать поддержку
                    +btn({
                        name: 'Оставить заявку',
                        cMode: 'accent',
                        sMode: 'full'
                    })(data-modal="#orderModal")

            +about-info({
                cards: [
                    {
                        title: 'Миссия',
                        icon: 'img/about/about_icon_1.svg',
                        text: `
                            <p>С 1997 года Группа компаний «ТРИО» выстраивает сознательный бизнес, реализующий не только финансовые, но и гуманистические цели, формируя здоровое общество вокруг себя, заботясь о людях, о благополучии родного края и процветании России в целом.</p>
                            `
                    },
                    {
                        title: 'Финансирование',
                        icon: 'img/about/about_icon_3.svg',
                        text: `
                            <p>С 2011 года на социальные программы выделено более 306 млн рублей</p>
                            <ul>
                                <li>На сотрудников — 102,65 млн рублей;</li>
                                <li>На развитие территорий — 187 млн рублей;</li>
                                <li>На программу «Вместе делаем добро» - 16,8 млн ₽.</li>
                            </ul>`
                    }
                ]
            })

            //- Социальные программы

            +section-info({
                topCenter: true,
                top: [
                    {
                        tag: '',
                        title: 'С 2011 года на <span>социальные <br>программы</span> выделено <br>более 306 млн. рублей',
                        text: `
                            <ul>
                                <li>На сотрудников- 102,65млн. рублей;</li>
                                <li>На развитие территорий- 187млн. рублей;</li>
                                <li>На программу «Вместе делаем добро» - 16,8 млн. руб.</li>
                            </ul>`
                        }
                ],
            })












            +img-text({
                rows: [
                    {
                        img: `<img src="img/img-text/img_text_5.webp">`,
                        title: 'Базисы поставки зерна в&nbsp;процессе реализации',
                        text: `
                        <ul>
                            <li>на элеваторах по переписи в соответствии с отраслевой формой ЗПП-13;</li>
                            <li>средствами автомобильного и ж/д транспорта в круглосуточном режиме;</li>
                            <li>экспедированием зёрна до склада клиента (либо до загрузки в вагон ж/д или судно) на собственном автотранспорте.</li>
                        </ul>`,
                        imgRight: false,
                        btn: 'О транспортном парке'
                    },
                    {
                        img: `<img src="img/img-text/img_text_6.webp">`,
                        title: 'Наши хлебоприемные <br>предприятия',
                        text: `
                            <p>НВ Группу компаний «ТРИО» входят 2 элеватора.</p>
                            <p>Зерновой департамент осуществляет полное управление и контроль над элеваторами в процессе отгрузки зёрна.</p>
                            <p>Мощность хранения элеваторов и ХПП составляет более 76 000 тонн зерновых.</p>`,
                        imgRight: true,
                        btn: 'Обзор элеваторов'
                    },
                    {
                        img: `<img src="img/img-text/img_text_7.webp">`,
                        title: 'Отдел контроля качества зерновых и&nbsp;масличных культур',
                        text: `
                        <p>Создание отдела качества продукции явилось важным шагом в развитии зернового направления. Отдел качества продукции осуществляет:</p>
                        <ul>
                            <li>Контроль качества зерновой продукции с момента первичной подработки, в процессе закладки, хранения и отгрузки продукции с элеваторов;</li>
                            <li>Контроль за состоянием складов и ёмкостей элеваторов;</li>
                            <li>Дезинфекцию и дезинсекцию зон хранения;</li>
                            <li>Контроль за процессом аттестации и аккредитации лабораторий хлебоприемных предприятий ГК «ТРИО»;</li>
                            <li>Обучение специалистов и повышение квалификации сотрудников лабораторий.</li>
                        </ul>`,
                        imgRight: false,
                        btn: 'Интервью со специалистом по надзору качества'
                    },
                ],
            })














            +accreditation({
                title: 'Поддержка компаний, частных лиц и СМИ региона'
            })

