.rating-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 30px;

    @include max(tablet) {
        gap: 10px;
        padding-top: 24px;
    }

    @include max(xs) {
        padding-top: 16px;
    }

    &__top {
        position: relative;
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: $br-10;
        overflow: hidden;
        flex: 0 0 auto;

        img {
            width: 100%;
        }
    }

    &__rating {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(50px);
        border-radius: 100px;
        padding: 15px 30px;
        //font-family: $ff-tiktok;
        font-family: $ff-bebas;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0;
        color: $c-text;

        @include max(tablet) {
            padding: 12px 20px;
            font-size: 24px;
        }

        @include max(xs) {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex: 0 0 auto;
        min-height: 115px;
        padding: 10px;
        background-color: $c-bg-main;
        border-radius: 10px;

        @include max(tablet) {
            min-height: 100px;
        }
    }

    &__title {
        text-transform: none;
        text-align: center;

        @include max(tablet) {
            font-size: 16px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 137.5%;
        color: $c-link;
        transition: all $tr;
        word-break: break-all;

        @include max(xs) {
            font-size: 14px;
        }

        &:hover {
            text-decoration: underline;
        }

        svg {
            color: $c-text-light;
            width: 24px;
            height: 24px;
            transition: all $tr;
            flex-shrink: 0;

            @include max(xs) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover svg {
            color: $c-link;
        }
    }
}