.pa-auth {
    .pa__content {
        margin-top: 0;
    }

    .bx-authform {
        max-width: 500px;
        margin: 0 auto;
        font-family: $ff-open;
        color: $c-text;

        .bx-title {
            font-weight: 500;
            font-size: 30px;
            line-height: 130%;
            letter-spacing: -0.04em;
            margin-bottom: 24px;

            @include max(laptop) {
                font-size: 24px;
            }

            @include max(tablet) {
                font-size: 20px;
            }
        }

        input+.bx-authform-formgroup-container,
        .bx-authform-formgroup-container+.bx-authform-formgroup-container {
            margin-top: 16px;
        }

        .bx-captcha {
            margin: 5px 0;
        }

        .bx-authform-label-container {
            margin-top: 0;
            margin-bottom: 4px;
            padding-top: 0;
            padding-bottom: 0;
            color: $c-text-light;
            font-size: 15px;
        }

        .bx-authform-input-container input {
            width: 100%;
            padding: 16.5px 20px;
            font-family: $ff-open;
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            background-color: $c-bg-main !important;
            background: $c-bg-main !important;
            outline: none;
            color: $c-accent;
            border: 1px solid transparent;
            transition: all $tr;
            min-height: 56px;
            border-radius: $br-10;

            &::placeholder {
                color: $c-text-light;
            }
        }

        .bx-filter-param-label {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .bx-filter-param-label input {
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            background-color: transparent;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            cursor: pointer;
            margin-top: 2px;
            border: 2px solid #969696;
            border-radius: 3px;
        }

        .bx-filter-param-label .bx-filter-param-text {
            font-weight: 400;
            font-size: 15px;
            line-height: 153.3%;
            color: #969696;
        }

        .bx-authform-link-container,
        .bx-authform-description-container,
        .bx-authform-note-container {
            font-weight: 400;
            font-size: 16px;
            line-height: 139%;
            color: $c-text-light;

            @include max(laptop) {
                font-size: 14px;
            }

            a {
                font-family: $ff-open;
                font-weight: 400;
                font-size: 16px;
                line-height: 139%;
                text-decoration: underline;
                color: $c-link;
                opacity: 1;
                transition: all $tr;
                border-bottom: none;

                @include max(laptop) {
                    font-size: 14px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .bx-authform-link-container+.bx-authform-link-container,
        noindex+noindex .bx-authform-link-container,
        .bx-authform-description-container+.bx-authform-description-container,
        .bx-authform-description-container+.bx-authform-link-container,
        .bx-authform-formgroup-container+.bx-authform-link-container,
        .bx-authform-note-container {
            margin-top: 10px;
        }

        .bx-authform-link-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .bxe-light {
            background-color: $c-border;
        }

        .btn.btn-primary {
            border: none;
            color: $c-white;
            background-color: $c-accent;
            transition: all $tr;
            text-decoration: none !important;
            font-size: 16px !important;
            margin: 0 !important;
            min-width: 146px;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}