.gallery {

    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(tablet) {
            gap: 12px;
        }
    }

    &__left {
        flex: 0 0 38%;
        border-radius: $br-20;
        overflow: hidden;

        @include max(tablet) {
            border-radius: $br-10;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: stretch;
        gap: 24px;

        @include max(tablet) {
            gap: 12px;
        }

        img {
            width: 100%;
            aspect-ratio: 1 / 0.64;
            border-radius: $br-20;
            object-fit: cover;

            @include max(tablet) {
                border-radius: $br-10;
            }
        }
    }

    &__desc {
        padding: 34px 30px 10px;

        @include max(tablet) {
            padding: 10px;
        }
    }

    &__text.text-editor {
        margin-top: 20px;

        @include max(tablet) {
            margin-top: 10px;
        }

        h2,
        p {
            margin-bottom: 10px;
        }
    }

}