-
    const defaultNewsArticleProps = {
        classes: ''
    }

mixin news-article(props= defaultNewsArticleProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsArticleProps.classes
        }

    section.news-article(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .news-article__header
                    .news-article__date 12 июля 2024
                    +title({
                        classes: 'news-article__title',
                        text: 'Команда ГК Трио приняла участие <br>в IV Липецком полумарафоне',
                        tag: 'h1',
                        size: '40'
                    })
                    +btn({
                        classes: 'news-article__share',
                        name: 'Поделиться',
                        cMode: 'bordered-dark',
                        sMode: 'share',
                        icon: 'share',
                        iconLeft: true
                    })
                .news-article__body.text-editor
                    p Даже на атомных электростанциях электричество вырабатывают посредством паровых турбин. То есть энергию атома мы покорили, но заставляем ее кипятить воду, теряя как минимум 55% энергии. Но, похоже, человечество наконец готово сделать большой шаг вперед и эффективно преобразовывать тепловую энергию в электрическую без посредничества пара.

                    .te-media
                        img(src="img/news/news_article_1.webp" alt="")
                        .te-media__caption Описание фотографии, если нужно. Фото: Самокат

                    h2 Предпосылки создания проекта

                    p Необычное поведение кремния в термоэлектрической паре с нитридом галлия первым заметил теоретик Махмуд Хусейн из Университета Колорадо. Он обратился в отдел прикладной физики NIST, которым руководит исследовательница Крис Бертнесс. Объединенная группа изучила удивительный эффект и смогла понять принцип, благодаря которому он проявляется. 

                    p Разработанная в итоге технология состоит в нанесении сотен тысяч микроскопических столбцов нитрида галлия на кремниевую пластину. Взаимодействие между столбиками и подложкой замедляет передачу тепла в кремнии, позволяя сохранять разность температур и получать больше электрического тока. Выглядит непонятно? Объясняем.

                    .te-note.te-note--attention Смысловая часть была на наших спикерах – основателях и топ-менеджерах, поэтому они тоже много готовились к своему выступлению, в частности работали с тренером по публичным выступлениям. Всё-таки, выступать на такую большую аудиторию и перед камерами – это не так просто, как кажется на первый взгляд.

                    h2 Сложности в реализации проекта
                    p На всё у нас было 3 недели. Это время между тем, как завершили один этап открытий городов и собирались перейти к новому витку. Да, это мало, но ничего невозможного не бывает.
                    p Изначально мы планировали провести мероприятие на реальном гоночном треке, но из-за риска плохой погоды всё-таки решили перенести концепт в помещение.

                    .te-media
                        img(src="img/news/news_article_2.webp" alt="")
                        .te-media__caption Описание фотографии, если нужно. Фото: Самокат

                    p Непростой задачей было найти гоночный болид, который можно было бы разобрать, чтобы его собирали наши спикеры. В какой-то момент мы поняли, что одна из конструкций, которая планировалась, как главный элемент антуража, просто не проходит никаким образом в помещение.
                    p Но сжатые сроки и, наверное, способность адаптироваться помогала нам находить компромиссы.

                    .te-note.te-note--question С самого начала задача казалась совсем не простой. Начиная с вопросов, как вовлечь онлайн аудиторию, как воплотить концепт «Формулы-1», как придумать механику конкурсов, которая будет дополнять наши транслируемые ценности, до таких логистических вопросов: как за неделю выбрать тех, кто будет представлять каждый город, да еще и успеть их привезти из 22 городов.

                    h2 Предпосылки создания проекта
                    p Необычное поведение кремния в термоэлектрической паре с нитридом галлия первым заметил теоретик Махмуд Хусейн из Университета Колорадо. Он обратился в отдел прикладной физики NIST, которым руководит исследовательница Крис Бертнесс. Объединенная группа изучила удивительный эффект и смогла понять принцип, благодаря которому он проявляется.
                    p Разработанная в итоге технология состоит в нанесении сотен тысяч микроскопических столбцов нитрида галлия на кремниевую пластину. Взаимодействие между столбиками и подложкой замедляет передачу тепла в кремнии, позволяя сохранять разность температур и получать больше электрического тока. Выглядит непонятно? Объясняем.

                    .te-media
                        img(src="img/news/news_article_3.webp" alt="")
                        .te-media__caption Описание фотографии, если нужно. Фото: Самокат

                    h2 Цели и задачи проекта
                    p Нам важно было вовлечь наших сотрудников в онлайне, чтобы они смогли прочувствовать атмосферу, получить такие же эмоции, как будто они находятся на площадке в Москве.
                    p Не менее важен был командообразующий элемент, чтобы каждый мог почувствовать себя частью большой команды Самоката.
                    p Весь сценарий от визуализации, речей спикеров и до игровых механик должен быть пропитан нашими ценностями.
