.quote-section {
    &__container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__left {
        display: flex;
        align-items: flex-end;
        flex: 0 0 auto;
    }

    &__photo {
        width: 366px;
        height: auto;
        border-radius: $br-10;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }
    }

    &__corner {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 131px;
        height: 101px;
        padding: 30px 0 0 25px;
        background-color: $c-bg-main;
        border-top-left-radius: $br-20;

        @include max(laptop) {
            padding: 20px 0 0 15px;
            width: 110px;
            height: 85px;
        }

        @include max(tablet) {
            padding: 15px 0 0 15px;
            height: 70px;
        }

        @include max(mobile) {
            padding: 10px;
            height: 56px;
        }

        @include max(xs) {
            height: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -18px;
            width: 20px;
            height: 20px;
            border-radius: 18px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 19px, $c-bg-main 20px);
        }

        &::after {
            content: "";
            position: absolute;
            right: -1px;
            top: -18px;
            width: 20px;
            height: 20px;
            border-radius: 18px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 19px, $c-bg-main 20px);
        }
    }

    &__info {
        margin-left: -106px;
        padding-bottom: 20px;
        position: relative;
    }

    &__position {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $c-text-light;
        margin-top: 5px;
    }

    &__right {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    &__text {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.77em;
        font-family: $ff-tiktok;
        font-weight: 400;
        font-size: 26px;
        line-height: 150%;
        text-transform: uppercase;
        color: $c-text;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-bg-grey;

        svg {
            width: 65px;
            height: 50px;
        }
    }

    &__icon--close {
        align-self: flex-end;
        transform: rotate(180deg);
    }
}