-
    const defaultNewsCardProps = {
        classes: '',
        img: 'img/news/news_card_1.webp',
        desc: 'Этим летом студенты нескольких направлений подготовки НИУ ВШЭ — «Философия», «Медиакоммуникации», «Международные отношения» и «Востоковедение» — впервые использовали нейросеть в процессе написания дипломных и курсовых работ. Университет разрешил применять возможности YandexGPT, генеративной технологии Яндекса, для решения заранее определённого перечня задач, на которые обычно у студента уходит много времени. Она помогала собирать, анализировать и обобщать информацию, проверять текст на ошибки и править оформление, а также разбираться в сложных темах и структурировать ход размышлений.',
        date: '20.10.2025',
        tag: '# Пресса о нас'
    }

mixin news-card(props= defaultNewsCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsCardProps.classes,
            img: props.img ? props.img : defaultNewsCardProps.img,
            desc: props.desc ? props.desc : defaultNewsCardProps.desc,
            date: props.date ? props.date : defaultNewsCardProps.date,
            tag: props.tag ? props.tag : defaultNewsCardProps.tag,
        }

    .news-card(class= checkProps.classes)&attributes(attributes)
        a.news-card__link(href="javascript:void(0);")
        .news-card__img
            img(src=checkProps.img alt="")
        .news-card__body
            .news-card__desc.text-editor!= checkProps.desc
            .news-card__bottom
                .news-card__date!= checkProps.date
                .news-card__tag!= checkProps.tag



