.pa-order {
    .bx-content {

        h1 {
            font-weight: 400;
            font-size: 32px;
            line-height: 100%;
            color: $c-black;

            @include max(laptop) {
                font-size: 26px;
            }

            @include max(tablet) {
                font-size: 24px;
            }

            @include max(mobile) {
                font-size: 20px;
            }
        }

        .row .col,
        .row .col-auto {
            padding-right: 0;
            padding-left: 0;
        }

        .mb-3 {
            margin-bottom: 20px !important;
        }

        a {
            font-family: $ff-open;
            font-weight: 400;
            font-size: 18px;
            line-height: 139%;
            text-decoration: underline;
            color: $c-link;
            opacity: 1;
            transition: all $tr;
            border-bottom: none;

            @include max(laptop) {
                font-size: 16px;
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .sale-order-detail-card {
            border: 1px solid $c-accent;
            border-radius: $br-10;
            overflow: hidden;
        }

        .sale-order-detail-card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            padding: 13px 20px;
            border-color: $c-border;
            border-bottom-width: 0;
            background-color: $c-accent;
            border-radius: 0;
            margin-left: 0 !important;
            margin-right: 0 !important;
            color: $c-white;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;


            >* {
                padding: 0 !important;
                margin: 0 !important;
            }

            @include max(laptop) {
                font-size: 18px;
                padding: 10px 15px !important;
                gap: 10px;
            }

            @include max(tablet) {
                padding: 10px !important;
            }

            @include max(mobile) {
                font-size: 16px;
            }
        }

        .sale-order-detail-section-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            padding: 10px 20px;

            @include max(laptop) {
                padding: 10px 15px !important;
            }

            @include max(tablet) {
                padding: 10px !important;
            }
        }

        .sale-order-detail-section-title+.row {
            @include max(mobile) {
                margin-bottom: 0 !important;
            }
        }

        .sale-order-detail-section-title+.row,
        .sale-order-detail-total-payment,
        .sale-order-detail-more-info-details {
            display: flex;
            gap: 20px;
            padding: 10px 20px;

            @include max(laptop) {
                padding: 10px 15px !important;
                gap: 15px;
            }

            @include max(tablet) {
                padding: 10px !important;
            }

            a,
            a.sale-order-detail-more-info-more,
            a.sale-order-detail-more-info-less {
                font-size: 16px;
                text-decoration: underline !important;

                @include max(mobile) {
                    font-size: 14px;
                }
            }
        }

        .sale-order-detail-section-title+.row>* {
            padding: 0 !important;
            margin: 0 !important;
        }

        .btn.btn-primary,
        .sale-order-detail-section-title+.row .btn.btn-primary {
            border: none;
            color: $c-white;
            background-color: $c-accent;
            transition: all $tr;
            text-decoration: none !important;
            font-size: 16px !important;
            margin: 0 !important;

            &:hover {
                opacity: 0.7;
            }
        }

        .sale-order-detail-more-info-details-title {
            margin-bottom: 10px;
            font-size: 16px;
            color: $c-text-light;
            line-height: 100%;
        }

        .sale-order-detail-prop-name,
        .sale-order-detail-prop-value {
            color: $c-text-light;
            font-size: 14px;
            line-height: 120%;
            font-weight: 400;
        }

        .sale-order-detail-prop-value {
            color: $c-text;
            font-weight: 500;
            margin-top: 5px;
            font-size: 16px;
        }

        .payment-options-methods-row {
            padding-left: 20px;
            padding-right: 20px;

            @include max(laptop) {
                padding-left: 15px;
                padding-right: 15px;
            }


        }

        .col.sale-order-detail-payment-options-methods {
            padding-left: 105px;

            @include max(laptop) {
                padding-left: 35px;
            }

            @include max(tablet) {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
            }

            @include max(mobile) {
                padding-top: 10px;
                padding-bottom: 0;
            }
        }

        .payment-options-methods-row:before {
            left: 66px;
            background-color: $c-border;

            @include max(laptop) {
                left: 30px;
            }

            @include max(tablet) {
                content: none;
            }
        }

        .sale-order-detail-payment-options-methods-button-container {
            padding-right: 0;
            padding-left: 20px;
            align-self: flex-start;

            @include max(tablet) {
                flex-basis: 100%;
                padding-left: 96px;
                padding-top: 20px;
            }

            @include max(mobile) {
                padding-top: 0;
                padding-left: 0;
            }
        }

        .sale-order-detail-payment-options-methods-container:before {
            content: none;
        }

        .sale-order-detail-section-payment-image,
        .sale-order-detail-payment-options-methods-image-container,
        .sale-order-detail-payment-options-shipment-image-container {
            @include max(mobile) {
                display: none !important;
            }
        }

        .sale-order-detail-payment-options-info-order-number,
        .sale-order-detail-payment-options-info-total-price,
        .sale-order-detail-payment-options-methods-info-total-price,
        .sale-order-detail-payment-options-methods-info-title,
        .sale-order-detail-methods-title,
        .sale-order-detail-payment-options-methods-info-title-status-alert,
        .sale-order-detail-payment-options-methods-shipment-list-item-title,
        .sale-order-detail-payment-options-methods-shipment-list-item {
            font-family: $ff-open;
            font-size: 18px;
            line-height: 139%;
            color: $c-text;
            font-weight: 700;

            @include max(laptop) {
                font-size: 16px;
            }

            @include max(mobile) {
                font-size: 14px;
            }
        }

        .sale-order-detail-payment-options-info-total-price,
        .sale-order-detail-payment-options-methods-info-title,
        .sale-order-detail-payment-options-methods-info-total-price,
        .sale-order-detail-payment-options-methods-shipment-list-item {
            font-weight: 400;
            margin-top: 5px !important;
            margin-bottom: 0 !important;
        }

        .sale-order-detail-payment-options-methods-info-title-status-alert {
            color: $c-text-light;
            background-color: transparent;
            padding: 0;
            border: none;
            color: #E00000;
        }

        a.sale-order-detail-payment-options-methods-info-change-link {
            display: block;
            margin-top: 5px;
            font-size: 16px;

            @include max(mobile) {
                font-size: 14px;
            }
        }

        .sale-order-detail-payment-options-shipment {
            display: flex;
            gap: 20px;
        }

        table {
            color: $c-text;
            margin-bottom: 0;
            border-collapse: separate;
            border-spacing: 1px;
            max-width: 100%;

            a,
            a.sale-order-detail-order-item-title {
                font-size: 14px;

                @include max(mobile) {
                    font-size: 12px;
                }
            }

            td,
            th {
                padding: 16px 20px;
                color: $c-text;
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                text-align: start;
                border: none;

                @include max(tablet) {
                    padding: 12px 15px;
                }

                @include max(mobile) {
                    padding: 6px 10px;
                    font-size: 12px;
                }
            }

            th {
                font-weight: 600;
            }

            tbody tr:nth-child(odd) td,
            tbody tr:nth-child(odd) th {
                background-color: $c-bg-main;
            }
        }

        .sale-order-detail-total-payment-list-left-item,
        .sale-order-detail-total-payment-list-right-item {
            font-family: $ff-open;
            font-size: 16px;
            font-weight: 400px;
            line-height: 120%;
            color: $c-text;
        }

        .sale-order-detail-total-payment-list-right-item {
            font-weight: 600;
        }

        .sale-order-detail-payment-options-methods-info {
            @include max(mobile) {
                padding-left: 0 !important;
            }
        }

        .payment-options-methods-row:last-child:after {
            content: none;
        }

        .sale-order-detail-payment-options-methods-shipment-list,
        .sale-order-detail-payment-options-methods-info {
            @include max(mobile) {
                padding-left: 0 !important;
            }
        }
    }
}