-
    const defaultAboutInfoProps = {
        classes: '',
        topCenter: false,
        verticalReverse: false,
        top: '',
        cards: ''
    }

mixin about-info(props= defaultAboutInfoProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAboutInfoProps.classes,
            topCenter: props.topCenter ? props.topCenter : defaultAboutInfoProps.topCenter,
            verticalReverse: props.verticalReverse ? props.verticalReverse : defaultAboutInfoProps.verticalReverse,
            top: props.top ? props.top : defaultAboutInfoProps.top,
            cards: props.cards ? props.cards : defaultAboutInfoProps.cards
        }

        let topLeftClass = checkProps.topCenter === true ? ' about-info--center' : ''

    section.about-info(class= checkProps.classes + topLeftClass)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .about-info__container
                    - if(checkProps.top.length > 0 && checkProps.top.verticalReverse !== true)
                        .about-info__top
                            - let topList = checkProps.top
                            - let topCounter = 0

                            - while(topCounter < topList.length)
                                .about-info__row
                                    .about-info__left
                                        - if(topList[topCounter].tag.length > 0)
                                            +title-tag({
                                                text: topList[topCounter].tag
                                            })

                                        - if(topList[topCounter].title.length > 0)
                                            +title({
                                                text: topList[topCounter].title,
                                                size: '22'
                                            })
                                    .about-info__text!= topList[topCounter].text

                                - topCounter++

                    - if(checkProps.cards.length > 0)    
                        .about-info__cards
                            - let cardsList = checkProps.cards
                            - let cardsCounter = 0

                            - while(cardsCounter < cardsList.length)
                                .about-info__card.ai-card
                                    .ai-card__header
                                        +title({
                                            text: cardsList[cardsCounter].title,
                                            size: '20'
                                        })
                                        .ai-card__icon
                                            img(src=cardsList[cardsCounter].icon alt="")
                                    .ai-card__text.text-editor!= cardsList[cardsCounter].text

                                - cardsCounter++

                    - if(checkProps.top.length > 0 && checkProps.top.verticalReverse === true)
                        .about-info__top
                            - let topList = checkProps.top
                            - let topCounter = 0

                            - while(topCounter < topList.length)
                                .about-info__row
                                    .about-info__left
                                        - if(topList[topCounter].tag.length > 0)
                                            +title-tag({
                                                text: topList[topCounter].tag
                                            })

                                        - if(topList[topCounter].title.length > 0)
                                            +title({
                                                text: topList[topCounter].title,
                                                size: '22'
                                            })
                                    .about-info__text!= topList[topCounter].text

                                - topCounter++
