.c-table {
    &.text-editor table {

        th,
        td {
            max-width: 200px;
            min-width: 120px;
        }

        th.nmw,
        td.nmw {
            max-width: 410px;
            min-width: 340px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include max(xs) {
                max-width: calc(100vw - 40px);
            }

        }
    }
}