@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "category-slider/category-slider";
@import "volume-slider/volume-slider";
@import "animal-slider/animal-slider";
@import "side-video/side-video";
@import "ratings-slider/ratings-slider";
@import "accreditation/accreditation";
@import "finance/finance";
@import "news/news";
@import "i-intro/i-intro";
@import "history-modal/history-modal";
@import "about-info/about-info";
@import "quote-section/quote-section";
@import "numbers/numbers";
@import "structure/structure";
@import "t-scale/t-scale";
@import "news-list/news-list";
@import "news-article/news-article";
@import "bc-section/bc-section";
@import "news-slider/news-slider";
@import "section-info/section-info";
@import "school-method/school-method";
@import "pdf-section/pdf-section";
@import "img-text/img-text";
@import "school-teatcher/school-teatcher";
@import "title-text/title-text";
@import "gallery/gallery";
@import "social-section/social-section";
@import "sp-slider/sp-slider";
@import "product-intro/product-intro";
@import "product-slider/product-slider";
@import "tabs-block/tabs-block";
@import "s-catalog/s-catalog";
@import "contacts-intro/contacts-intro";
@import "contacts-details/contacts-details";
@import "c-filter/c-filter";
@import "c-table/c-table";
@import "personal-area/personal-area";
@import "pa-orders/pa-orders";
@import "pa-order/pa-order";
@import "pa-profile/pa-profile";