@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "category-slider/category-slider";
@import "volume-slider/volume-slider";
@import "animal-slider/animal-slider";
@import "side-video/side-video";
@import "ratings-slider/ratings-slider";
@import "accreditation/accreditation";
@import "finance/finance";
@import "news/news";