@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "category-slider/category-slider";
@import "volume-slider/volume-slider";