.sp-slider {

    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__slider {
        overflow: hidden;
        margin-top: 50px;

        .swiper-wrapper {
            align-items: stretch;
        }
    }

    &__controls {
        flex: 0 0 auto;
        margin-right: 12.5%;

        @include max(tablet) {
            position: relative;
            justify-content: flex-end;
            width: fit-content;
            margin-left: auto;
        }
    }
}

.sp-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    height: auto;

    &__item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        width: 100%;

        @include max(laptop) {
            gap: 12px;
        }

        @include max(xs) {
            gap: 8px;
        }
    }

    &__item--rev {
        flex-direction: row-reverse;
    }

    &__item--big {
        gap: 0;
        flex: 0 0 100%;
    }

    &__img {
        flex: 0 0 58%;
        aspect-ratio: 1 / 0.6;
        border-radius: $br-10;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item--big &__img {
        position: relative;
        flex: 0 0 79%;
        aspect-ratio: 1 / 1.16;

        @include max(laptop) {
            flex: 0 0 70%;
        }

        @include max(mobile) {
            flex: 0 0 80%;
        }

        @include max(xs) {
            flex: 0 0 90%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include max(mobile) {
            gap: 0;
        }
    }

}