-
    const defaultSpSliderProps = {
        classes: ''
    }

mixin sp-slider(props= defaultSpSliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSpSliderProps.classes
        }

    section.sp-slider(class= checkProps.classes data-js="spSlider")&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .sp-slider__header
                    .title-block.sp-slider__headblock
                        +title-tag({
                            text: 'Круги взаимодействия с окружающим миром'
                        })
                        +title({
                            classes: 'sp-slider__title',
                            size: '40',
                            text: '<span>Социальные</span> программы'
                        })

                    +slider-controls({
                        classes: 'sp-slider__controls',
                    })


                .sp-slider__slider(data-js="spSliderSlider")
                    .swiper-wrapper
                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_4.webp" alt="Сотрудники")
                                .sp-slide__info
                                    +title({
                                        text: 'Сотрудники',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку сотрудников, работающих в ГК «ТРИО»

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--top
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="Благотворительность")
                                .sp-slide__info
                                    +title({
                                        text: 'Благотворительность',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Расширяя границы своей социальной ответственности, компания осуществляет социальную и благотворительную деятельность на территории Липецкой области и других регионов РФ.

                            .sp-slide__item.sp-slide__item--bottom
                                .sp-slide__img
                                    img(src="img/volume/volume_5.webp" alt="Развитие территорий")
                                .sp-slide__info
                                    +title({
                                        text: 'Развитие территорий',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку районов Липецкой области, на территории которых расположены предприятия ГК «ТРИО».

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_4.webp" alt="Сотрудники")
                                .sp-slide__info
                                    +title({
                                        text: 'Сотрудники',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку сотрудников, работающих в ГК «ТРИО»

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--top
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="Благотворительность")
                                .sp-slide__info
                                    +title({
                                        text: 'Благотворительность',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Расширяя границы своей социальной ответственности, компания осуществляет социальную и благотворительную деятельность на территории Липецкой области и других регионов РФ.

                            .sp-slide__item.sp-slide__item--bottom
                                .sp-slide__img
                                    img(src="img/volume/volume_5.webp" alt="Развитие территорий")
                                .sp-slide__info
                                    +title({
                                        text: 'Развитие территорий',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку районов Липецкой области, на территории которых расположены предприятия ГК «ТРИО».

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_4.webp" alt="Сотрудники")
                                .sp-slide__info
                                    +title({
                                        text: 'Сотрудники',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку сотрудников, работающих в ГК «ТРИО»

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--top
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="Благотворительность")
                                .sp-slide__info
                                    +title({
                                        text: 'Благотворительность',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Расширяя границы своей социальной ответственности, компания осуществляет социальную и благотворительную деятельность на территории Липецкой области и других регионов РФ.

                            .sp-slide__item.sp-slide__item--bottom
                                .sp-slide__img
                                    img(src="img/volume/volume_5.webp" alt="Развитие территорий")
                                .sp-slide__info
                                    +title({
                                        text: 'Развитие территорий',
                                        size: '20'
                                    })
                                    .sp-slide__text.text-editor Социальные программы, направленные на поддержку районов Липецкой области, на территории которых расположены предприятия ГК «ТРИО».