-
    const defaultSpSliderProps = {
        classes: ''
    }

mixin sp-slider(props= defaultSpSliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSpSliderProps.classes
        }

    section.sp-slider(class= checkProps.classes data-js="spSlider")&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .sp-slider__header
                    .title-block.sp-slider__headblock
                        +title-tag({
                            text: 'Круги взаимодействия с окружающим миром'
                        })
                        +title({
                            classes: 'sp-slider__title',
                            size: '40',
                            text: '<span>Социальные</span> программы'
                        })

                    +slider-controls({
                        classes: 'sp-slider__controls',
                    })


                .sp-slider__slider(data-js="spSliderSlider")
                    .swiper-wrapper
                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_1.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Сотрудники',
                                        size: '20'
                                    })
                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_2.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Картофель',
                                        size: '20'
                                    })

                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Молоко',
                                        size: '20'
                                    })

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_1.webp" alt="зерновые")
                                    .sp-slide__corner
                                .sp-slide__info
                                    +title({
                                        text: 'Зерновые',
                                        size: '20'
                                    })

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_2.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Картофель',
                                        size: '20'
                                    })

                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Молоко',
                                        size: '20'
                                    })

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item.sp-slide__item--big
                                .sp-slide__img
                                    img(src="img/volume/volume_1.webp" alt="зерновые")
                                    .sp-slide__corner
                                .sp-slide__info
                                    +title({
                                        text: 'Зерновые',
                                        size: '20'
                                    })

                        .sp-slider__slide.sp-slide.swiper-slide
                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_2.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Картофель',
                                        size: '20'
                                    })

                            .sp-slide__item
                                .sp-slide__img
                                    img(src="img/volume/volume_3.webp" alt="зерновые")
                                .sp-slide__info
                                    +title({
                                        text: 'Молоко',
                                        size: '20'
                                    })