.volume-slider {
    &__layout {
        display: flex;
        align-items: flex-start;
    }



    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__controls {
        flex: 0 0 auto;
    }

    &__slider {
        margin-top: 50px;
        overflow: hidden;
    }
}