-
    const defaultVolumeSliderProps = {
        classes: ''
    }

mixin volume-slider(props= defaultVolumeSliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultVolumeSliderProps.classes
        }

    section.volume-slider(class= checkProps.classes data-js="volumeSlider")&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .volume-slider__layout
                    .volume-slider__main
                        .title-block.volume-slider__headblock
                            +title-tag({
                                text: 'Производственые масштабы'
                            })(data-aos="flip-up" data-aos-delay="300")
                            +title({
                                classes: 'category-slider__title',
                                size: '40',
                                text: '<span>Объём</span> производимой <br>продукции'
                            })(data-aos="flip-up" data-aos-delay="100")

                .volume-slider__layout
                    .volume-slider__sidebar(data-aos="fade-right" data-aos-delay="400")
                        .volume-slider__desc.text-editor
                            | Современные мощности предприятия позволяют выпускать продукцию в&nbsp;значительных объёмах, обеспечивая стабильные поставки для&nbsp;партнёров по&nbsp;всей стране.
                        +btn({
                            name: 'О компании',
                            cMode: 'accent'
                        })
                    +slider-controls({
                        classes: 'volume-slider__controls',
                    })
                    .volume-slider__main
                        .volume-slider__slider(data-js="volumeSliderSlider" data-aos="fade-up" data-aos-delay="0" data-aos-ofset="1")
                            .swiper-wrapper
                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item.volume-slide__item--big
                                        .volume-slide__img
                                            img(src="img/volume/volume_1.webp" alt="зерновые")
                                            .volume-slide__corner
                                        .volume-slide__info
                                            +title({
                                                text: 'Зерновые',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '90 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })
                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item
                                        .volume-slide__img
                                            img(src="img/volume/volume_2.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Картофель',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '68 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                    .volume-slide__item.volume-slide__item--rev
                                        .volume-slide__img
                                            img(src="img/volume/volume_3.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Молоко',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '74 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item.volume-slide__item--big
                                        .volume-slide__img
                                            img(src="img/volume/volume_1.webp" alt="зерновые")
                                            .volume-slide__corner
                                        .volume-slide__info
                                            +title({
                                                text: 'Зерновые',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '90 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item
                                        .volume-slide__img
                                            img(src="img/volume/volume_2.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Картофель',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '68 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                    .volume-slide__item.volume-slide__item--rev
                                        .volume-slide__img
                                            img(src="img/volume/volume_3.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Молоко',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '74 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item.volume-slide__item--big
                                        .volume-slide__img
                                            img(src="img/volume/volume_1.webp" alt="зерновые")
                                            .volume-slide__corner
                                        .volume-slide__info
                                            +title({
                                                text: 'Зерновые',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '90 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                .volume-slider__slide.volume-slide.swiper-slide
                                    .volume-slide__item
                                        .volume-slide__img
                                            img(src="img/volume/volume_2.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Картофель',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '68 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })

                                    .volume-slide__item.volume-slide__item--rev
                                        .volume-slide__img
                                            img(src="img/volume/volume_3.webp" alt="зерновые")
                                        .volume-slide__info
                                            +title({
                                                text: 'Молоко',
                                                size: '20'
                                            })
                                            +title({
                                                classes: 'volume-slide__title',
                                                text: '74 000 <span class="small">тонн</span>',
                                                size: '40'
                                            })