.volume-slider {
    &__layout {
        position: relative;
        display: grid;
        grid-template-columns: 236px auto;
        gap: 24px;
        align-items: flex-start;

        @include max(laptop) {
            grid-template-columns: 220px auto;
            gap: 12px;
        }

        @include max(tablet) {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }

    &__layout+&__layout {
        margin-top: 50px;

        @include max(laptop) {
            margin-top: 30px;
        }

        @include max(tablet) {
            margin-top: 12px;
        }
    }

    &__main {
        grid-column: 2 / 3;
        overflow: hidden;

        @include max(tablet) {
            grid-column: 1 / 2;
        }
    }

    &__controls {
        position: absolute;
        right: 0;
        bottom: calc(100% + 50px);
        flex: 0 0 auto;

        @include max(laptop) {
            bottom: calc(100% + 30px);
        }

        @include max(tablet) {
            position: relative;
            bottom: auto;
            transform: translateY(-100%);
            justify-content: flex-end;
            width: fit-content;
            margin-left: auto;
        }
    }

    &__slider {
        overflow: hidden;

        .swiper-wrapper {
            align-items: stretch;
        }
    }

    &__desc {
        margin-bottom: 20px;
    }
}

.volume-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    height: auto;

    &__item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        width: 100%;

        @include max(laptop) {
            gap: 12px;
        }

        @include max(xs) {
            gap: 8px;
        }
    }

    &__item--rev {
        flex-direction: row-reverse;
    }

    &__item--big {
        gap: 0;
        flex: 0 0 100%;
    }

    &__img {
        flex: 0 0 58%;
        aspect-ratio: 1 / 0.6;
        border-radius: $br-10;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item--big &__img {
        position: relative;
        flex: 0 0 79%;
        aspect-ratio: 1 / 1.16;

        @include max(laptop) {
            flex: 0 0 70%;
        }

        @include max(mobile) {
            flex: 0 0 80%;
        }

        @include max(xs) {
            flex: 0 0 90%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include max(mobile) {
            gap: 0;
        }
    }

    &__item--big &__info {
        align-self: flex-end;
        position: relative;
        margin-left: -106px;
    }

    &__item--rev &__info {
        align-items: flex-end;
        text-align: left;

        .small {
            text-align: end;
        }
    }

    &__title,
    &__title * {
        line-height: 100%;
    }

    &__title .small {
        display: block;
        margin-top: 10px;
    }

    &__item--big &__title .small {
        display: inline;
        margin-top: 0;
    }

    &__corner {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 131px;
        height: 101px;
        padding: 30px 0 0 25px;
        background-color: $c-white;
        border-top-left-radius: $br-20;

        @include max(laptop) {
            padding: 20px 0 0 15px;
            width: 110px;
            height: 85px;
        }

        @include max(tablet) {
            padding: 15px 0 0 15px;
            height: 70px;
        }

        @include max(mobile) {
            padding: 10px;
            height: 56px;
        }

        @include max(xs) {
            height: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -18px;
            width: 20px;
            height: 20px;
            border-radius: 18px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 19px, #fff 20px);
        }

        &::after {
            content: "";
            position: absolute;
            right: -1px;
            top: -18px;
            width: 20px;
            height: 20px;
            border-radius: 18px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 19px, #fff 20px);
        }
    }
}