.download-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid $c-border;

    @include max(xs) {
        padding: 10px 12px;
        gap: 8px;
        font-size: 14px;
    }

    &__format {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 5px;
        flex: 0 0 auto;
        min-width: 50px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: $c-white;
        background-color: $c-error;
    }

    &__main {
        flex: 1 1 auto;
        color: $c-text;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    &__size {
        font-weight: 400;
        font-size: 15px;
        line-height: 106.67%;
        color: $c-text-light;
        margin-top: 10px;

        @include max(xs) {
            font-size: 12px;
        }
    }

    &__download {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 0 0 auto;
        margin-left: auto;
        color: $c-link;
        transition: all $tr;

        &:hover {
            opacity: 0.7;
        }

        svg {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
        }

        @include max(xs) {

            span {
                display: none;
            }
        }
    }

}