.title {
    color: $c-text;
    font-family: $ff-tiktok;

    &--light {
        color: $c-white;
    }

    span {
        color: $c-text-grey;
    }

    .small {
        font-size: 40%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--60 {
        font-size: 60px;
        font-weight: 600;
        line-height: 125%;
        text-transform: uppercase;
        letter-spacing: -0.04em;

        @include max(laptop) {}

        @include max(tablet) {}

        @include max(mobile) {}
    }

    &--40 {
        font-size: 40px;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;

        @include max(laptop) {}

        @include max(mobile) {}
    }

    &--24 {
        font-weight: 500;
        font-size: 24px;
        line-height: 129%;
    }

    &--20 {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;

    }

}