.main-burger(data-js='mainBurger')
    .main-burger__overlay(data-js="mainBurgerClose")
    .main-burger__content
        .main-burger__header
            +socials()
            .main-burger__close(data-js="mainBurgerClose")
                svg
                    use(xlink:href=`img/sprites/sprite.svg#close`)

        .main-burger__body
            +main-menu

            .site-header__contacts.main-burger__contacts
                .site-header__contact
                    a(href="mailto:info@triogk.ru") info@triogk.ru
                .submenu.submenu--phone
                    .submenu__item.submenu__item
                        .submenu__subtitle Офис продаж
                        a.main-menu__link.main-menu__link--contact(href="tel:+74742371361") +7 (474) 237–13–61
                    .submenu__item.submenu__item
                        .submenu__subtitle Школа Действия
                        a.main-menu__link.main-menu__link--contact(href="tel:+74742371361") +7 (474) 237–13–61
                button(data-modal="#callbackModal").site-header__callback Заказать звонок
