.school-method {
    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;
    }

    &__header {
        flex: 0 0 430px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__text.text-editor {
        align-self: center;
        padding: 30px 0;
        color: $c-text-light;


        h2,
        p {
            margin-bottom: 10px;
        }
    }

    &__img {
        flex: 0 0 500px;
        overflow: hidden;
        border-radius: 70px $br-10 $br-10 $br-10;
        aspect-ratio: 1 / 0.9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}