-
    const defaultSchoolMethodProps = {
        classes: '',
    }

mixin school-method(props= defaultSchoolMethodProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSchoolMethodProps.classes,
        }

    section.school-method(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .school-method__container
                    .school-method__header
                        +title({
                            text: '<span>Главная особенность</span> школы — в технике передачи знаний',
                            size: '40'
                        })
                        +btn({
                            name: 'Запись открытого урока',
                            cMode: 'accent',
                            sMode: 'content',
                            link: 'public/video/about.mp4'
                        })(data-fancybox)
                    .school-method__text.text-editor
                        <p>Выбирая традиционные формы и методики обучения, можно узнать то, что не было известно прежде.</p>
                        <p>Но знания, не подкреплённые практикой, остаются в лучшем случае потенциальной силой, а в худшем — оседают мёртвым грузом или даже предаются забвению за невостребованностью.</p>
                        <p>До тех пор, пока вы не осознаете чётко и в подробностях, как действовать в соответствии с полученным теоретическим багажом, ваши знания почти бесполезны.</p>
                        <p>Когда же их использование на практике приводит к тому, что «правильные действия становятся второй натурой», обучение можно считать достигшим цели.</p>
                        <p>Именно на получение такого результата — практического в прямом смысле слова — и сориентирована наша школа. Достигать его нам позволяют два основополагающих подхода.</p>
                    .school-method__img
                        img(src="img/school/school_method.webp" alt="")
