.school-method {
    &__container {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(laptop) {
            flex-wrap: wrap;
        }
    }

    &__header {
        flex: 0 0 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        padding: 20px 0;

        @include max(laptop) {
            flex: 0 0 100%;
            width: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: minmax(0, 60%) auto;
            align-items: flex-start;

            .title br {
                display: none;
            }
        }

        @include max(tablet) {
            grid-template-columns: 1fr;
        }

        @include max(xs) {
            gap: 12px;
        }
    }

    &__text.text-editor {
        align-self: center;
        padding: 20px 0;
        color: $c-text-light;
        align-self: flex-start;

        @include max(laptop) {
            padding: 0;
            flex: 1 1 calc(100% - 400px);
        }

        @include max(tablet) {
            flex: 1 1 100%;
            order: 1;
        }

        h2,
        p {
            margin-bottom: 10px;
        }
    }

    &--center &__text {
        order: 1;
        padding-left: 46px;

        @include max(large) {
            padding-left: 0;
        }
    }

    &__media {
        position: relative;
        flex: 0 0 500px;
        overflow: hidden;
        border-radius: 70px $br-10 $br-10 $br-10;
        aspect-ratio: 1 / 0.9;

        @include max(large) {
            flex: 0 0 370px;
        }

        @include max(tablet) {
            border-radius: $br-10 70px $br-10 $br-10;
            order: -1;
        }

        @include max(xs) {
            flex: 0 0 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}