.section-info {
    &__top {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include max(laptop) {
            gap: 30px;
        }

        @include max(mobile) {
            gap: 20px;
        }
    }

    &__row {
        display: flex;
        align-self: flex-start;
        gap: 50px;
        width: 100%;

        @include max(laptop) {
            gap: 30px;
        }

        @include max(tablet) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &--center &__row {
        justify-content: center;
    }

    &--right &__row {
        justify-content: center;
    }

    &__left {
        flex: 0 0 340px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @include max(laptop) {
            flex: 0 0 280px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
            justify-content: flex-start;

        }
    }

    &--right &__left {
        flex: 0 1 50%;
    }

    &__title {
        text-align: right;
        font-size: 22px;

        @include max(tablet) {
            text-align: left;

            br {
                display: none;
            }

        }
    }

    &__text {
        flex: 0 1 auto;
        max-width: 57.5%;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        color: $c-text;

        ul {
            padding-left: 1.5em;
            list-style: none;

            @include max(tablet) {
                padding-left: 1em;
            }
        }

        ul>li {
            position: relative;
        }

        ul>li+li {
            margin-top: 0.75em;
        }

        ul>li::before {
            content: '';
            position: absolute;
            top: 0.625em;
            left: -0.9em;
            width: 0.25em;
            height: 0.25em;
            background-color: $c-text;
            border-radius: 100%;
        }

        ul,
        p {
            margin-top: 10px;
            margin-bottom: 24px;
        }

        *:first-child {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(tablet) {
            max-width: 100%;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        @include max(xs) {
            font-size: 14px;
        }
    }

    &--right &__text {
        flex: 0 1 50%;
    }

    &__cards {
        margin-top: 50px;
        display: flex;
        gap: 24px;

        @include max(laptop) {
            margin-top: 30px;
            gap: 12px;
        }

        @include max(tablet) {
            flex-direction: column;
            align-items: stretch;
        }

        @include max(mobile) {
            margin-top: 20px;
        }
    }

    &__card {
        flex: 0 1 33%;
    }

}

.si-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 38px;
    padding: 30px;
    border-radius: $br-20;
    background-color: $c-white;

    @include max(laptop) {
        padding: 20px;
    }

    @include max(mobile) {
        padding: 15px;
        border-radius: $br-10;
    }

    @include max(xs) {
        padding: 10px;
        gap: 24px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__icon {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-bg-main;
        border-radius: 100%;

        @include max(laptop) {
            width: 60px;
            height: 60px;
        }

        @include max(xs) {
            width: 40px;
            height: 40px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;

            @include max(laptop) {
                width: 38px;
                height: 38px;
            }

            @include max(xs) {
                width: 25px;
                height: 25px;
            }
        }
    }

    &__title {
        margin-top: 20px;

        @include max(xs) {
            margin-top: 15px;
        }
    }

    &__num {
        font-family: $ff-code;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-border;
    }

    &__text.text-editor {
        color: $c-text-light;

        ul li::before {
            background-color: $c-text-light;
        }
    }
}