.title-tag {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 7px;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: $c-text;
    padding: 7px 14px 7px 9px;
    border: 1px solid $c-border;
    border-radius: $br-30;
    background-color: transparent;

    @include max(tablet) {
        font-size: 13px;
    }

    svg {
        width: 14px;
        height: 14px;
        color: $c-text-grey;
        margin: 3px;

        @include max(tablet) {
            width: 12px;
            height: 12px;
            margin: 2.5px;
        }
    }
}