.animal-slider {
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__controls {
        flex: 0 0 auto;
    }

    &__slider {
        margin-top: 50px;
        overflow: hidden;

        @include max(laptop) {
            margin-top: 30px;
        }
    }

    &__text {
        max-width: 890px;

        @include max(laptop) {
            max-width: 550px;
        }
    }
}