.filter-range {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    width: 100%;

    .bx-ui-slider-track-container {
        grid-column: 1 / 3;
        padding: 18px 0;
        margin-left: 0;
        width: 100%;
    }

    .bx-filter-parameters-box-container-block {
        width: 100%;
        padding: 0;
    }

    .bx-filter-input-container input {
        background-color: $c-bg-main;
        height: 36px;
        font-weight: 400;
        font-size: 14px;
        line-height: 107%;
        color: $c-accent;
        padding: 10px 15px;
        border: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .bx-filter-input-container input.max-price {
        border-left: 1px solid $c-border;
        border-radius: 0 $br-10 $br-10 0;
    }

    .bx-filter-input-container input.min-price {
        border-radius: $br-10 0 0 $br-10;
    }

    .bx-ft-sub {
        display: none;
    }

    .bx-ui-slider-track {
        height: 2px;
    }

    .bx-ui-slider-part {
        background-color: transparent;
        width: 0;
        height: 0;
        top: 0;
    }

    .bx-ui-slider-pricebar-v,
    .bx-ui-slider-pricebar-vd {
        background-color: $c-border !important;
    }

    .bx-ui-slider-pricebar-vn {
        background-color: $c-bg-main !important;
    }

    .bx-ui-slider-range {
        z-index: 81;
    }

    .bx-ui-slider-handle {
        width: 10px;
        height: 10px;
        right: -5px;
        top: -4px;
        border: none;
        box-shadow: none;
        border-radius: 100%;
        background: $c-text-light !important;
        margin: 0 !important;
    }

    .bx-ui-slider-part {
        background-color: transparent;
    }

    .bx-ui-slider-part span {
        left: 0;
        bottom: auto;
        top: calc(100% + 10px);
        transform: none;
        border: none;
        padding: 0;
        font-family: $ff-open;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: $c-text-light;
        background-color: $c-white;
        margin-left: 0;
        width: auto;
    }

    .bx-ui-slider-part.p5 span {

        right: 0;
        left: auto;
    }
}