.product-slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__video {
        position: absolute;
        top: 13px;
        right: 13px;
        z-index: 7;

        @include max(mobile) {
            top: 8px;
            right: 8px;
        }
    }

    &__wrapper {
        border-radius: $br-20;
        overflow: hidden;

        @include max(laptop) {
            border-radius: $br-10;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 0.66;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__twrapper {
        position: relative;
        margin-top: 20px;
        padding: 0 48px;

        @include max(laptop) {
            padding: 0 32px;
            margin-top: 12px;
        }

        @include max(mobile) {
            padding: 0 24px;
            margin-top: 8px;
        }

        .slider-controls__separator {
            display: none;
        }

        .slider-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            width: 32px;
            height: 32px;

            @include max(laptop) {
                width: 24px;
                height: 24px;
            }

            @include max(mobile) {
                width: 20px;
                height: 20px;
            }

            svg {
                width: 32px;
                height: 32px;

                @include max(laptop) {
                    width: 24px;
                    height: 24px;
                }

                @include max(mobile) {
                    width: 20px;
                    height: 20px;
                }
            }

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }

            &.swiper-button-disabled {
                opacity: 0;
            }
        }
    }

    &__tabs {
        overflow: hidden;

    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.83vw;
        height: 5vw;
        width: 7.6vw;
        border-radius: $br-10;
        cursor: pointer;
        overflow: hidden;

        @include max(laptop) {
            border-radius: 5px;
            margin-right: 8px;
            width: 100px;
            height: 65.8px;
        }

        @include max(mobile) {
            width: 80px;
            height: 52.64px;
            margin-right: 4px;
        }

        &.swiper-slide-thumb-active {
            border-color: $c-text-grey;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 4px solid transparent;
            transition: border-color $tr;
            border-radius: $br-10;

            @include max(laptop) {
                border-radius: 5px;
                border-width: 2px;
            }

            @include max(mobile) {
                border-width: 1px;
            }
        }

        &.swiper-slide-thumb-active::after {
            border-color: $c-text-grey;
        }

    }

    &__controls {
        display: block;
    }

}