.news-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    background-color: $c-white;
    border-radius: $br-10;
    overflow: hidden;
    color: $c-text;
    min-height: 250px;

    @include max(laptop) {
        min-height: 200px;
        padding: 20px;
    }

    @include max(xs) {
        min-height: 150px;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.19%, rgba(0, 0, 0, 0.6) 100%);

            @include max(xs) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.8) 100%);
            }
        }
    }

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__date {
        font-family: $ff-open;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: $c-text-light;

        @include max(xs) {
            font-size: 14px;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-grey;
        transition: all $tr;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &:hover &__arrow {
        color: $c-text;
    }

    &__bottom {
        position: relative;
    }

    &--bg {
        background-color: $c-bg-dark;
        color: $c-white;
        justify-content: flex-end;
    }

    &--bg &__date {
        color: $c-white;
    }
}