-
    const defaultNewsLinkProps = {
        classes: '',
        img: '',
        title: '',
        date: '',
    }

mixin news-link(props= defaultNewsLinkProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsLinkProps.classes,
            img: props.img ? props.img : defaultNewsLinkProps.img,
            title: props.title ? props.title : defaultNewsLinkProps.title,
            date: props.date ? props.date : defaultNewsLinkProps.date,
        }

        let imgClass = checkProps.img.length > 0 ? " news-link--bg" : ''
        let titleColorMode = checkProps.img.length > 0 ? 'light' : 'dark'

    .news-link(class= checkProps.classes + imgClass)&attributes(attributes)
        a.news-link__link(href="javascript:void(0);")
        -if(checkProps.img.length > 0)
            .news-link__bg
                img(src=checkProps.img alt="")
        .news-link__header
            -if(checkProps.date.length > 0)
                .news-link__date!= checkProps.date
            -if(checkProps.img.length < 1)
                .news-link__arrow
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#arrow_link_top`)

        .news-link__bottom
            -if(checkProps.title.length > 0)
                +title({
                    classes: 'news-link__title',
                    size: '20',
                    text: checkProps.title,
                    cMode: titleColorMode
                })


