-
    const defaultNewsLinkProps = {
        classes: '',
        img: '',
        title: '',
        desc: '',
        date: '',
    }

mixin news-link(props= defaultNewsLinkProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsLinkProps.classes,
            img: props.img ? props.img : defaultNewsLinkProps.img,
            title: props.title ? props.title : defaultNewsLinkProps.title,
            desc: props.desc ? props.desc : defaultNewsLinkProps.desc,
            date: props.date ? props.date : defaultNewsLinkProps.date,
        }

    .news-link(class= checkProps.classes)&attributes(attributes)
        a.news-link__link(href="javascript:void(0);")
        .news-link__header
            -if(checkProps.date.lenght > 0)
                .news-link__date!= checkProps.date
            -else if(checkProps.title.lenght > 0)
                +title({
                    classes: 'news-link__title',
                    size: '20',
                    text: checkProps.title
                })
            .news-link__arrow
                use(xlink:href=`img/sprites/sprite.svg#arrow_link_top`)

        .news-link__bottom
            -if(checkProps.date.lenght > 0 && checkProps.title.lenght > 0)
                +title({
                    classes: 'news-link__title',
                    size: '20',
                    text: checkProps.title
                })
            -else if(checkProps.desc.lenght > 0)
                .news-link__desc.text-editor!= checkProps.desc

