.filter-field {
    max-width: 100%;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 12px 20px;
        border: 1px solid $c-border;
        border-radius: 23px;
        color: $c-text;
        cursor: pointer;
        transition: all $tr;
        background-color: $c-white;
    }

    &__title {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
    }

    &__icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-light;
        transition: all $tr;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &:hover &__icon,
    &.active &__icon {
        color: $c-text;
    }

    &--sort &__header {
        min-height: 52px;
        gap: 20px;
    }

    &__content {
        padding: 0 20px 12px;
        border: 1px solid $c-border;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 23px 23px;
        max-width: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all $tr;
        overflow: hidden;
        background-color: $c-white;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 133.33%;
        color: $c-text;
        transition: all $tr;

        &:hover,
        &.current {
            color: $c-text-light;
        }
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    &__range {
        min-width: 220px;
    }
}

.filter-field {
    &.active &__header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
    }

    &.active &__icon {
        transform: rotate(-180deg);
    }

    &.active &__content {
        visibility: visible;
        opacity: 1;
    }
}