.pa-profile {
    .bx-content {
        color: $c-accent;

        .main-profile-block-shown {
            margin-bottom: 24px;
        }

        .main-profile-block-shown>.row,
        .main-profile-block-shown>.row>*,
        .form-group.row>* {
            padding-left: 0;
            padding-right: 0;

        }

        .main-profile-block-date-info {
            margin-bottom: 20px;

            @include max(mobile) {
                font-size: 14px;
            }

            >* {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .form-group.row {
            flex-direction: column;
            gap: 4px;
            max-width: 700px;

            >* {
                width: 100%;
            }

            .form-text {
                color: $c-text-light;
                margin-top: 2px;
            }
        }

        .form-group.row+.form-group.row {
            margin-top: 16px;
        }

        .main-profile-form-label {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            color: $c-text-light;
            font-size: 15px;
        }

        .bx_profile>form>.row>* {
            padding-left: 0;
            padding-right: 0;
        }

        .main-profile-block-shown+.row>.col {
            display: flex;
        }

        .btn.btn-primary.main-profile-submit {
            border: none;
            color: $c-white;
            background-color: $c-accent;
            transition: all $tr;
            text-decoration: none !important;
            font-size: 16px !important;
            margin: 0 !important;
            min-width: 146px;

            &:hover {
                opacity: 0.7;
            }
        }

        .btn.btn-link {
            min-width: 146px;
            margin-left: 10px;
            color: $c-link;
        }


    }
}