.news {
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;

        @include max(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }

        .title {
            @include max(tablet) {
                br {
                    display: none;
                }
            }
        }
    }

    &__all {
        flex: 0 0 auto;
    }

    &__list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;

        @include max(laptop) {
            gap: 12px;
            margin-top: 30px;
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(xs) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__link--fh {
        grid-row: 1 / 3;
        grid-column: 2 / 3;

        @include max(xs) {
            grid-row: auto;
            grid-column: auto;
        }
    }
}