.tabs-block {
    overflow: hidden;

    &__tabs {
        overflow-x: auto;
    }

    &__list {
        display: flex;
        align-items: stretch;
        border-bottom: 1px solid $c-border;
        width: fit-content;
        min-width: 100%;
    }

    &__tab {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 50px 25px;
        cursor: pointer;
        font-family: $ff-tiktok;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-text-light;
        transition: color $tr;
        white-space: nowrap;

        @include max(tablet) {
            padding: 0 24px 16px;
            font-size: 18px;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: transparent;
            transition: background-color 0.1s linear;

            @include max(tablet) {
                height: 3px;
            }
        }

        &.active::after {
            background-color: $c-accent;
        }

        &:hover {
            color: $c-accent;
        }
    }

    &__slides {
        margin-top: 50px;

        @include max(tablet) {
            margin-top: 30px;
        }
    }

    &__slide {
        display: none;

        &.active {
            display: block;
        }
    }
}

.product-detailed {
    &__container {
        max-width: 74.4%;
        overflow: hidden;

        @include max(large) {
            max-width: 1150px;
        }

        .text-editor {
            color: $c-text;

            li:before {
                background-color: $c-text;
            }

            h2,
            ul,
            li,
            p {
                margin-bottom: 0.625em;
            }

            h2 {
                margin-top: 50px;

                @include max(tablet) {
                    margin-top: 24px;
                }
            }
        }
    }

    &__files {
        border-top: 1px solid $c-border;
    }
}