-
    const defaultTabsProps = {
        classes: '',
        tabs: [
            {
                name: 'Вкладка 1',
                icon: ''
            },
            {
                name: 'Вкладка 2',
                icon: ''
            },
        ],
    }

mixin tabs-block(props= defaultTabsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultTabsProps.classes,
            tabs: props.tabs ? props.tabs : defaultTabsProps.tabs
        }

    section.tabs-block(data-js="tabsBlock")
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .tabs-block__tabs.custom-scrollbar(data-js="customScrollbar")
                    .tabs-block__list(data-js="tabsBlockList")
                        .tabs-block__tab.active(data-index="0" data-js="tabsBlockTab")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#tab_1`)
                            span Описание
                        .tabs-block__tab(data-index="1" data-js="tabsBlockTab")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#tab_2`)
                            span Характеристики
                        .tabs-block__tab(data-index="2" data-js="tabsBlockTab")
                            svg
                                use(xlink:href=`img/sprites/sprite.svg#tab_3`)
                            span Документы

                .tabs-block__slides
                    .tabs-block__slide.active(data-js="tabsBlockSlide")
                        .product-detailed__container
                            .product-detailed__desc.text-editor
                                h2 Особенности линейки
                                ul 
                                    li Бык Цыган наследует удой +103, жир +46, белок +34 улучшает показатели оплодотворяемости коров.
                                    li Мать 3871 по первой лактации за 305 дней надоила 11451 л., со средними показателями: жира 4,18; белка 3,57.
                                    li Отец быка Альта Моновар, инвентарный номер 3235933059, имеет следующие племенные индексы: TPI 3026, NM649 $. Выдающиеся качества отца: наследует удой +773, высокий индекс вымени, фертильность

                                h2 Таблица 1
                                .text-scroll-h
                                    table
                                        thead
                                            tr
                                                th 08/2025
                                                th 
                                                    span.flex
                                                        | CDCB SUMMARY GENOMIC
                                                        a(href="javascript:void(0);")
                                                            svg
                                                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)

                                                th
                                                    span.flex 
                                                        | NM$+1225
                                                        a(href="javascript:void(0);")
                                                            svg
                                                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)

                                        tbody
                                            tr
                                                td Молоко
                                                td +2197 82R Приб-сть СЫРА S
                                                td +1226

                                            tr
                                                td Жир
                                                td +144 +0.19% Gestation Len -2
                                                td MSP +7

                                            tr
                                                td Белок
                                                td +68 -0.01% EFI 11.0% GFO 12.8%
                                                td

                                            tr
                                                td CFP(lbs)
                                                td +212 Mastitis -0.2
                                                td Fert.Index -1.0

                                            tr
                                                td SCS
                                                td 3.11 78%R PTA Liv -1.2
                                                td Heilfer Liv. +0.4

                                            tr
                                                td PL
                                                td +3.2 76%R DPR - 3.0
                                                td Оплод.телок +0.5

                                            tr
                                                td Оплод коров
                                                td -1.5  76%R SCE +1.2
                                                td SSB +3.4

                                            tr
                                                td RFI
                                                td +54
                                                td

                                            tr
                                                td Feed Saved
                                                td +424 47%R
                                                td 0 Dtrs 0 Стада 100% US

                                h2 Таблица 2
                                .text-scroll-h
                                    table
                                        thead
                                            tr
                                                th 202508
                                                th 
                                                    span.flex
                                                        | ST TRAITS AND INDICES
                                                        a(href="javascript:void(0);")
                                                            svg
                                                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)

                                                th
                                                    span.flex 
                                                        | Eco$ +1269
                                                        a(href="javascript:void(0);")
                                                            svg
                                                                use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)

                                        tbody
                                            tr
                                                td Effective Milking Speed
                                                td +5.4 73% EcoFeed Cow
                                                td +104 38%

                                            tr
                                                td Boxtime
                                                td +7.8 57% EcoFeed Heifer
                                                td +101 56%

                                            tr
                                                td Milking Speed
                                                td +8.8 57% EcoFeed Life
                                                td +110 43%

                                            tr
                                                td RCI
                                                td +5,5 Eco2
                                                td +3.09

                                h2 Таблица 3
                                .text-scroll-h
                                    table
                                        thead
                                            tr
                                                th 08/2025
                                                th НА ДАННЫЕ ПО ТИПУ
                                                th

                                        tbody
                                            tr
                                                td Рост, форма и осанда
                                                td -1.25
                                                td Короткое

                                            tr
                                                td Крепкость
                                                td -1.84
                                                td Хрупкое

                                            tr
                                                td Глубина тела
                                                td -0.95
                                                td Неглубокое

                                            tr
                                                td Молочная форма
                                                td +2.95
                                                td Неглубокое


                    .tabs-block__slide(data-js="tabsBlockSlide")
                        .product-detailed__container
                            .product-detailed__tech.text-editor
                                h2 Характеристики
                                    span  (Бык Цыган 508, порода ч/п Голштинская, дата рождения 31.07.2024)

                                .text-scroll-h
                                    table
                                        tbody
                                            tr
                                                td Инвентарный номер
                                                td 12376

                                            tr
                                                td Индекс NM$
                                                td 415

                                            tr
                                                td Дата рождения
                                                td 31.07.2024

                                            tr
                                                td Поставщик
                                                td ГК Трио

                                            tr
                                                td Международный номер
                                                td Значение 1

                                            tr
                                                td Генетический код
                                                td TC TD TE TL TR TV TY

                    .tabs-block__slide(data-js="tabsBlockSlide")
                        .product-detailed__container
                            .product-detailed__files  
                                +download-btn({
                                    format: 'pdf',
                                    name: 'Генетический паспорт',
                                    size: 'pdf, 3Мб',
                                })
                                +download-btn({
                                    format: 'pdf',
                                    name: 'Племенной сертификат',
                                    size: 'pdf, 3Мб',
                                })
                                +download-btn({
                                    format: 'pdf',
                                    name: 'Родословная',
                                    size: 'pdf, 3Мб',
                                })