.accreditation {
    &__layout {
        display: flex;
        align-items: stretch;
        gap: 24px;

        @include max(laptop) {
            gap: 12px;
        }

        @include max(tablet) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__header {
        flex: 0 0 496px;

        @include max(laptop) {
            flex: 0 0 280px;
        }

        @include max(tablet) {
            flex: 0 0 auto;
        }
    }

    &__main {
        flex: 1 1 auto;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 12px;

        @include max(laptop) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(tablet) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__item {
        border-radius: $br-10;
        background-color: $c-white;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 96px;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

}