-
    const defaultAccreditationProps = {
        classes: '',
        tag: '',
        title: '<span>Аккредитация</span> <br>от ключевых партнёров',
        subtitle: 'Партнёры «ТРИО» – крупные холдинги России <br>и ближнего зарубежья'
    }

mixin accreditation(props= defaultAccreditationProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAccreditationProps.classes,
            tag: props.tag ? props.tag : defaultAccreditationProps.tag,
            title: props.title ? props.title : defaultAccreditationProps.title,
            subtitle: props.subtitle ? props.subtitle : defaultAccreditationProps.subtitle,
        }

    section.accreditation(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner
                .sidebar-layout
                    .sidebar-layout__sidebar
                        -  if(checkProps.tag.length > 0)
                            +title-tag({
                                text: checkProps.tag
                            })
                        +title({
                            classes: 'accreditation__title',
                            size: '40',
                            text: checkProps.title
                        })
                        .accreditation__subtitle.text-editor!= checkProps.subtitle

                    .sidebar-layout__main
                        .accreditation__list
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_1.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_2.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_3.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_4.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_5.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_6.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_7.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_8.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_9.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_10.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_11.webp" alt="")
                            a(href="javascript:void(0);").accreditation__item
                                img(src="img/partners/partner_12.webp" alt="")