.i-intro {

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $br-20;
        overflow: hidden;
        background-color: $c-bg-dark;

        @include max(xs) {
            border-radius: $br-10;
        }

        img,
        picture,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.21%, rgba(0, 0, 0, 0.51) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 62.74%);

    }

    .gkt-container__inner {
        padding-left: 0;
        padding-right: 0;

        @include max(large) {
            padding-left: 0;
            padding-right: 0;
        }

        @include max(laptop) {
            padding-left: 0;
            padding-right: 0;
        }

        @include max(tablet) {
            padding-left: 0;
            padding-right: 0;
        }

        @include max(mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        min-height: calc(100vh - 100px);
        gap: 42px;

        @include max(laptop) {
            min-height: 50vw;
        }
    }

    &__top {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 50px 0;

        @include max(large) {
            padding: 30px 30px 0;
        }

        @include max(laptop) {
            padding: 20px 20px 0;
        }

        @include max(mobile) {
            padding: 20px 15px 0;
        }

        @include max(xs) {
            padding: 20px 10px 0;
        }
    }

    &__title {
        margin-top: 50px;

        @include max(laptop) {
            margin-top: 30px;
        }

        @include max(xs) {
            margin-top: 10px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $c-white;
        margin-top: 10px;
        max-width: 410px;

        @include max(mobile) {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    &__bottom {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 12px;

        @include max(mobile) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__desc.text-editor {
        max-width: 600px;
        flex: 0 1 auto;
        padding: 0 50px 50px;
        font-size: 15px;

        ul li+li {
            margin-top: 0;
        }

        ul li::before {
            background-color: $c-white;
        }

        @include max(large) {
            padding: 0 30px 30px;
        }

        @include max(laptop) {
            padding: 0 20px 20px;
        }

        @include max(mobile) {
            padding: 0 15px 15px;
        }

        @include max(xs) {
            padding: 0 10px 20px;
        }
    }

    &__right {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include max(mobile) {
            width: 100%;
        }
    }

    &__content {
        padding: 0 50px 50px;

        @include max(large) {
            padding: 0 30px 30px;
        }

        @include max(laptop) {
            padding: 0 20px 20px;
        }

        @include max(mobile) {
            padding: 0 15px 15px;
        }

        @include max(xs) {
            padding: 0 10px 10px;
        }
    }

    &__btns {
        display: flex;
        gap: 20px;

        @include max(tablet) {
            flex-direction: column;
            align-items: stretch;
            gap: 12px;
        }

        @include max(mobile) {
            flex-direction: row;
        }

        @include max(xs) {
            flex-direction: column;
        }
    }

    &__corner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        position: relative;
        padding: 30px 30px 0 24px;
        background-color: $c-bg-main;
        border-top-left-radius: 32px;
        width: 520px;

        @include max(laptop) {
            width: 490px;
            padding: 20px 20px 0 20px;
            gap: 20px;
        }

        @include max(tablet) {
            width: 380px;
            margin-right: -1px;
        }

        @include max(mobile) {
            padding: 15px;
            width: calc(100% + 1px);
            margin-bottom: -1px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -36px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, $c-bg-main 38px);
        }

        &::after {
            content: "";
            position: absolute;
            right: -1px;
            top: -37px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, $c-bg-main 38px);
        }
    }

    &__contact {
        align-self: flex-end;
        margin-right: 30px;
        margin-bottom: 18px;
        min-width: 466px;

        @include max(laptop) {
            margin-right: 20px;
            margin-bottom: 8px;
            min-width: 446px;
        }

        @include max(tablet) {
            width: 340px;
            min-width: auto;
        }

        @include max(mobile) {
            width: calc(100% - 30px);
            margin-right: 15px;
        }

        @include max(xs) {
            width: calc(100% - 20px);
            margin-right: 10px;
        }
    }

    &__list,
    &__list ul {
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text;
        list-style: none;

        @include max(xs) {
            font-size: 14px;
        }

        li {
            padding-left: 31px;
            position: relative;

            @include max(xs) {
                padding-left: 20px;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.28em;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.60449 0L8.95508 6.78467L15.7056 4.81934L16.1499 7.81006L9.68994 8.47656L13.8599 14.0308L11.0913 15.5518L7.99805 9.46777L5.16113 15.5518L2.29004 14.0308L6.42578 8.47656L0 7.81006L0.478516 4.81934L7.12646 6.78467L6.45996 0H9.60449Z' fill='%23969696'/%3E%3C/svg%3E%0A");
                width: 16px;
                height: 16px;
                background-size: 100% 100%;

                @include max(xs) {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        li+li {
            margin-top: 10px;
        }

    }
}

.intro-contact {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    padding: 20px 30px 30px;
    border-radius: $br-10;

    @include max(laptop) {
        padding: 20px;
    }

    @include max(xs) {
        padding: 10px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-white;
        border-radius: 100%;

        @include max(mobile) {
            width: 60px;
            height: 60px;
        }

        img {
            width: 50px;
            height: 50px;

            @include max(mobile) {
                width: 38px;
                height: 38px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text-light;

        @include max(xs) {
            font-size: 14px;
        }
    }

    &__link {
        transition: all $tr;
        opacity: 1;

        &:hover {
            opacity: 0.7;
        }
    }
}