.i-intro {

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 32px;
        overflow: hidden;
        background-color: $c-accent-light;


        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 64px;
        padding: 25px 0 0 30px;
        min-height: calc(100vh - 100px);

        @include max(tablet) {
            min-height: 250px;
        }

        @include max(mobile) {
            flex-direction: column;
            padding: 0;
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% + 20px);
        }
    }

    &--small &__container {
        min-height: 280px;

        @include max(tablet) {
            min-height: 200px;
        }
    }

    &--small &__left {
        @include max(mobile) {
            padding: 20px 0 20px 20px;
        }
    }

    &__left {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 25px;

        @include max(mobile) {
            padding: 20px 0 0 20px;
            gap: 20px;
        }
    }

    &__right {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include max(mobile) {
            width: 100%;
        }
    }

    &__title {
        max-width: 1270px;
        margin-top: auto;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $c-white;


        @include max(mobile) {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    &__desc {
        font-weight: 450;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.04em;
        color: $c-accent;
        margin-bottom: auto;
        max-width: 740px;

        @include max(mobile) {
            font-size: 16px;
        }

        p,
        a:not(.btn, .m-table-link),
        ul>li,
        ol>li {
            font-weight: 450;
            font-size: 24px;
            line-height: 110%;
            letter-spacing: -0.04em;

            @include max(mobile) {
                font-size: 16px;
            }
        }

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 170px;
        border: 1px solid $c-border-2;
        margin-right: 10px;
        border-radius: 24px;
        padding: 20px 24px 10px;

        @include max(mobile) {
            min-height: 115px;
            margin-left: 10px;
            padding: 15px;
        }

    }

    &__subtitle {
        margin-bottom: 50px;

        @include max(mobile) {
            margin-bottom: 32px;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    &__contact+&__contact {
        margin-top: 12px;
    }

    &__param {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: $c-accent;
        opacity: 0.4;
    }

    &__corner {
        position: relative;
        margin-top: auto;
        padding: 10px 0 0 10px;
        background-color: $c-white;
        border-top-left-radius: 32px;

        @include max(mobile) {
            padding: 10px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -36px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, #fff 38px);
        }

        &::after {
            content: "";
            position: absolute;
            right: -1px;
            top: -37px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, #fff 38px);
        }
    }
}

.i-intro {
    &--full &__container {
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 150px;
        flex-direction: column;
        gap: 15px;
        min-height: calc(100dvh - 130px);

        @include max(tablet) {
            min-height: auto;
            padding-top: 100px;
        }

        @include max(mobile) {
            padding-top: 60px;
        }
    }

    &--full &__left {
        padding-bottom: 0;
    }

    &--full &__right {
        max-width: 590px;
        align-self: flex-end;
    }

    &--full &__title {
        max-width: 660px;
        margin-top: 0;
    }

    &--full &__desc {
        max-width: 380px;
        color: $c-white;
        margin-bottom: 0;
    }
}

.home-intro {
    &__content {
        padding: 30px 36px 36px 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: $c-accent;

        @include max(mobile) {
            padding: 14px 14px 24px;
            font-size: 16px;
        }

        @include max(xs) {
            padding: 10px 10px 14px;
            font-size: 14px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;

        @include max(mobile) {
            gap: 10px;
        }

    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        position: relative;

        &::before {
            content: '';
            display: block;
            flex-shrink: 0;
            width: 18px;
            height: 19px;
            margin-top: 1px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.12537 17.686L0.32579 10.8865C2.69127 6.88798 4.56841 6.64379 6.98901 6.94307C6.68973 4.52247 6.93391 2.64534 10.9324 0.279858L17.732 7.07943C15.3385 8.92864 13.4892 11.3219 13.7886 13.7426C11.3679 13.4433 8.97457 15.2926 7.12537 17.686Z' fill='%236CC765'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;

        }
    }

    .i-intro__img img {
        object-position: top right;
    }

    &__note {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #81A095;
        font-weight: 400;
        font-size: 18px;
        line-height: 119%;
        letter-spacing: -0.01em;

        @include max(mobile) {
            font-size: 14px;
        }

        @include max(xs) {
            margin-top: 10px;
        }
    }
}

.lp-intro {
    .i-intro__right {
        max-width: 630px;

        @include max(laptop) {
            max-width: 460px;
        }

        @include max(tablet) {
            max-width: 380px;
            min-width: 355px;
            flex-shrink: 1;
        }

        @include max(mobile) {
            max-width: 100%;
            min-width: auto;
        }
    }

    .i-intro__container {

        gap: 32px;

    }
}