.i-intro {

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $br-20;
        overflow: hidden;
        background-color: $c-bg-dark;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.21%, rgba(0, 0, 0, 0.51) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 62.74%);
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        min-height: calc(100vh - 100px);
        gap: 60px;
    }

    &__top {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 50px 0;
    }

    &__title {
        margin-top: 50px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $c-white;
        margin-top: 10px;

        @include max(mobile) {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    &__bottom {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 12px;

        @include max(mobile) {
            width: 100%;
        }
    }

    &__desc {
        max-width: 600px;
        flex: 0 1 auto;
        padding: 0 50px 50px;
    }

    &__right {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include max(mobile) {
            width: 100%;
        }
    }

    &__content {
        padding: 0 50px 50px;
    }

    &__btns {
        display: flex;
        gap: 20px;
    }







    /*&__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 170px;
        border: 1px solid $c-border-2;
        margin-right: 10px;
        border-radius: 24px;
        padding: 20px 24px 10px;

        @include max(mobile) {
            min-height: 115px;
            margin-left: 10px;
            padding: 15px;
        }

    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    &__contact+&__contact {
        margin-top: 12px;
    }

    &__param {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: $c-accent;
        opacity: 0.4;
    }

    &__corner {
        position: relative;
        margin-top: auto;
        padding: 10px 0 0 10px;
        background-color: $c-white;
        border-top-left-radius: 32px;

        @include max(mobile) {
            padding: 10px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: -36px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, #fff 38px);
        }

        &::after {
            content: "";
            position: absolute;
            right: -1px;
            top: -37px;
            width: 38px;
            height: 38px;
            border-radius: 35px 0 0 0;
            background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 37px, #fff 38px);
        }
    }*/
}