.site-footer {
    position: relative;
    color: $c-white;


    &__main {
        background-color: $c-accent;
        padding: 50px 50px 40px;
        border-radius: 20px;
    }

    &__logo-block {}

    &__logo {}

    &__logo-title {}

    &__logo-desc {}

    &__socials {}

    &__social {}

    &__btn {}

    &__nav {}

    &__nav-group {}

    &__nav-title {}

    &__list {}

    &__item {}

    &__link {}

    &__school {}

    &__school-title {}

    &__school-contacts {}

    &__school-phone {}

    &__school-schedule {}

    &__school-label {}

    &__school-time {}

    &__school-mail {}

    &__school-address {}

    &__school-how {}

    &__school-link {}

    &__school-tour {}

    &__school-addphone {}

    &__bottom {}

    &__policy {}

    &__policy-link {}

    &__copyright {}

    &__dev {}

    &__dev-link {}

}