mixin footer

	footer.site-footer
		.gkt-container
			.site-footer__main
				.site-footer__logo-block
					img.site-footer__logo(src="logo.png" alt="ТРИО группа компаний")
					span.site-footer__logo-title ТРИО
					span.site-footer__logo-desc группа компаний
					.site-footer__socials
						a.site-footer__social(href="#") vk
						a.site-footer__social(href="#") tg
						a.site-footer__social(href="#") yt
					button.site-footer__btn(type="button") Оставить заявку

				.site-footer__nav
					.site-footer__nav-group
						h4.site-footer__nav-title О КОМПАНИИ
						ul.site-footer__list
							li.site-footer__item
								a.site-footer__link(href="#") Производство
							li.site-footer__item
								a.site-footer__link(href="#") Пресс-центр
							li.site-footer__item
								a.site-footer__link(href="#") Контакты
					.site-footer__nav-group
						h4.site-footer__nav-title КАТАЛОГ
						ul.site-footer__list
							li.site-footer__item
								a.site-footer__link(href="#") Нетели
							li.site-footer__item
								a.site-footer__link(href="#") Быки
							li.site-footer__item
								a.site-footer__link(href="#") Племенные бычки
							li.site-footer__item
								a.site-footer__link(href="#") Эмбрионы
					.site-footer__nav-group
						h4.site-footer__nav-title НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
						ul.site-footer__list
							li.site-footer__item
								a.site-footer__link(href="#") Животноводство
							li.site-footer__item
								a.site-footer__link(href="#") Растениеводство
							li.site-footer__item
								a.site-footer__link(href="#") Трейдинг зерна
							li.site-footer__item
								a.site-footer__link(href="#") Семенной завод
							li.site-footer__item
								a.site-footer__link(href="#") Школа действий
							li.site-footer__item
								a.site-footer__link(href="#") Агротуризм
							li.site-footer__item
								a.site-footer__link(href="#") Благотворительность

				.site-footer__school
					h4.site-footer__school-title ШКОЛА ДЕЙСТВИЙ
					.site-footer__school-contacts
						span.site-footer__school-phone +7 (990) 059 50 39
					.site-footer__school-schedule
						span.site-footer__school-label ГРАФИК РАБОТЫ
						span.site-footer__school-time Пн. – Пт.:  10:30–18:00
						span.site-footer__school-time Сб.: 10:30–15:00
					.site-footer__school-mail
						span.site-footer__school-label
							| info@triogk.ru
					.site-footer__school-address
						| 398017, г. Липецк, ул. Металлургов, 1
					.site-footer__school-how
						a.site-footer__school-link(href="#") КАК ПРОЕХАТЬ
					.site-footer__school-tour
						a.site-footer__school-link(href="#") ЭКСКУРСИЯ НА ФЕРМУ
					.site-footer__school-addphone
						span.site-footer__school-addphone +7 (4922) 11-22-22

			.site-footer__bottom
				.site-footer__policy
					a.site-footer__policy-link(href="#") Политика обработки персональных данных
				.site-footer__copyright © 2025 ООО «ГК ТРИО»
				.site-footer__dev
					| Разработка сайта:
					a.site-footer__dev-link(href="#") ITS GROUP