-
    const defaultNewsSliderProps = {
        classes: ''
    }

mixin news-slider(props= defaultNewsSliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsSliderProps.classes
        }

    section.news-slider(class= checkProps.classes data-js="animalSlider")&attributes(attributes)
        .gkt-container
            .gkt-container__inner
                .news-slider__header
                    .news-slider__headblock
                        +title({
                            classes: 'news-slider__title',
                            size: '40',
                            text: 'Другие публикации'
                        })
                    +slider-controls({
                        classes: 'news-slider__controls'
                    })
                .news-slider__slider(data-js="animalSliderSlider")
                    .swiper-wrapper
                        +news-card({
                            classes: 'swiper-slide',
                        })
                        +news-card({
                            classes: 'swiper-slide',
                            img: 'img/news/news_card_2.webp',
                            desc: 'Яндекс Карты — персональное приложение к городу, с помощью которого можно находить места и строить до них маршруты на любом транспорте или пешком. В Картах всегда можно узнать актуальное расписание общественного транспорта и посмотреть онлайн, где едет нужный трамвай, автобус или троллейбус. А прямо в приложении можно записываться в салоны красоты, бронировать столики и решать другие повседневные задачи. Каждый месяц веб-версией и мобильным приложением сервиса пользуются 90 миллионов человек.',
                            tag: '# Пресс-релизы'
                        })
                        +news-card({
                            classes: 'swiper-slide',
                            img: 'img/news/news_card_3.webp',
                            desc: 'Yandex Research — команда исследователей, которая изучает фундаментальные вопросы в области искусственного интеллекта. Инженеры-исследователи Яндекса занимаются обработкой естественного языка, компьютерным зрением, нейросетями и не только. Команда Yandex Research создаёт решения, которые будут внедрены в продукты компании и принесут пользу людям. Благодаря ей Яндекс стал одной из лидирующих технологических компаний по числу научных публикаций на NeurIPS, ICML и других главных международных конференциях по машинному обучению.',
                            tag: '# Пресса о нас'
                        })
                        +news-card({
                            classes: 'swiper-slide',
                            img: 'img/news/news_card_4.webp',
                            desc: 'В издании можно найти самую разную информацию о людях и событиях начала прошлого века. Например, газета публиковала статьи об экономической жизни Российской империи, списки приезжих покупателей с указанием торговых подворий и гостиниц, где они проживали, данные о торгах на подряды и поставки по всей стране, информацию о банкротствах, извещения о платежах. В издании также можно посмотреть, как выглядела реклама более чем 100 лет назад.',
                            tag: '# Школа действия'
                        })
                        +news-card({
                            classes: 'swiper-slide',
                            img: 'img/news/news_card_5.webp',
                            desc: 'У каждой организации, сотрудничающей с «Витриной для НКО», свой профиль помощи. Например, проект «Чистые ключи», который продаёт на Маркете свечи из пчелиного воска, основал в Смоленской области социальную деревню, где живут и работают люди с ментальными особенностями. Центр «Вера Надежда Любовь» из Тольятти организует занятия для детей с ДЦП и заболеваниями нервной системы и опорно-двигательного аппарата. Его товары — разнообразные изделия из керамики. А Нижегородский женский кризисный центр выставляет на «Витрине» хлопковые футболки с принтами.',
                            tag: '# Школа действия'
                        })
                        +news-card({
                            classes: 'swiper-slide',
                            img: 'img/news/news_card_6.webp',
                            desc: 'По результатам опросов, самой популярной функцией стал поиск ошибок и опечаток, на втором месте — суммаризация данных. Помимо этого, студенты использовали нейросеть для ведения дискуссии о различных аспектах работы, обращались к ней для генерации изображений и за помощью в оформлении. При этом студенты самостоятельно делали выводы в своих дипломных проектах. Качество выполненной работы и то, насколько глубоко студент погружён в тему, проверялись во время защиты перед комиссией.',
                            tag: '# Пресса о нас'
                        })


