-
    const defaultSCatalogProps = {
        classes: ''
    }

mixin s-catalog(props= defaultSCatalogProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSCatalogProps.classes
        }

    section.s-catalog(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner.gkt-container__inner--bg
                .s-catalog__container
                    .s-catalog__header
                        +title({
                            text: '<span>Каталог</span> животных на продажу',
                            tag: 'h1',
                            size: '40'
                        })
                        .s-catalog__status Каталог обновлен 06.08.2025

                    .s-catalog__ss
                        form(action="#").s-catalog__search
                            .search-field
                                label.field
                                    input.field__input(placeholder='Искать по названию, инвентарному номеру или индексу')
                                button.search-field__submit(type='submit')
                                    svg
                                        use(xlink:href=`img/sprites/sprite.svg#search`)

                        .s-catalog__sort
                            +filter-field({
                                classes: 'filter-field--sort',
                                title: 'Сначала новые'
                            })
                                .filter-field__links
                                    a.filter-field__link.current(href="javascript:void(0);") Сначала новые
                                    a.filter-field__link(href="javascript:void(0);") Сначала старые


                    .s-catalog__filter
                        +c-filter

                    .s-catalog__body
