.s-catalog {

    &__header,
    &__ss {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 50px;

        @include max(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__ss {
        align-items: center;
        margin-top: 20px;

        @include max(tablet) {
            gap: 24px;
        }

        @include max(mobile) {
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__status {
        position: relative;
        flex: 0 0 auto;
        align-self: flex-end;
        padding-right: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: $c-text-light;

        @include max(mobile) {
            align-self: flex-start;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #01A848;
        }
    }

    &__search {
        flex: 1 1 auto;

        @include max(mobile) {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    &__sort {
        flex: 0 0 auto;
    }

    &__filter {
        margin-top: 20px;
    }

    &__body {
        margin-top: 50px;
        margin-right: -50px;

        @include max(large) {
            margin-right: -30px;
        }

        @include max(laptop) {
            margin-right: -20px;
            margin-top: 30px;
        }

        @include max(mobile) {
            margin-right: -10px;
        }
    }
}