.s-catalog {

    &__header,
    &__ss {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 50px;
    }

    &__ss {
        align-items: center;
        margin-top: 20px;
    }

    &__status {
        position: relative;
        flex: 0 0 auto;
        align-self: flex-end;
        padding-right: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: $c-text-light;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #01A848;
        }
    }

    &__search {
        flex: 1 1 auto;
    }

    &__sort {
        flex: 0 0 auto;
    }

    &__filter {
        margin-top: 20px;
    }
}