.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    font-family: $ff-open;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    padding: 17px 30px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;

    @include max(xs) {
        padding: 10px 20px;
        font-size: 14px;
    }

    svg {
        transition: all $tr;
        width: 16px;
        height: 16px;
    }

    &--light {
        color: $c-text-btn;
        background-color: $c-bg-grey;
        opacity: 1;
        transition: all $tr;

        &:hover {
            opacity: 0.7;
        }
    }

    &--accent {
        color: $c-white;
        background-color: $c-accent;
        transition: all $tr;

        &:hover {
            opacity: 0.7;
        }
    }

    &--transparent {
        padding: 0;
        color: $c-white;
        background-color: transparent;
        transition: all $tr;
        font-size: 15px;
        line-height: 133%;

        &:hover {
            opacity: 0.7;
        }
    }

    &--bordered {
        color: $c-text;
        background-color: $c-white;
        transition: all $tr;
        border: solid 1px $c-border;

        &:hover {
            background-color: $c-accent;
            color: $c-white;
            border-color: $c-accent;
        }

        svg {
            color: $c-text-grey;
        }

        &:hover svg {
            color: $c-white;
        }
    }

    &--big {
        font-size: 15px;
        padding: 40px;
        border-radius: $br-10;

        svg {
            width: 35px;
            height: 35px;
        }
    }

    &--full {
        width: 100%;
    }

    &--card {
        padding: 9px 14px 9px 19px;
        border-radius: 100px;

        @include max(xs) {
            width: 100%;
        }

        svg {
            width: 24px;
            height: 24px;

            @include max(xs) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &--blur {
        background: rgba(235, 205, 184, 0.2);
        color: $c-white;
        backdrop-filter: blur(30px);
        transition: all $tr;

        &:hover {
            background: rgba(104, 91, 82, 0.2);
        }
    }

    /*&--lightGreen {
        color: $c-accent;
        background-color: $c-accent-big-btn;
        transition: all $tr;
        border-radius: 32px;

        &:hover {
            background-color: $c-accent;
            color: $c-white !important;
        }
    }

    &--lightTitle {
        color: $c-white;
        background-color: $c-accent-title;
        transition: all $tr;
        border-radius: 32px;

        &:hover {
            background-color: $c-accent-text;
            color: $c-white !important;
        }
    }

    &--small {
        font-size: 14px;
        padding: 11px 12px;

        @include min(full) {
            font-size: 14px;
            padding: 11px 12px;
        }

        @include max(mobile) {
            font-size: 12px;
            padding: 6px 12px;
        }

        @include max(xs) {
            width: 100%;
            font-size: 12px;
            padding: 6px 12px;
        }
    }

    &--icon {
        padding: 10px;
        width: 60px;
        height: 60px;

        @include min(full) {
            padding: 10px;
        }

        @include max(laptop) {
            width: 45px;
            height: 45px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        @include max(xs) {
            padding: 5px;
            width: 45px;
            height: 45px;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }*/

}