.pa-orders {

    .bx-content {
        .row.mb-3 {
            margin-bottom: 20px !important;
        }

        a {
            font-family: $ff-open;
            font-weight: 400;
            font-size: 18px;
            line-height: 139%;
            text-decoration: underline;
            color: $c-link;
            opacity: 1;
            transition: all $tr;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}