.contacts-intro {
    &__content {
        display: flex;
        align-items: stretch;
        gap: 24px;
        margin-top: 20px;

        @include max(laptop) {
            display: grid;
            grid-template-columns: minmax(0, 360px) auto;
            gap: 32px 24px;
        }

        @include max(tablet) {
            grid-template-columns: 1fr;
        }

        @include max(mobile) {
            margin-top: 32px;
        }
    }

    &__tabs {
        flex: 0 0 366px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
        padding: 10px 20px;
        border: 1px solid $c-border;
        border-radius: $br-10;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text;
        cursor: pointer;
        transition: all $tr;

        svg {
            width: 16px;
            height: 16px;
            color: $c-text-grey;
            transition: all $tr;
        }

        &:hover,
        &.active {
            color: $c-white;
            border-color: $c-accent;
            background-color: $c-accent;

            svg {
                color: $c-white;
            }
        }
    }

    &__tab--plan {
        background-color: $c-bg-main;
    }

    &__map {
        flex: 1 1 auto;
        border-radius: $br-20;
        overflow: hidden;

        @include max(tablet) {
            min-height: 300px;
        }
    }

    &__info {
        flex: 0 0 496px;
        min-height: 550px;

        @include max(laptop) {
            grid-column-start: 1;
            grid-column-end: 3;
            min-height: auto;
        }

        @include max(tablet) {
            grid-column-end: 2;
        }
    }

    &__item {
        display: none;

        &.active {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 100%;


        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include max(laptop) {
            flex-direction: row;
        }

        @include max(tablet) {
            flex-direction: column;
        }

        @include max(mobile) {
            gap: 16px;
        }
    }

    &__block+&__block {
        padding-top: 30px;
        border-top: 1px solid $c-border;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        color: $c-text-light;
    }

    &__text {
        font-family: $ff-tiktok;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: $c-text;
    }

    &__link {
        transition: all $tr;
        opacity: 1;

        &:hover {
            opacity: 0.7;
        }
    }

    &__modes {
        max-width: 600px;
    }

    &__mode {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: $ff-tiktok;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: $c-text;

        @include max(xs) {
            gap: 8px;
            font-size: 14px;
        }

        .separator {
            flex: 1 2 auto;
            border-bottom: 1px dashed $c-border;
        }
    }

    &__mode+&__mode {
        margin-top: 10px;
    }

    &__socials {
        margin-top: auto;
        display: flex;
        gap: 10px;
        max-width: 600px;

        @include max(xs) {
            flex-direction: column;
        }
    }

}

.social-link {
    flex: 0 0 calc((100% - 10px) / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid $c-border;
    border-radius: $br-10;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.25%;
    color: $c-text;

    &__text {
        max-width: 150px;
    }

    &__icon {
        margin-bottom: 46px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-text-grey;
        transition: color $tr;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &:hover &__icon {
        color: $c-accent;
    }

}

.contacts-details {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 32px;

    }

    &__header {
        padding-right: 230px;

        @include max(xs) {
            padding-right: 0;
            padding-bottom: 56px;
        }
    }

    &__content {
        display: flex;
        gap: 24px;

        @include max(laptop) {
            flex-direction: column;
            gap: 32px;
        }

        @include max(tablet) {
            gap: 24px;
        }
    }

    &__side {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 0 0 calc((100% - 24px) / 2);

        @include max(tablet) {
            gap: 24px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__columns {
        columns: 3;
        margin-bottom: -7px;

        @include max(mobile) {
            columns: 2;
        }

        @include max(xs) {
            columns: 1;
        }
    }

    &__columns .contacts__subtitle {
        margin-bottom: 7px;
    }

    &__btn {
        position: absolute;
        top: 30px;
        right: 24px;

        @include max(laptop) {
            top: 24px;
        }

        @include max(tablet) {
            top: 20px;
            right: 15px;
        }

        @include max(mobile) {
            top: 16px;
        }

        @include max(xs) {
            top: 65px;
            right: auto;
            left: 15px;
        }
    }
}