.social-section {
    &__list {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;

        @include max(mobile) {
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__link {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        min-width: 218px;
        min-height: 110px;
        padding: 20px;
        border-radius: $br-10;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(30px);
        color: $c-white;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.25%;
        transition: all $tr;

        @include max(mobile) {
            width: 100%;
            min-width: auto;
            min-height: 90px;
            padding: 10px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__link--last {
        margin-left: auto;

        @include max(mobile) {
            margin-left: 0;
            grid-column: 1 / -1;
        }
    }

    &__link--transparent {
        background-color: transparent;
        border: 1px solid $c-border;
    }

    &__icon {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
        }

    }
}