.img-text {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 70px;

        @include max(large) {
            gap: 50px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 70px;

        @include max(large) {
            gap: 40px;
        }

        @include max(tablet) {
            gap: 30px;
            flex-direction: column;
        }
    }

    &__row--reverse {
        flex-direction: row-reverse;
    }

    &__info {
        margin-top: 20px;

        @include max(large) {
            margin-top: 0;
        }
    }

    &__text.text-editor {
        margin-top: 24px;

        h2,
        p {
            margin-bottom: 10px;
        }
    }

    &__img {
        flex: 0 0 39%;
        max-width: 750px;
        aspect-ratio: 1 / 0.667;
        border-radius: $br-10;
        overflow: hidden;

        @include max(tablet) {
            max-width: 500px;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}