.img-text {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 70px;

        @include max(large) {
            gap: 50px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 70px;

        @include max(large) {
            gap: 40px;
        }

        @include max(tablet) {
            gap: 30px;
            flex-direction: column;
        }
    }

    &__row--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__info {
        margin-top: 20px;

        @include max(large) {
            margin-top: 0;
        }

        .btn {
            margin-top: 24px;
        }
    }

    .title {
        br {
            @include max(mobile) {
                display: none;
            }
        }
    }

    &__text.text-editor {
        color: $c-text;
        margin-top: 24px;

        h2,
        p {
            margin-bottom: 10px;
        }

        ul li::before {
            background-color: $c-text;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 39%;
        max-width: 750px;

        @include max(tablet) {
            max-width: 500px;
            width: 100%;
        }

        img {
            overflow: hidden;
            border-radius: $br-10;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 0.667;
            object-fit: cover;
        }

        img+.btn {
            margin-top: 20px;
        }
    }

    &__row--reverse &__img {
        align-items: flex-end;

        @include max(tablet) {
            align-items: flex-start;
        }
    }

    &__note {
        position: relative;
        margin-top: 20px;
        padding-left: 32px;
        font-family: $ff-tiktok;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: $c-text;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.60449 0L8.95508 6.78467L15.7056 4.81934L16.1499 7.81006L9.68994 8.47656L13.8599 14.0308L11.0913 15.5518L7.99805 9.46777L5.16113 15.5518L2.29004 14.0308L6.42578 8.47656L0 7.81006L0.478516 4.81934L7.12646 6.78467L6.45996 0H9.60449Z' fill='%23969696'/%3E%3C/svg%3E%0A");
            background-size: 100% 100%;
        }
    }

}