.img-text {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 70px;

        @include max(large) {
            gap: 50px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        gap: 70px;

        @include max(large) {
            gap: 40px;
        }

        @include max(tablet) {
            gap: 30px;
            flex-direction: column;
        }
    }

    &__row--reverse {
        flex-direction: row-reverse;
    }

    &__info {
        margin-top: 20px;

        @include max(large) {
            margin-top: 0;
        }

        .btn {
            margin-top: 24px;
        }
    }

    .title {
        br {
            @include max(mobile) {
                display: none;
            }
        }
    }

    &__text.text-editor {
        color: $c-text;
        margin-top: 24px;

        h2,
        p {
            margin-bottom: 10px;
        }

        ul li::before {
            background-color: $c-text;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 39%;
        max-width: 750px;

        @include max(tablet) {
            max-width: 500px;
            width: 100%;
        }

        img {
            overflow: hidden;
            border-radius: $br-10;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 0.667;
            object-fit: cover;
        }

        img+.btn {
            margin-top: 20px;
        }
    }

    &__row--reverse &__img {
        align-items: flex-end;

        @include max(tablet) {
            align-items: flex-start;
        }
    }

}