-
    const defaultImgTextProps = {
        classes: '',
        transparent: false,
        rows: [
            {
                img: `<img src="img/img-text/img_text_1.webp">`,
                title: 'Подача учебного материала, максимально приближенная к «полевым условиям»',
                text: `
                <p>Мы не обучаем готовым «схемам успеха» и не информируем о тех или иных инновационных подходах как отвлечённых теоретических фактах — мы даём исчерпывающее практическое представление о технологии в целом.</p>
                <p>Сначала объясняем, а потом показываем на практике в условиях действующей фермы, для чего, кем и когда должно быть совершено то или иное действие и применена та или иная методика или инновация и сама по себе, и в системе других методик.</p>
                <p>Благодаря такому подходу вы получаете ясное и целостное понимание технологии и её применения в условиях практического функционирования современного животноводческого комплекса.</p>`,
                imgRight: false,
                btn: false,
                isLink: false
            },
            {
                img: '<img src="img/img-text/img_text_2.webp">',
                title: 'Формирование навыков адаптации любой технологии к конкретным условиям',
                text: `
                <p>Не существует единственно правильного метода или технологии, которые подходили бы для всех ферм, но есть принципы, которых необходимо придерживаться каждой из них.</p>
                <p>Эти принципы — системная организация работы внутри каждого технологического блока, а также планирование и учёт.</p>
                <p>Наша цель — научить вас адаптировать любую необходимую технологию к условиям реальной фермы и наладить работу на комплексе так, чтобы каждое из запланированных действий выполнялось наилучшим образом.</p>
                <p>При этом вы будете обладать чёткими критериями и параметрами для контроля над совершаемыми действиями и их оценки.</p>`,
                imgRight: true,
                btn: false,
                isLink: false
            },
        ],
    }

mixin img-text(props= defaultImgTextProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultImgTextProps.classes,
            rows: props.rows ? props.rows : defaultImgTextProps.rows,
            transparent: props.transparent ? props.transparent : defaultImgTextProps.transparent,
        }

        let bgClass = checkProps.transparent === false ? 'gkt-container__inner--bg' : ''

    section.img-text(class= checkProps.classes)&attributes(attributes)
        .gkt-container
            .gkt-container__inner(class= bgClass)
                .img-text__container
                    - let rows = checkProps.rows 
                    - let count = 0

                    - while(count < rows.length)

                        - let row = rows[count]
                        - let dirClass = row.imgRight === true ? 'img-text__row--reverse' : ''

                        .img-text__row(class=dirClass)
                            .img-text__img(data-aos=`${row.imgRight === true ? 'fade-left' : 'fade-right'}` data-aos-delay="100")!= row.img
                            .img-text__info
                                +title({
                                    text: row.title,
                                    size: '40'
                                })
                                .img-text__text.text-editor!= row.text
                                - if(row.btn !== false)
                                    - if(row.isLink === false)
                                        +btn({
                                            name: row.btn,
                                            cMode: 'accent',
                                            sMode: 'content',
                                            link: 'public/video/side_video.mp4'
                                        })(data-fancybox)
                                    - else
                                        +btn({
                                            name: row.btn,
                                            cMode: 'accent',
                                            sMode: 'content',
                                        })

                        - count++
