@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open-Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open-Sans/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open-Sans/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/Open-Sans/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open-Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Open-Sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTok-Sans/TikTokSans-Light.woff2') format('woff2'),
        url('../fonts/TikTok-Sans/TikTokSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTok-Sans/TikTokSans-Medium.woff2') format('woff2'),
        url('../fonts/TikTok-Sans/TikTokSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTok-Sans/TikTokSans-SemiBold.woff2') format('woff2'),
        url('../fonts/TikTok-Sans/TikTokSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/Source-Code-Pro/SourceCodePro-Regular.woff2') format('woff2'),
        url('../fonts/Source-Code-Pro/SourceCodePro-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Bold.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}