h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;

	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	font-family: $ff-open;
	font-size: 16px;
	line-height: 1.02em;
	background-color: $c-bg-main;
}

body.no-scroll {
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

html {
	scroll-behavior: smooth;
}

html.hystmodal__opened {
	position: relative;
	top: 0 !important;
}

html,
body {
	min-height: 100%;
}

*:focus {
	outline: none;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}

.page {
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

[data-fancybox] {
	cursor: pointer;
}

.page-layout {
	padding: 85px 0 0;

	@include max(laptop) {
		padding: 65px 0 0;
	}

	@include max(mobile) {
		padding: 55px 0 0;
	}
}

.gkt-container {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px 80px;

	@include max(large) {
		padding: 0 30px 60px;
	}

	@include max(laptop) {
		padding: 0 20px 50px;
	}

	@include max(tablet) {
		padding: 0 0 40px;
	}

	&__inner {
		padding-left: 50px;
		padding-right: 50px;

		@include max(large) {
			padding-left: 30px;
			padding-right: 30px;
		}

		@include max(laptop) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include max(tablet) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include max(mobile) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__inner--bg {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: $c-white;
		border-radius: $br-20;

		@include max(large) {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		@include max(laptop) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@include max(tablet) {
			padding-top: 20px;
			padding-bottom: 20px;
			border-radius: $br-10;
		}
	}

	&__inner--dark {
		position: relative;
		background-color: $c-bg-grey;
	}

	&__inner--black {
		position: relative;
		background-color: $c-text-btn;
	}

}

.pattern-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.28;
	overflow: hidden;
	background-size: auto;
	background-repeat: repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='1366' height='1333' viewBox='0 0 1366 1333' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_547_2729)'%3E%3Cpath d='M48.8943 75.0082C53.2098 92.7669 11.5329 116.588 48.8943 160.031C82.39 198.976 117.599 180.821 130.888 166.34C144.177 151.859 145.58 152.094 151.887 150.927C158.194 149.759 189.72 157.696 196.027 134.571C202.334 111.447 193.553 98.8613 186.689 92.5312C174.546 81.3169 164.266 86.4581 156.802 78.7463C149.446 71.1523 165.058 39.2125 141.629 34.1355C115.757 28.5338 117.106 62.8621 103.1 58.8991C89.0934 54.9361 98.6346 1.43526 64.9889 8.84718C37.1687 14.9845 42.5871 49.0772 48.8943 75.0082Z' fill='white'/%3E%3Cpath d='M208.556 510.234C198.983 504.407 213.107 485.931 178.069 483.296C146.662 480.94 139.262 504.075 139.787 516.125C140.301 528.164 139.594 528.678 137.367 531.913C135.139 535.158 118.027 545.387 125.32 558.143C132.612 570.911 141.875 572.55 147.593 572.325C157.723 571.918 158.302 571.157 164.876 571.254C171.451 571.35 180.082 586.056 192.45 578.098C206.093 569.304 192.997 559.107 200.792 554.748C208.588 550.389 216.309 562.342 225.614 543.373C232.96 528.389 222.53 518.727 208.556 510.223V510.234Z' fill='white'/%3E%3Cpath d='M635.284 441.931C642.747 429.667 679.123 439.596 682.497 394.706C685.516 354.466 655.876 344.986 640.456 345.65C625.036 346.315 624.382 345.404 620.228 342.544C616.073 339.685 602.976 317.759 586.635 327.099C570.295 336.439 568.185 348.307 568.474 355.644C568.988 368.615 572.533 369.493 572.404 377.922C572.276 386.234 550.88 397.277 561.075 413.118C572.329 430.609 573.293 421.376 578.872 431.37C584.451 441.363 566.782 455.158 589.591 469.736C608.448 481.786 624.372 459.839 635.273 441.931H635.284Z' fill='white'/%3E%3Cpath d='M421.845 227.874C443.979 232.597 441.259 260.606 434.32 273.363C427.381 286.119 444.3 303.043 426.278 309.983C408.256 316.913 411.029 301.382 403.812 297.227C396.594 293.071 374.696 291.218 376.913 269.807C379.129 248.396 388.563 256.44 394.667 251.448C400.771 246.457 404.926 224.264 421.845 227.874Z' fill='white'/%3E%3Cpath d='M614.327 536.293C636.462 541.017 633.742 569.026 626.803 581.782C619.874 594.539 636.783 611.462 618.761 618.403C600.738 625.333 603.512 609.802 596.294 605.646C589.077 601.49 567.178 599.637 569.395 578.226C571.612 556.815 581.046 564.859 587.15 559.868C593.253 554.877 597.408 532.684 614.327 536.293Z' fill='white'/%3E%3Cpath d='M76.0721 349.142C76.2434 332.862 100.198 330.837 83.8356 309.748C67.4733 288.669 60.8127 309.191 52.2139 309.748C43.6151 310.305 25.8713 296.434 18.6539 311.686C11.4472 326.939 27.8095 338.592 18.6539 346.636C9.49827 354.68 -15.7413 372.717 14.2207 397.952C44.1719 423.197 75.7937 376.316 76.0721 349.132V349.142Z' fill='white'/%3E%3Cpath d='M32.0072 228.602C32.2214 233.754 24.3829 241.498 30.6259 245.804C36.8688 250.11 49.1406 246.703 50.1044 241.23C51.0681 235.757 46.2172 237.556 47.6093 233.883C49.0014 230.209 53.3597 226.117 48.9264 221.329C44.4932 216.542 31.3862 213.564 32.0072 228.613V228.602Z' fill='white'/%3E%3Cpath d='M489.35 315.671C489.843 327.463 471.885 345.201 486.17 355.055C500.455 364.909 528.553 357.122 530.781 344.579C533.008 332.037 521.893 336.161 525.062 327.753C528.232 319.345 538.234 309.973 528.082 299.015C517.931 288.058 487.915 281.235 489.35 315.692V315.671Z' fill='white'/%3E%3Cpath d='M286.041 244.593C289.832 248.085 289.768 259.107 297.221 257.736C304.674 256.365 310.949 245.279 307.758 240.716C304.567 236.153 302.415 240.866 300.798 237.289C299.181 233.711 299.373 227.724 292.852 227.477C286.331 227.231 274.958 234.397 286.041 244.593Z' fill='white'/%3E%3Cpath d='M307.576 502.661C311.367 506.153 311.302 517.174 318.755 515.803C326.208 514.432 332.484 503.347 329.292 498.784C326.101 494.221 323.949 498.934 322.332 495.356C320.715 491.779 320.908 485.792 314.386 485.545C307.865 485.299 296.493 492.464 307.576 502.661Z' fill='white'/%3E%3Cpath d='M447.523 27.1735C473.363 33.8678 485.613 36.0528 483.76 58.6099C481.908 81.167 454.548 69.7063 436.055 68.9673C417.561 68.2282 424.854 87.465 404.379 76.7327C383.916 66.0111 402.034 55.2788 402.773 47.8776C403.512 40.4764 393.532 22.7285 414.242 18.6583C434.952 14.5882 427.552 21.9894 447.523 27.1628V27.1735Z' fill='white'/%3E%3Cpath d='M78.7064 609.352C104.546 616.046 116.796 618.231 114.943 640.789C113.091 663.346 85.7311 651.885 67.2377 651.146C48.7444 650.407 56.0368 669.644 35.5624 658.911C15.0988 648.19 33.2173 637.457 33.9562 630.056C34.6951 622.655 24.7149 604.907 45.4248 600.837C66.1348 596.767 58.7353 604.168 78.7064 609.341V609.352Z' fill='white'/%3E%3Cpath d='M190.876 196.052C226.032 196.469 218.193 204.192 226.332 210.479C234.47 216.767 244.45 213.436 247.78 226.385C251.111 239.334 244.086 246.361 247.78 258.196C251.475 270.032 240.756 293.703 223.74 295.92C206.725 298.137 203.769 280.389 181.956 275.58C160.143 270.771 156.813 253.387 163.099 236.742C169.385 220.098 159.501 195.688 190.876 196.052Z' fill='white'/%3E%3Cpath d='M348.739 601.115C348.321 636.279 340.6 628.439 334.315 636.579C328.029 644.719 331.359 654.702 318.413 658.033C305.466 661.364 298.442 654.338 286.609 658.033C274.776 661.728 251.111 651.007 248.894 633.987C246.678 616.978 264.421 614.011 269.229 592.193C274.037 570.375 291.417 567.044 308.058 573.332C324.699 579.619 349.103 569.733 348.739 601.115Z' fill='white'/%3E%3Cpath d='M176.848 360.721C161.364 360.935 155.367 374.409 160.54 388.087C165.712 401.765 150.185 408.063 153.879 422.115C157.573 436.168 181.614 433.212 191.23 414.35C200.846 395.488 204.251 360.346 176.848 360.721Z' fill='white'/%3E%3Cpath d='M28.3985 473.078C19.1037 480.511 14.7561 527.853 34.7379 524.779C54.7196 521.705 42.4265 515.171 57.4182 517.667C72.4098 520.163 88.3546 519.209 89.5111 498.066C90.6676 476.923 66.2632 483.649 57.4182 480.961C48.5838 478.273 38.9677 464.627 28.3985 473.078Z' fill='white'/%3E%3Cpath d='M264.464 412.497C275.258 440.549 306.794 418.099 335.546 424.922C364.298 431.744 371.698 462.806 409.048 448.014C446.399 433.223 446.538 352.998 398.029 357.229C349.521 361.46 358.762 364.416 345.815 351.477C332.869 338.538 292.649 329.841 284.51 360.913C276.372 391.986 253.649 384.402 264.464 412.508V412.497Z' fill='white'/%3E%3Cpath d='M449.344 476.055C421.299 486.852 443.743 518.395 436.922 547.154C430.101 575.913 399.047 583.314 413.835 620.674C428.623 658.033 508.829 658.172 504.599 609.652C500.369 561.132 497.414 570.375 510.349 557.426C523.285 544.476 531.98 504.246 500.915 496.106C469.85 487.966 477.432 465.237 449.333 476.055H449.344Z' fill='white'/%3E%3Cpath d='M374 121.483C361.278 121.183 363.741 139.156 359.222 139.959C354.703 140.762 343.974 129.173 342.132 139.959C340.29 150.745 350.634 152.223 349.895 159.988C349.156 167.754 330.834 182.92 359.222 192.903C387.61 202.885 386.057 174.041 397.226 167.379C408.395 160.717 429.394 176.74 434.941 158.189C440.488 139.638 429.747 123.732 417.369 125.21C404.99 126.688 401.649 140.12 393.885 137.474C386.122 134.828 388.124 121.815 374 121.472V121.483Z' fill='white'/%3E%3Cpath d='M634.116 115.345C653.498 115.806 649.74 88.4289 656.625 87.2079C663.511 85.9869 679.852 103.638 682.668 87.2079C685.484 70.7774 669.711 68.5281 670.835 56.6926C671.96 44.8571 699.866 21.7645 656.625 6.54434C613.385 -8.66509 615.752 35.2816 598.736 45.4141C581.731 55.5573 549.735 31.1472 541.286 59.4132C532.837 87.6685 549.199 111.896 568.057 109.647C586.914 107.398 592.011 86.9294 603.822 90.9674C615.634 95.0054 612.603 114.831 634.116 115.335V115.345Z' fill='white'/%3E%3Cpath d='M229.469 43.6896C222.98 60.9341 240.285 68.7209 245.082 80.685C249.89 92.649 267.902 116.084 287.423 102.567C306.944 89.0502 276.329 73.6158 293.43 64.1688C307.019 56.6605 332.773 25.0741 302.136 21.6895C283.803 19.6652 287.723 41.2904 275.108 41.5903C262.494 41.8902 242.673 8.54727 229.459 43.6896H229.469Z' fill='white'/%3E%3Cpath d='M589.762 142.605C563.195 132.611 551.212 159.26 532.783 166.672C514.354 174.084 478.256 201.846 499.084 231.922C519.901 261.999 543.674 214.817 558.237 241.177C569.802 262.106 618.461 301.8 623.665 254.597C626.781 226.353 593.467 232.383 593.007 212.943C592.547 193.503 643.904 162.966 589.773 142.605H589.762Z' fill='white'/%3E%3Cpath d='M821.373 156.796C830.09 142.476 872.58 154.065 876.521 101.635C880.055 54.6362 845.435 43.5611 827.413 44.3323C809.401 45.1035 808.641 44.0431 803.79 40.712C798.939 37.3809 783.637 11.7712 764.544 22.6749C745.451 33.5893 742.988 47.4492 743.331 56.0179C743.941 71.1737 753.932 74.5048 753.782 84.3588C753.632 94.2128 722.781 104.645 734.689 123.154C747.839 143.579 769.234 120.422 775.745 132.097C782.256 143.761 741.35 172.252 767.992 189.283C790.019 203.357 808.619 177.715 821.352 156.807L821.373 156.796Z' fill='white'/%3E%3Cpath d='M901.782 514.336C892.209 508.509 906.333 490.033 871.296 487.398C839.888 485.042 832.488 508.177 833.013 520.227C833.527 532.266 832.821 532.78 830.593 536.015C828.366 539.26 811.254 549.489 818.546 562.246C825.839 575.013 835.101 576.652 840.82 576.427C850.95 576.02 851.528 575.259 858.103 575.356C864.678 575.452 873.309 590.158 885.677 582.2C899.319 573.406 886.223 563.21 894.019 558.85C901.814 554.491 909.535 566.444 918.841 547.475C926.187 532.491 915.757 522.83 901.782 514.325V514.336Z' fill='white'/%3E%3Cpath d='M1293.46 454.28C1300.93 442.016 1337.3 451.945 1340.67 407.056C1343.69 366.815 1314.05 357.336 1298.63 358C1283.21 358.664 1282.56 357.754 1278.41 354.894C1274.25 352.034 1261.15 330.109 1244.81 339.449C1228.47 348.789 1226.36 360.656 1226.65 367.993C1227.17 380.964 1230.71 381.842 1230.58 390.272C1230.45 398.583 1209.06 409.626 1219.25 425.468C1230.51 442.959 1231.47 433.726 1237.05 443.719C1242.63 453.712 1224.96 467.508 1247.77 482.085C1266.63 494.135 1282.55 472.189 1293.45 454.28H1293.46Z' fill='white'/%3E%3Cpath d='M1104.84 227.874C1126.98 232.597 1124.26 260.606 1117.32 273.363C1110.38 286.119 1127.3 303.042 1109.28 309.983C1091.26 316.913 1094.03 301.382 1086.81 297.226C1079.59 293.071 1057.7 291.218 1059.91 269.807C1062.13 248.396 1071.56 256.439 1077.67 251.448C1083.77 246.457 1087.93 224.264 1104.84 227.874Z' fill='white'/%3E%3Cpath d='M1317.33 536.293C1339.46 541.017 1336.74 569.026 1329.81 581.782C1322.88 594.539 1339.79 611.462 1321.76 618.403C1303.74 625.333 1306.51 609.802 1299.3 605.646C1292.08 601.49 1270.18 599.637 1272.4 578.226C1274.61 556.815 1284.05 564.859 1290.15 559.868C1296.26 554.877 1300.41 532.684 1317.33 536.293Z' fill='white'/%3E%3Cpath d='M800.62 320.437C800.792 304.157 824.746 302.132 808.384 281.043C792.022 259.964 785.361 280.486 776.762 281.043C768.163 281.6 750.42 267.729 743.202 282.981C735.995 298.233 752.358 309.887 743.202 317.931C734.047 325.975 708.807 344.012 738.769 369.247C768.72 394.492 800.342 347.611 800.62 320.426V320.437Z' fill='white'/%3E%3Cpath d='M703.903 232.329C704.245 239.195 691.781 249.531 701.697 255.261C711.613 260.992 731.123 256.461 732.665 249.156C734.207 241.851 726.497 244.251 728.703 239.356C730.909 234.461 737.848 228.998 730.802 222.615C723.756 216.231 702.918 212.257 703.913 232.329H703.903Z' fill='white'/%3E%3Cpath d='M1182.06 318.241C1182.28 323.393 1174.44 331.137 1180.68 335.443C1186.92 339.749 1199.2 336.343 1200.16 330.869C1201.12 325.396 1196.27 327.195 1197.66 323.522C1199.06 319.848 1203.41 315.756 1198.98 310.969C1194.55 306.181 1181.44 303.203 1182.06 318.252V318.241Z' fill='white'/%3E%3Cpath d='M980.81 254.287C984.74 257.639 979.771 273.566 991.122 268.297C1002.47 263.027 1016.43 244.261 1013.85 239.099C1011.26 233.936 1006.07 241.669 1005.32 237.224C1004.57 232.779 1007.5 224.061 998.2 226.588C988.905 229.116 969.341 244.476 980.81 254.276V254.287Z' fill='white'/%3E%3Cpath d='M990.576 502.661C994.367 506.153 994.302 517.174 1001.76 515.803C1009.21 514.432 1015.48 503.347 1012.29 498.784C1009.1 494.221 1006.95 498.934 1005.33 495.356C1003.72 491.779 1003.91 485.792 997.386 485.545C990.865 485.299 979.493 492.464 990.576 502.661Z' fill='white'/%3E%3Cpath d='M1112.61 9.68243C1138.45 16.3767 1150.7 18.5617 1148.85 41.1188C1146.99 63.6759 1119.63 52.2153 1101.14 51.4763C1082.65 50.7372 1089.94 69.9739 1069.46 59.2416C1049 48.5201 1067.12 37.7878 1067.86 30.3865C1068.6 22.9853 1058.62 5.23742 1079.33 1.16729C1100.04 -2.90284 1092.64 4.49837 1112.61 9.67172V9.68243Z' fill='white'/%3E%3Cpath d='M756.63 588.327C782.47 595.021 794.72 597.206 792.868 619.763C791.015 642.32 763.655 630.86 745.162 630.121C726.669 629.381 733.961 648.618 713.487 637.886C693.023 627.164 711.141 616.432 711.88 609.031C712.619 601.63 702.639 583.882 723.349 579.812C744.059 575.741 736.659 583.143 756.63 588.316V588.327Z' fill='white'/%3E%3Cpath d='M873.876 196.052C909.032 196.469 901.193 204.192 909.332 210.479C917.47 216.767 927.45 213.436 930.78 226.385C934.111 239.334 927.086 246.361 930.78 258.196C934.475 270.032 923.756 293.703 906.74 295.92C889.725 298.137 886.769 280.389 864.956 275.58C843.143 270.771 839.813 253.387 846.099 236.742C852.385 220.098 842.501 195.688 873.876 196.052Z' fill='white'/%3E%3Cpath d='M1031.74 601.115C1031.32 636.279 1023.6 628.439 1017.31 636.579C1011.03 644.719 1014.36 654.702 1001.41 658.033C988.466 661.364 981.442 654.338 969.609 658.033C957.776 661.728 934.111 651.007 931.894 633.987C929.678 616.978 947.421 614.011 952.229 592.193C957.037 570.375 974.417 567.044 991.058 573.332C1007.7 579.619 1032.1 569.733 1031.74 601.115Z' fill='white'/%3E%3Cpath d='M859.848 360.721C844.364 360.935 838.367 374.409 843.539 388.087C848.712 401.765 833.185 408.063 836.879 422.115C840.573 436.168 864.614 433.212 874.23 414.35C883.846 395.488 887.251 360.346 859.848 360.721Z' fill='white'/%3E%3Cpath d='M711.399 460.974C702.104 468.408 697.756 515.75 717.738 512.676C737.72 509.602 725.426 503.068 740.418 505.564C755.41 508.059 771.355 507.106 772.511 485.963C773.668 464.82 749.263 471.546 740.418 468.858C731.584 466.169 721.968 452.524 711.399 460.974Z' fill='white'/%3E%3Cpath d='M950.901 417.992C961.695 446.043 993.232 423.594 1021.98 430.416C1050.75 437.228 1058.13 468.301 1095.49 453.509C1132.84 438.717 1132.98 358.493 1084.47 362.724C1035.96 366.954 1045.2 369.911 1032.25 356.972C1019.31 344.033 979.086 335.336 970.947 366.408C962.809 397.48 940.086 389.897 950.901 418.002V417.992Z' fill='white'/%3E%3Cpath d='M1145.66 493.739C1117.62 504.535 1140.06 536.079 1133.24 564.838C1126.42 593.596 1095.37 600.997 1110.16 638.357C1124.94 675.716 1205.15 675.856 1200.92 627.336C1196.69 578.815 1193.73 588.059 1206.67 575.109C1219.61 562.16 1228.3 521.93 1197.24 513.79C1166.17 505.649 1173.75 482.921 1145.65 493.739H1145.66Z' fill='white'/%3E%3Cpath d='M1057 121.482C1044.28 121.183 1046.74 139.155 1042.22 139.959C1037.7 140.762 1026.97 129.173 1025.13 139.959C1023.29 150.745 1033.63 152.223 1032.9 159.988C1032.16 167.753 1013.83 182.92 1042.22 192.903C1070.61 202.885 1069.06 174.041 1080.23 167.379C1091.39 160.716 1112.39 176.74 1117.94 158.189C1123.49 139.637 1112.75 123.732 1100.37 125.21C1087.99 126.688 1084.65 140.119 1076.88 137.474C1069.12 134.828 1071.12 121.815 1057 121.472V121.482Z' fill='white'/%3E%3Cpath d='M1317.12 115.345C1336.5 115.806 1332.74 88.4287 1339.63 87.2077C1346.51 85.9867 1362.85 103.638 1365.67 87.2077C1368.48 70.7772 1352.71 68.528 1353.84 56.6924C1354.96 44.8569 1382.87 21.7643 1339.63 6.54415C1296.38 -8.66529 1298.75 35.2814 1281.74 45.4139C1264.73 55.5571 1232.73 31.147 1224.29 59.413C1215.84 87.6683 1232.2 111.896 1251.06 109.647C1269.91 107.398 1275.01 86.9292 1286.82 90.9672C1298.63 95.0052 1295.6 114.831 1317.12 115.334V115.345Z' fill='white'/%3E%3Cpath d='M912.469 43.6896C905.98 60.9341 923.285 68.7209 928.082 80.685C932.89 92.649 950.901 116.084 970.423 102.567C989.944 89.0502 959.329 73.6158 976.43 64.1688C990.019 56.6605 1015.77 25.0741 985.136 21.6895C966.803 19.6652 970.723 41.2904 958.108 41.5903C945.494 41.8902 925.673 8.54727 912.458 43.6896H912.469Z' fill='white'/%3E%3Cpath d='M1292.87 167.357C1271.64 159.367 1262.06 180.671 1247.33 186.594C1232.6 192.517 1203.76 214.699 1220.4 238.745C1237.04 262.791 1256.04 225.078 1267.68 246.146C1276.92 262.877 1315.81 294.602 1319.96 256.868C1322.46 234.3 1295.83 239.109 1295.46 223.579C1295.09 208.048 1336.14 183.638 1292.87 167.357Z' fill='white'/%3E%3Cpath d='M57.6965 757.119C61.4445 772.532 25.261 793.215 57.6965 830.939C86.7697 864.753 117.342 848.987 128.875 836.412C140.408 823.837 141.629 824.041 147.101 823.023C152.573 822.006 179.943 828.904 185.415 808.831C190.887 788.759 183.263 777.834 177.309 772.329C166.761 762.593 157.841 767.059 151.362 760.365C144.884 753.67 158.537 726.047 138.18 721.634C115.725 716.771 116.892 746.58 104.728 743.131C92.5629 739.682 100.873 693.24 71.6709 699.688C47.5236 705.011 52.2246 734.616 57.6965 757.13V757.119Z' fill='white'/%3E%3Cpath d='M208.556 1178.05C198.983 1172.22 213.107 1153.74 178.069 1151.11C146.662 1148.75 139.262 1171.89 139.787 1183.94C140.301 1195.98 139.594 1196.49 137.367 1199.72C135.139 1202.96 118.027 1213.2 125.32 1225.96C132.612 1238.71 141.875 1240.36 147.593 1240.14C157.723 1239.73 158.302 1238.97 164.876 1239.07C171.451 1239.16 180.082 1253.87 192.45 1245.91C206.093 1237.12 192.997 1226.92 200.792 1222.56C208.588 1218.2 216.309 1230.15 225.614 1211.19C232.96 1196.2 222.53 1186.54 208.556 1178.04V1178.05Z' fill='white'/%3E%3Cpath d='M612.689 1127.35C618.846 1117.24 648.84 1125.42 651.625 1088.41C654.12 1055.22 629.683 1047.42 616.962 1047.96C604.24 1048.51 603.705 1047.76 600.289 1045.4C596.873 1043.05 586.068 1024.97 572.586 1032.67C559.104 1040.37 557.37 1050.16 557.616 1056.2C558.044 1066.9 560.968 1067.62 560.861 1074.57C560.753 1081.52 543.117 1090.53 551.523 1103.59C560.807 1118.01 561.599 1110.41 566.193 1118.64C570.787 1126.88 556.224 1138.26 575.028 1150.27C590.576 1160.21 603.715 1142.11 612.7 1127.34L612.689 1127.35Z' fill='white'/%3E%3Cpath d='M421.845 895.686C443.979 900.409 441.259 928.418 434.32 941.175C427.381 953.932 444.3 970.855 426.278 977.795C408.256 984.725 411.029 969.195 403.812 965.039C396.594 960.883 374.696 959.03 376.913 937.619C379.129 916.208 388.563 924.252 394.667 919.26C400.771 914.269 404.926 892.076 421.845 895.686Z' fill='white'/%3E%3Cpath d='M634.331 1204.11C656.465 1208.83 653.745 1236.84 646.806 1249.59C639.877 1262.35 656.786 1279.27 638.764 1286.21C620.742 1293.14 623.515 1277.61 616.298 1273.46C609.08 1269.3 587.182 1267.45 589.398 1246.04C591.615 1224.63 601.049 1232.67 607.153 1227.68C613.256 1222.69 617.411 1200.5 634.331 1204.11Z' fill='white'/%3E%3Cpath d='M76.0721 1016.95C76.2434 1000.67 100.198 998.649 83.8356 977.56C67.4733 956.481 60.8127 977.003 52.2139 977.56C43.6151 978.117 25.8713 964.246 18.6539 979.498C11.4472 994.751 27.8095 1006.4 18.6539 1014.45C9.49827 1022.49 -15.7413 1040.53 14.2207 1065.76C44.1719 1091.01 75.7937 1044.13 76.0721 1016.94V1016.95Z' fill='white'/%3E%3Cpath d='M32.0072 896.414C32.2214 901.566 24.3829 909.31 30.6259 913.616C36.8688 917.922 49.1406 914.516 50.1044 909.042C51.0681 903.569 46.2172 905.368 47.6093 901.695C49.0014 898.021 53.3597 893.929 48.9264 889.141C44.4932 884.354 31.3862 881.376 32.0072 896.425V896.414Z' fill='white'/%3E%3Cpath d='M501.483 973.843C501.836 982.283 488.986 994.976 499.213 1002.01C509.439 1009.05 529.539 1003.49 531.123 994.515C532.708 985.539 524.763 988.496 527.033 982.476C529.303 976.457 536.456 969.752 529.185 961.911C521.914 954.071 500.455 949.187 501.472 973.843H501.483Z' fill='white'/%3E%3Cpath d='M286.041 912.405C289.832 915.897 289.768 926.919 297.221 925.548C304.674 924.177 310.949 913.091 307.758 908.528C304.567 903.965 302.415 908.678 300.798 905.101C299.181 901.523 299.373 895.536 292.852 895.29C286.331 895.043 274.958 902.209 286.041 912.405Z' fill='white'/%3E%3Cpath d='M307.576 1170.47C311.367 1173.97 311.302 1184.99 318.755 1183.62C326.208 1182.24 332.484 1171.16 329.292 1166.6C326.101 1162.03 323.949 1166.75 322.332 1163.17C320.715 1159.59 320.908 1153.6 314.386 1153.36C307.865 1153.11 296.493 1160.28 307.576 1170.47Z' fill='white'/%3E%3Cpath d='M454.762 692.619C480.601 699.313 492.852 701.498 490.999 724.055C489.147 746.612 461.787 735.151 443.294 734.412C424.8 733.673 432.093 752.91 411.618 742.178C391.155 731.456 409.273 720.724 410.012 713.323C410.751 705.921 400.771 688.173 421.481 684.103C442.191 680.033 434.791 687.434 454.762 692.608V692.619Z' fill='white'/%3E%3Cpath d='M78.7064 1277.16C104.546 1283.86 116.796 1286.04 114.943 1308.6C113.091 1331.16 85.7311 1319.7 67.2377 1318.96C48.7444 1318.22 56.0368 1337.46 35.5624 1326.72C15.0988 1316 33.2173 1305.27 33.9562 1297.87C34.6951 1290.47 24.7149 1272.72 45.4248 1268.65C66.1348 1264.58 58.7353 1271.98 78.7064 1277.15V1277.16Z' fill='white'/%3E%3Cpath d='M190.876 876.267C226.032 876.685 218.193 884.407 226.332 890.695C234.47 896.982 244.45 893.651 247.78 906.6C251.111 919.55 244.086 926.576 247.78 938.411C251.475 950.247 240.756 973.918 223.74 976.135C206.735 978.352 203.769 960.604 181.956 955.795C160.143 950.986 156.813 933.602 163.099 916.958C169.385 900.313 159.501 875.903 190.876 876.267Z' fill='white'/%3E%3Cpath d='M348.739 1268.93C348.321 1304.09 340.6 1296.25 334.315 1304.39C328.029 1312.53 331.359 1322.51 318.413 1325.85C305.466 1329.18 298.442 1322.15 286.609 1325.85C274.776 1329.54 251.111 1318.82 248.894 1301.8C246.678 1284.79 264.421 1281.82 269.229 1260.01C274.037 1238.19 291.417 1234.86 308.058 1241.14C324.699 1247.43 349.103 1237.54 348.739 1268.93Z' fill='white'/%3E%3Cpath d='M176.848 1028.54C161.364 1028.76 155.367 1042.23 160.54 1055.91C165.712 1069.6 150.185 1075.89 153.879 1089.94C157.573 1103.99 181.614 1101.03 191.23 1082.17C200.846 1063.31 204.251 1028.17 176.848 1028.54Z' fill='white'/%3E%3Cpath d='M28.3985 1140.89C19.1037 1148.32 14.7561 1195.67 34.7379 1192.59C54.7196 1189.52 42.4265 1182.98 57.4182 1185.48C72.4098 1187.97 88.3546 1187.02 89.5111 1165.88C90.6676 1144.74 66.2632 1151.46 57.4182 1148.77C48.5838 1146.08 38.9677 1132.44 28.3985 1140.89Z' fill='white'/%3E%3Cpath d='M275.29 1089.56C286.641 1119.07 319.805 1095.45 350.045 1102.62C380.286 1109.79 388.071 1142.46 427.349 1126.9C466.627 1111.34 466.777 1026.98 415.762 1031.42C364.748 1035.87 374.46 1038.99 360.85 1025.37C347.24 1011.76 304.931 1002.62 296.375 1035.29C287.819 1067.97 263.918 1059.99 275.29 1089.55V1089.56Z' fill='white'/%3E%3Cpath d='M463.961 1144.1C435.915 1154.9 458.36 1186.44 451.539 1215.2C444.728 1243.97 413.663 1251.36 428.452 1288.72C443.24 1326.08 523.445 1326.22 519.216 1277.7C514.986 1229.18 512.03 1238.42 524.966 1225.47C537.912 1212.52 546.597 1172.29 515.532 1164.15C484.467 1156.01 492.049 1133.29 463.95 1144.1H463.961Z' fill='white'/%3E%3Cpath d='M390.202 789.295C377.48 788.995 379.943 806.968 375.424 807.771C370.905 808.564 360.175 796.985 358.334 807.771C356.492 818.557 366.836 820.035 366.097 827.8C365.358 835.566 347.036 850.732 375.424 860.715C403.812 870.697 402.259 841.853 413.428 835.191C424.597 828.529 445.596 844.552 451.143 826.001C456.69 807.45 445.949 791.544 433.57 793.022C421.192 794.5 417.851 807.932 410.087 805.286C402.334 802.641 404.326 789.627 390.202 789.284V789.295Z' fill='white'/%3E%3Cpath d='M641.676 786.296C663.95 786.821 659.634 755.363 667.548 753.96C675.461 752.556 694.233 772.832 697.467 753.96C700.701 735.087 682.582 732.495 683.878 718.892C685.174 705.3 717.245 678.748 667.548 661.268C617.85 643.788 620.57 694.289 601.027 705.943C581.485 717.596 544.712 689.555 535 722.031C525.287 754.506 544.091 782.343 565.754 779.751C587.428 777.159 593.275 753.649 606.853 758.287C620.431 762.925 616.94 785.707 641.666 786.296H641.676Z' fill='white'/%3E%3Cpath d='M243.08 743.206C236.59 760.45 253.895 768.237 258.692 780.201C263.5 792.165 281.512 815.601 301.033 802.084C320.554 788.566 289.939 773.132 307.041 763.685C320.629 756.177 346.383 724.59 315.746 721.206C297.414 719.181 301.333 740.807 288.719 741.107C276.104 741.406 256.283 708.064 243.069 743.206H243.08Z' fill='white'/%3E%3Cpath d='M608.363 821.545C582.459 811.606 570.776 838.104 552.797 845.463C534.818 852.821 499.63 880.423 519.933 910.328C540.236 940.232 563.409 893.329 577.608 919.528C588.884 940.339 636.333 979.788 641.409 932.874C644.45 904.801 611.961 910.788 611.511 891.476C611.061 872.165 661.144 841.789 608.352 821.556L608.363 821.545Z' fill='white'/%3E%3Cpath d='M772.907 740.914C776.548 755.877 741.414 775.96 772.907 812.591C801.145 845.42 830.818 830.114 842.03 817.903C853.231 805.693 854.408 805.897 859.73 804.911C865.053 803.926 891.62 810.62 896.942 791.126C902.253 771.633 894.854 761.029 889.071 755.684C878.834 746.237 870.171 750.564 863.875 744.063C857.674 737.658 870.835 710.731 851.078 706.457C829.276 701.733 830.411 730.674 818.6 727.332C806.788 723.991 814.862 678.898 786.496 685.142C763.045 690.316 767.607 719.064 772.929 740.914H772.907Z' fill='white'/%3E%3Cpath d='M839.513 1158.17C829.94 1152.34 844.064 1133.86 809.027 1131.23C777.619 1128.87 770.22 1152.01 770.744 1164.06C771.258 1176.1 770.551 1176.61 768.324 1179.85C766.097 1183.08 748.985 1193.32 756.277 1206.08C763.57 1218.83 772.832 1220.48 778.551 1220.26C788.681 1219.85 789.259 1219.09 795.834 1219.19C802.409 1219.28 811.04 1233.99 823.408 1226.03C837.05 1217.24 823.954 1207.04 831.75 1202.68C839.545 1198.32 847.266 1210.27 856.572 1191.31C863.918 1176.32 853.488 1166.66 839.513 1158.16V1158.17Z' fill='white'/%3E%3Cpath d='M1293.46 1122.09C1300.93 1109.83 1337.3 1119.76 1340.67 1074.87C1343.69 1034.63 1314.05 1025.15 1298.63 1025.81C1283.21 1026.48 1282.56 1025.57 1278.41 1022.71C1274.25 1019.85 1261.15 997.921 1244.81 1007.26C1228.47 1016.6 1226.36 1028.47 1226.65 1035.81C1227.17 1048.78 1230.71 1049.65 1230.58 1058.08C1230.45 1066.4 1209.06 1077.44 1219.25 1093.28C1230.51 1110.77 1231.47 1101.54 1237.05 1111.53C1242.63 1121.52 1224.96 1135.32 1247.77 1149.9C1266.63 1161.95 1282.55 1140 1293.45 1122.09H1293.46Z' fill='white'/%3E%3Cpath d='M1136.11 801.569C1158.25 806.293 1155.53 834.302 1148.59 847.058C1141.65 859.815 1158.57 876.738 1140.55 883.679C1122.52 890.609 1125.3 875.078 1118.08 870.922C1110.86 866.766 1088.96 864.913 1091.18 843.502C1093.4 822.091 1102.83 830.135 1108.94 825.144C1115.04 820.153 1119.19 797.96 1136.11 801.569Z' fill='white'/%3E%3Cpath d='M1317.33 1204.11C1339.46 1208.83 1336.74 1236.84 1329.81 1249.59C1322.88 1262.35 1339.79 1279.27 1321.76 1286.21C1303.74 1293.14 1306.51 1277.61 1299.3 1273.46C1292.08 1269.3 1270.18 1267.45 1272.4 1246.04C1274.61 1224.63 1284.05 1232.67 1290.15 1227.68C1296.26 1222.69 1300.41 1200.5 1317.33 1204.11Z' fill='white'/%3E%3Cpath d='M741.853 997.096C726.39 992.009 731.701 968.552 706.665 977.774C681.629 986.996 699.169 999.549 697.103 1007.91C695.036 1016.28 676.446 1029 688.804 1040.5C701.161 1051.99 717.213 1039.91 722.107 1051.07C727.001 1062.23 736.552 1091.75 769.663 1070.83C802.783 1049.91 767.671 1005.59 741.853 997.096Z' fill='white'/%3E%3Cpath d='M686.512 854.47C686.726 859.622 678.888 867.366 685.131 871.672C691.374 875.978 703.646 872.572 704.609 867.099C705.573 861.625 700.722 863.425 702.114 859.751C703.506 856.077 707.865 851.985 703.431 847.198C698.998 842.41 685.891 839.432 686.512 854.481V854.47Z' fill='white'/%3E%3Cpath d='M1182.06 986.053C1182.28 991.205 1174.44 998.949 1180.68 1003.25C1186.92 1007.56 1199.2 1004.15 1200.16 998.681C1201.12 993.208 1196.27 995.008 1197.66 991.334C1199.06 987.66 1203.41 983.568 1198.98 978.781C1194.55 973.993 1181.44 971.015 1182.06 986.064V986.053Z' fill='white'/%3E%3Cpath d='M986.774 849.811C990.565 853.303 990.501 864.324 997.954 862.953C1005.41 861.582 1011.68 850.497 1008.49 845.934C1005.3 841.371 1003.15 846.084 1001.53 842.506C999.914 838.929 1000.11 832.942 993.585 832.695C987.064 832.449 975.691 839.614 986.774 849.811Z' fill='white'/%3E%3Cpath d='M968.345 1175.81C972.136 1179.3 972.072 1190.32 979.525 1188.95C986.978 1187.58 993.253 1176.49 990.062 1171.93C986.871 1167.37 984.718 1172.08 983.101 1168.5C981.485 1164.92 981.677 1158.94 975.156 1158.69C968.635 1158.44 957.262 1165.61 968.345 1175.81Z' fill='white'/%3E%3Cpath d='M1114.43 705.611C1140.27 712.305 1152.52 714.49 1150.67 737.047C1148.81 759.604 1121.45 748.143 1102.96 747.404C1084.47 746.665 1091.76 765.902 1071.28 755.17C1050.82 744.448 1068.94 733.716 1069.68 726.315C1070.42 718.913 1060.44 701.166 1081.15 697.095C1101.86 693.025 1094.46 700.427 1114.43 705.6V705.611Z' fill='white'/%3E%3Cpath d='M761.717 1277.16C787.556 1283.86 799.807 1286.04 797.954 1308.6C796.102 1331.16 768.742 1319.7 750.248 1318.96C731.755 1318.22 739.047 1337.46 718.573 1326.72C698.109 1316 716.228 1305.27 716.967 1297.87C717.706 1290.47 707.726 1272.72 728.435 1268.65C749.145 1264.58 741.746 1271.98 761.717 1277.15V1277.16Z' fill='white'/%3E%3Cpath d='M889.607 865.535C924.762 865.952 916.924 873.675 925.062 879.962C933.2 886.25 943.181 882.918 946.511 895.868C949.841 908.817 942.817 915.844 946.511 927.679C950.205 939.515 939.486 963.186 922.471 965.403C905.466 967.62 902.5 949.872 880.687 945.063C858.874 940.254 855.544 922.87 861.829 906.225C868.115 889.581 858.231 865.171 889.607 865.535Z' fill='white'/%3E%3Cpath d='M1031.74 1268.93C1031.32 1304.09 1023.6 1296.25 1017.31 1304.39C1011.03 1312.53 1014.36 1322.51 1001.41 1325.85C988.466 1329.18 981.442 1322.15 969.609 1325.85C957.776 1329.54 934.111 1318.82 931.894 1301.8C929.678 1284.79 947.421 1281.82 952.229 1260.01C957.037 1238.19 974.417 1234.86 991.058 1241.14C1007.7 1247.43 1032.1 1237.54 1031.74 1268.93Z' fill='white'/%3E%3Cpath d='M899.833 1043.05C884.349 1043.26 878.352 1056.73 883.524 1070.41C888.697 1084.1 873.169 1090.39 876.864 1104.44C880.558 1118.49 904.598 1115.54 914.215 1096.68C923.831 1077.81 927.236 1042.67 899.833 1043.05Z' fill='white'/%3E%3Cpath d='M756.234 899.413C746.94 906.847 742.592 954.189 762.574 951.115C782.556 948.041 770.262 941.507 785.254 944.003C800.246 946.498 816.191 945.545 817.347 924.402C818.504 903.258 794.099 909.985 785.254 907.296C776.42 904.608 766.804 890.962 756.234 899.413Z' fill='white'/%3E%3Cpath d='M1003.21 1076.86C1006.29 1098.15 1031.86 1087.5 1050.85 1096.83C1069.84 1106.15 1070.06 1129.01 1098.48 1124.62C1126.9 1120.23 1139.74 1064.27 1105.21 1059.51C1070.67 1054.75 1076.66 1058.29 1069.68 1047.19C1062.71 1036.09 1036.01 1023.64 1025.39 1044.03C1014.78 1064.42 1000.12 1055.51 1003.2 1076.85L1003.21 1076.86Z' fill='white'/%3E%3Cpath d='M1145.66 1161.55C1117.62 1172.35 1140.06 1203.89 1133.24 1232.65C1126.43 1261.42 1095.37 1268.81 1110.16 1306.17C1124.94 1343.53 1205.15 1343.67 1200.92 1295.15C1196.69 1246.63 1193.73 1255.87 1206.67 1242.92C1219.62 1229.97 1228.3 1189.74 1197.24 1181.6C1166.17 1173.46 1173.75 1150.73 1145.65 1161.55H1145.66Z' fill='white'/%3E%3Cpath d='M1041.43 910.478C1028.71 910.178 1031.17 928.15 1026.65 928.954C1022.13 929.746 1011.4 918.168 1009.56 928.954C1007.72 939.74 1018.06 941.218 1017.33 948.983C1016.59 956.748 998.264 971.915 1026.65 981.898C1055.04 991.88 1053.49 963.036 1064.66 956.374C1075.82 949.711 1096.82 965.735 1102.37 947.184C1107.92 928.632 1097.18 912.727 1084.8 914.205C1072.42 915.683 1069.08 929.114 1061.32 926.469C1053.56 923.823 1055.55 910.81 1041.43 910.467V910.478Z' fill='white'/%3E%3Cpath d='M1317.12 783.168C1336.5 783.629 1332.74 756.252 1339.63 755.03C1346.51 753.809 1362.85 771.461 1365.67 755.03C1368.48 738.6 1352.71 736.351 1353.84 724.515C1354.96 712.68 1382.87 689.587 1339.63 674.367C1296.38 659.157 1298.75 703.104 1281.74 713.237C1264.73 723.38 1232.73 698.97 1224.29 727.236C1215.84 755.491 1232.2 779.719 1251.06 777.47C1269.91 775.22 1275.01 754.752 1286.82 758.79C1298.63 762.828 1295.6 782.654 1317.12 783.157V783.168Z' fill='white'/%3E%3Cpath d='M912.469 711.502C905.98 728.746 923.285 736.533 928.082 748.497C932.89 760.461 950.901 783.896 970.423 770.379C989.944 756.862 959.329 741.428 976.43 731.981C990.019 724.473 1015.77 692.886 985.136 689.502C966.803 687.477 970.723 709.102 958.108 709.402C945.494 709.702 925.673 676.359 912.458 711.502H912.469Z' fill='white'/%3E%3Cpath d='M1292.87 835.169C1271.64 827.179 1262.06 848.483 1247.33 854.406C1232.6 860.329 1203.76 882.511 1220.4 906.557C1237.04 930.603 1256.04 892.89 1267.68 913.958C1276.92 930.689 1315.81 962.414 1319.96 924.68C1322.46 902.112 1295.83 906.921 1295.46 891.391C1295.09 875.86 1336.14 851.45 1292.87 835.169Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_547_2729'%3E%3Crect width='1366' height='1333' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.sidebar-layout {
	display: flex;
	align-items: stretch;
	gap: 24px;

	@include max(laptop) {
		gap: 12px;
	}

	@include max(tablet) {
		flex-direction: column;
		gap: 30px;
	}

	@include max(xs) {
		gap: 20px;
	}

	&__sidebar {
		flex: 0 0 496px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 10px;

		@include max(large) {
			flex: 0 0 400px;
		}

		@include max(laptop) {
			flex: 0 0 280px;
		}

		@include max(tablet) {
			flex: 0 0 auto;
		}
	}

	&__bottom {
		margin-top: auto;

		@include max(tablet) {
			margin-top: 20px;
		}
	}

	&__main {
		flex: 1 1 auto;
	}
}

iframe {
	width: 100%;
	display: block;
	aspect-ratio: 16 / 9;
	height: auto;
}

.title-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.text-editor {
	color: $c-text-light;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;

	@include max(xs) {
		font-size: 14px;
	}

	&--light {
		color: $c-white;
	}

	>*:first-child {
		margin-top: 0 !important;
	}

	>*:last-child {
		margin-bottom: 0 !important;
	}

	h2 {
		font-family: $ff-tiktok;
		font-weight: 500;
		font-size: 20px;
		line-height: 100%;
		text-transform: uppercase;

		@include max(xs) {
			font-size: 18px;
		}

		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 156.25%;
		}
	}

	p {
		display: block;
	}

	h2,
	p,
	ul,
	iframe,
	video,
	img {
		margin: 0 0 1.33em;
	}

	ul {
		padding-left: 1.5em;
		list-style: none;

		@include max(tablet) {
			padding-left: 1em;
		}
	}

	ul>li {
		position: relative;
	}

	ul>li+li {
		margin-top: 0.625em;
	}

	ul>li::before {
		content: '';
		position: absolute;
		top: 0.625em;
		left: -0.825em;
		width: 0.25em;
		height: 0.25em;
		background-color: $c-text-light;
		border-radius: 100%;
	}

	h2,
	.te-media,
	.te-note {
		margin-top: 50px;

		@include max(mobile) {
			margin-top: 30px;
		}
	}

	.te-media,
	.te-note {
		margin-bottom: 50px;

		@include max(mobile) {
			margin-bottom: 30px;
		}
	}

	.te-media {
		img {
			margin-bottom: 0;
		}
	}

	.te-media {
		img {
			width: 100%;
			height: auto;
		}

		video {
			width: 100%;
			height: auto;
			aspect-ratio: 16 / 9;
		}

		&__caption {
			margin-top: 15px;
			text-align: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			color: #5E5E5E;

			@include max(xs) {
				font-size: 10px;
				margin-top: 10px;
			}
		}
	}

	.te-note {
		position: relative;
		padding-left: 50px;
		font-weight: 400;
		font-size: 16px;
		line-height: 156.25%;
		color: $c-text-light;

		@include max(mobile) {
			padding-left: 32px;
		}

		@include max(xs) {
			padding-left: 24px;
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 20px;
			height: 20px;
			background-size: 100% 100%;

			@include max(mobile) {
				width: 15px;
				height: 15px;
			}

			@include max(xs) {
				width: 12px;
				height: 12px;
			}
		}

		&--question::before {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.5' cy='10.5' r='9.5' stroke='%23219653' stroke-width='2'/%3E%3Cpath d='M8 8.5C8 8.08887 8.10139 7.68409 8.2952 7.32151C8.489 6.95893 8.76923 6.64974 9.11107 6.42133C9.45291 6.19292 9.84581 6.05234 10.255 6.01204C10.6641 5.97174 11.0769 6.03297 11.4567 6.1903C11.8365 6.34763 12.1717 6.59621 12.4325 6.91402C12.6933 7.23182 12.8718 7.60905 12.952 8.01227C13.0322 8.4155 13.0117 8.83229 12.8924 9.22571C12.773 9.61914 12.5585 9.97706 12.2678 10.2678C11.6785 10.6785 11 11.3 11 12.5' stroke='%23219653' stroke-width='2' stroke-linecap='round'/%3E%3Ccircle cx='11' cy='15' r='1' fill='%23219653'/%3E%3C/svg%3E%0A");
		}

		&--attention::before {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.5' cy='10.5' r='9.5' stroke='%23EB5757' stroke-width='2'/%3E%3Cpath d='M10.5 10L10.5 15M10.5 6L10.5 7' stroke='%23EB5757' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
	}

	ul>ul,
	ol>ul,
	ul>ol,
	ol>ol {
		padding-left: 0.75em;

		@include max(tablet) {
			padding-left: 0.5em;
		}
	}

	.text-scroll-h {
		width: 100%;
		overflow: auto;
		margin-bottom: 26px;
		padding-bottom: 6px;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-track {
			background-color: $c-bg-main;
			border-radius: 2px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $c-text-light;
			border-radius: 2px;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	table {
		width: 100%;
		font-weight: 500;
		border-collapse: separate;
		border-spacing: 1px;

		th,
		td {
			padding: 16px 20px;
			color: $c-text;
			font-weight: 400;
			font-size: 14px;
			line-height: 157%;
			text-align: start;

			@include max(tablet) {
				padding: 12px 15px;
			}

			@include max(mobile) {
				padding: 6px 10px;
				font-size: 12px;
				min-width: 100px;
			}
		}

		th {
			font-weight: 600;
		}

		tbody tr:nth-child(odd) td,
		tbody tr:nth-child(odd) th {
			background-color: $c-bg-main;
		}

		.flex {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;

			&__title {
				flex: 1 1 auto;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__icon {
				flex: 0 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			a.flex__icon {
				cursor: pointer;
				transition: all $tr;

				&:hover {
					opacity: 0.7;
				}
			}

			svg {
				width: 14px;
				height: 14px;
			}
		}

		a {
			text-decoration: underline;
			transition: all $tr;

			&:hover {
				opacity: 0.7;
			}
		}

		.green {
			color: #01A848;
		}

		.grey {
			color: $c-text-light;
		}

		.blue {
			color: $c-link;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.collapsible-text {
		&__btn {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-top: 15px;
			color: $c-text;
			transition: all $tr;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			padding: 12px 15px 12px 18px;
			background-color: $c-bg-main;
			border-radius: 5px;
			cursor: pointer;

			.show {
				display: block;
			}

			.hide {
				display: none;
			}

			svg {
				width: 14px;
				height: 14px;
				color: $c-text-light;
				transition: all $tr;
			}

			&:hover {
				background-color: $c-accent;
				color: $c-white;

				svg {
					color: $c-white;
				}
			}
		}

		&--opened .collapsible-text__btn {
			.show {
				display: none;
			}

			.hide {
				display: block;
			}

			svg {
				transform: rotate(-180deg);
			}
		}

		.collapsible-text__wrapper {
			margin-bottom: 0;
			overflow: hidden;
			transition: all $tr;
		}
	}

}

.custom-scrollbar {
	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}

	.simplebar-wrapper {
		padding-bottom: 5px;
	}

	.simplebar-track {
		background-color: $c-bg-main;
		opacity: 0.5;

	}

	.simplebar-scrollbar {
		background-color: $c-text-light;
	}

	.simplebar-track.simplebar-vertical {
		width: 3px;
	}

	.simplebar-track.simplebar-horizontal {
		height: 3px;
	}

	.simplebar-content-wrapper::-webkit-scrollbar,
	.simplebar-hide-scrollbar::-webkit-scrollbar {
		display: initial;
		width: initial;
		height: initial;
	}
}

.my-fancybox {
	.fancybox__viewport {
		.fancybox__slide {
			padding-left: 20px;
			padding-right: 20px;

			@include max(tablet) {
				padding-left: 20px;
				padding-right: 20px;
			}

			@include max(mobile) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.fancybox__content {
			max-width: 1200px;
			max-height: 800px;
			overflow: hidden;
			padding: 0;

			@include max(tablet) {
				max-width: 840px;
				max-height: 560px;
			}

			@include max(mobile) {
				max-width: 335px;
				max-height: none;
			}
		}

	}

	.f-thumbs {
		@include max(mobile) {
			padding: 0 20px 8px;
		}

		.f-thumbs__slide {
			width: 100px;
			height: 67px;
			margin: 0 10px 0 0;

			@include max(tablet) {
				width: 100px;
				height: 67px;
				margin: 0 10px 0 0;
			}

			@include max(mobile) {
				width: 80px;
				height: 54px;
				margin: 0 5px 0 0;
			}

			&__button {
				width: 100%;
				opacity: 1;

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: auto;
					bottom: 0;
					border: 2px solid $c-accent;
					border-radius: 5px;
					animation: f-fadeIn 0.2s ease-out;
					z-index: 10;

					@include max(tablet) {
						border-radius: 5px;
					}

					@include max(mobile) {
						border-radius: 5px;
					}
				}
			}

			&__img {
				border-radius: 5px;

				@include max(tablet) {
					border-radius: 5px;
				}

				@include max(mobile) {
					border-radius: 5px;
				}
			}
		}

		.f-thumbs__slide.is-nav-selected {
			.f-thumbs__slide__button {
				&:after {
					border: 2px solid $c-accent;
					border-radius: 5px;

					@include max(tablet) {
						border-radius: 5px;
					}

					@include max(mobile) {
						border-radius: 5px;
					}
				}
			}
		}
	}

	.fancybox__toolbar {
		.f-button[data-fancybox-close] {
			border-radius: 50%;
			margin-top: 40px;
			margin-right: 40px;
			width: 50px;
			height: 50px;
			outline: none;

			&:hover {
				background-color: $c-accent;
			}

			@include max(tablet) {
				margin-top: 30px;
				margin-right: 30px;
				width: 50px;
				height: 50px;
			}

			@include max(mobile) {
				margin-top: 20px;
				margin-right: 20px;
				width: 50px;
				height: 50px;
			}

			svg {
				width: 32px;
				height: 32px;
				color: $c-white;

				@include max(tablet) {
					width: 32px;
					height: 32px;
				}

				@include max(mobile) {
					width: 32px;
					height: 32px;
				}
			}
		}
	}

	.fancybox__nav {
		.f-button {
			background-color: $c-white;
			width: 50px;
			height: 50px;
			border: none;

			@include max(tablet) {
				width: 50px;
				height: 50px;
			}

			@include max(mobile) {
				display: none;
			}

			svg {
				width: 7.5px;
				height: 13.5px;
				color: $c-accent;
				box-shadow: none;
				filter: none;

				@include max(tablet) {
					width: 10px;
					height: 18px;
				}

				@include max(mobile) {
					width: 10px;
					height: 18px;
				}
			}

			&:hover {
				background-color: $c-accent;

				svg {
					color: $c-white
				}
			}
		}

		.f-button.is-prev {
			left: 40px;

			@include max(tablet) {
				left: 30px;
			}
		}

		.f-button.is-next {
			right: 40px;
			transform: rotate(-180deg);

			@include max(tablet) {
				right: 30px;
			}
		}
	}
}